In [2]:
from assign_unique_ids_functions import *
import pandas as pd

In [3]:
df = pd.read_csv("../input/investigators.csv.gz")

In [4]:
print(df.columns)
df.head()

Index(['Current.Rank', 'CRID', 'Current.Unit', 'Appointed.Date',
       'Current.Star', 'Last.Name', 'First.Name_NS', 'First.Name',
       'Last.Name_NS', 'Middle.Initial', 'Suffix.Name'],
      dtype='object')

,Current.Rank,CRID,Current.Unit,Appointed.Date,Current.Star,Last.Name,First.Name_NS,First.Name,Last.Name_NS,Middle.Initial,Suffix.Name
0,LIEUTENANT OF POLICE,258996,13.0,1986-06-16,NaN,SCHWIEGER,STEVEN,STEVEN,SCHWIEGER,NaN,NaN
1,SERGEANT OF POLICE,258997,8.0,1970-12-14,NaN,MULLIGAN,MICHAEL,MICHAEL,MULLIGAN,NaN,JR
2,LIEUTENANT OF POLICE,258998,608.0,1985-07-01,NaN,MC MAHON,MAUREEN,MAUREEN,MCMAHON,NaN,NaN
3,SUPERVISING INV IPRA,258999,113.0,1995-09-16,NaN,DEAN,BRUCE,BRUCE,DEAN,NaN,NaN
4,SERGEANT OF POLICE,259000,20.0,1973-07-16,NaN,LABERN,LINDA,LINDA,LABERN,NaN,NaN

In [12]:
dfu = df[['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
         'Current.Unit', 'Current.Rank', 'Appointed.Date', 'Current.Star',
          "First.Name_NS", "Last.Name_NS"]].drop_duplicates()
print(dfu.shape)

(3198, 10)

In [13]:
id_cols = ["First.Name", "Last.Name", "Suffix.Name"]
kd = keep_duplicates(dfu, id_cols)
print(kd.shape)
kd

(131, 10)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Current.Unit,Current.Rank,Appointed.Date,Current.Star,First.Name_NS,Last.Name_NS
9109,ALLEN,BOEHMER,NaN,NaN,121.0,SERGEANT OF POLICE,1956-05-16,NaN,ALLEN,BOEHMER
27672,ALLEN,BOEHMER,NaN,NaN,543.0,SERGEANT OF POLICE,1985-07-01,NaN,ALLEN,BOEHMER
683,AUGUST,ANNERINO,NaN,NaN,9.0,SERGEANT OF POLICE,1976-10-18,NaN,AUGUST,ANNERINO
4847,AUGUST,ANNERINO,NaN,NaN,142.0,LIEUTENANT OF POLICE,1961-01-09,NaN,AUGUST,ANNERINO
63413,BRIAN,CALLAGHAN,NaN,NaN,15.0,SERGEANT OF POLICE,1999-03-08,1627.0,BRIAN,CALLAGHAN
68296,BRIAN,CALLAGHAN,NaN,NaN,153.0,POLICE OFFICER,1995-09-05,16423.0,BRIAN,CALLAGHAN
486,CHARLES,DALY,NaN,NaN,19.0,SERGEANT OF POLICE,1970-03-02,NaN,CHARLES,DALY
53070,CHARLES,DALY,NaN,NaN,193.0,SERGEANT OF POLICE,1994-08-01,1139.0,CHARLES,DALY
91,CHARLES,WILLIAMS,NaN,NaN,142.0,DEPUTY SUPT.,1975-05-16,NaN,CHARLES,WILLIAMS
3151,CHARLES,WILLIAMS,NaN,NaN,610.0,SERGEANT OF POLICE,1982-06-14,NaN,CHARLES,WILLIAMS
11603,DANIEL,GALLAGHER,NaN,NaN,167.0,SERGEANT OF POLICE,1966-07-11,NaN,DANIEL,GALLAGHER
97819,DANIEL,GALLAGHER,NaN,NaN,376.0,SERGEANT OF POLICE,2000-10-10,NaN,DANIEL,GALLAGHER
42186,DAVID,SEPULVEDA,NaN,NaN,8.0,POLICE OFFICER,1970-03-02,NaN,DAVID,SEPULVEDA
43993,DAVID,SEPULVEDA,NaN,NaN,7.0,SERGEANT OF POLICE,1998-06-29,1610.0,DAVID,SEPULVEDA
2532,DENNIS,CONNELLY,NaN,NaN,19.0,SERGEANT OF POLICE,1987-04-13,NaN,DENNIS,CONNELLY
36067,DENNIS,CONNELLY,NaN,NaN,376.0,SERGEANT OF POLICE,1997-03-17,NaN,DENNIS,CONNELLY
129743,EDWARD,DOUGHERTY,NaN,NaN,8.0,SERGEANT OF POLICE,1997-09-02,2491.0,EDWARD,DOUGHERTY
129766,EDWARD,DOUGHERTY,NaN,NaN,188.0,POLICE OFFICER,1969-05-12,NaN,EDWARD,DOUGHERTY
29646,GABRIEL,FLORES,NaN,NaN,8.0,SERGEANT OF POLICE,1996-12-02,2187.0,GABRIEL,FLORES
52610,GABRIEL,FLORES,NaN,NaN,121.0,SERGEANT OF POLICE,1995-12-04,2129.0,GABRIEL,FLORES
128392,GINA,MACK,NaN,NaN,135.0,COMMUNITY ORGANIZER,1999-10-01,NaN,GINA,MACK
128802,GINA,MACK,NaN,NaN,113.0,INVESTIGATOR I IPRA,2015-04-20,NaN,GINA,MACK
1329,HENRY,THOMAS,NaN,NaN,23.0,SERGEANT OF POLICE,1973-03-19,NaN,HENRY,THOMAS
27264,HENRY,THOMAS,NaN,NaN,620.0,PO AS DETECTIVE,1997-09-02,20455.0,HENRY,THOMAS
2256,JAMES,ELDRIDGE,NaN,NaN,166.0,SERGEANT OF POLICE,1988-05-02,NaN,JAMES,ELDRIDGE
13246,JAMES,ELDRIDGE,NaN,NaN,8.0,SERGEANT OF POLICE,1972-10-23,NaN,JAMES,ELDRIDGE
3423,JAMES,KEATING,NaN,NaN,20.0,SERGEANT OF POLICE,1968-11-25,NaN,JAMES,KEATING
54171,JAMES,KEATING,NaN,NaN,1.0,POLICE OFFICER,1968-07-08,NaN,JAMES,KEATING
13192,JAMES,MC GOVERN,NaN,NaN,19.0,CAPTAIN OF POLICE,1973-03-19,NaN,JAMES,MCGOVERN
42153,JAMES,MC GOVERN,NaN,NaN,166.0,SERGEANT OF POLICE,1993-11-22,NaN,JAMES,MCGOVERN
...,...,...,...,...,...,...,...,...,...,...
57915,RICHARD,MC FARLANE,NaN,NaN,176.0,POLICE OFFICER,1957-07-01,NaN,RICHARD,MCFARLANE
247,RICHARD,WISER,NaN,NaN,620.0,SERGEANT OF POLICE,1990-03-26,2030.0,RICHARD,WISER
11904,RICHARD,WISER,NaN,NaN,7.0,POLICE OFFICER,1962-08-06,NaN,RICHARD,WISER
819,ROBERT,JOHNSON,NaN,NaN,9.0,CAPTAIN OF POLICE,1971-02-22,NaN,ROBERT,JOHNSON
2520,ROBERT,JOHNSON,NaN,NaN,4.0,LIEUTENANT OF POLICE,1983-02-14,NaN,ROBERT,JOHNSON
44703,ROBERT,JOHNSON,NaN,NaN,4.0,POLICE OFFICER,1986-02-03,NaN,ROBERT,JOHNSON
4142,ROBERT,WALKER,NaN,NaN,3.0,COMMANDER,1966-02-28,NaN,ROBERT,WALKER
125992,ROBERT,WALKER,NaN,NaN,4.0,SERGEANT OF POLICE,1998-09-28,2371.0,ROBERT,WALKER
1985,RUSSELL,WILLINGHAM,NaN,NaN,145.0,SERGEANT OF POLICE,1987-04-13,NaN,RUSSELL,WILLINGHAM
117504,RUSSELL,WILLINGHAM,NaN,NaN,8.0,SERGEANT OF POLICE,1999-05-10,1377.0,RUSSELL,WILLINGHAM
37963,STEVEN,MARTIN,NaN,NaN,8.0,SERGEANT OF POLICE,1991-01-02,1871.0,STEVEN,MARTIN
38625,STEVEN,MARTIN,NaN,NaN,10.0,SERGEANT OF POLICE,1986-10-13,NaN,STEVEN,MARTIN
1626,STEVEN,WILSON,NaN,NaN,55.0,SERGEANT OF POLICE,1983-02-14,NaN,STEVEN,WILSON
124988,STEVEN,WILSON,NaN,NaN,5.0,SERGEANT OF POLICE,1998-06-08,1822.0,STEVEN,WILSON
2685,TERRENCE,MC MAHON,NaN,NaN,312.0,LIEUTENANT OF POLICE,1986-06-16,663.0,TERRENCE,MCMAHON
38003,TERRENCE,MC MAHON,NaN,NaN,4.0,CAPTAIN OF POLICE,1973-06-04,NaN,TERRENCE,MCMAHON
6766,THOMAS,BARNETT,NaN,NaN,184.0,SERGEANT OF POLICE,1966-06-01,NaN,THOMAS,BARNETT
123233,THOMAS,BARNETT,NaN,NaN,11.0,SERGEANT OF POLICE,2000-01-24,2102.0,THOMAS,BARNETT
5370,THOMAS,KEANE,NaN,NaN,606.0,LIEUTENANT OF POLICE,1971-10-12,NaN,THOMAS,KEANE
69197,THOMAS,KEANE,NaN,NaN,610.0,SERGEANT OF POLICE,1999-03-08,1588.0,THOMAS,KEANE
242,THOMAS,MC DERMOTT,NaN,NaN,22.0,SERGEANT OF POLICE,1986-08-11,834.0,THOMAS,MCDERMOTT
52331,THOMAS,MC DERMOTT,NaN,NaN,188.0,PO AS DETECTIVE,1963-10-01,NaN,THOMAS,MCDERMOTT
8411,THOMAS,RYAN,NaN,NaN,148.0,SERGEANT OF POLICE,1973-10-22,NaN,THOMAS,RYAN
68993,THOMAS,RYAN,NaN,NaN,12.0,SERGEANT OF POLICE,2001-05-29,2038.0,THOMAS,RYAN
1232,THOMAS,SHOUSE,NaN,NaN,14.0,CAPTAIN OF POLICE,1990-03-26,87.0,THOMAS,SHOUSE
2365,THOMAS,SHOUSE,NaN,NaN,13.0,SERGEANT OF POLICE,1981-04-13,NaN,THOMAS,SHOUSE
3218,TIMOTHY,KENNEDY,NaN,NaN,1.0,SERGEANT OF POLICE,1985-07-01,NaN,TIMOTHY,KENNEDY
3763,TIMOTHY,KENNEDY,NaN,NaN,2.0,LIEUTENANT OF POLICE,1993-12-13,302.0,TIMOTHY,KENNEDY
1753,WAYNE,WIBERG,NaN,NaN,24.0,COMMANDER,1966-07-18,NaN,WAYNE,WIBERG
34841,WAYNE,WIBERG,NaN,NaN,20.0,LIEUTENANT OF POLICE,1994-05-02,514.0,WAYNE,WIBERG

In [17]:
id_cols = ["First.Name", "Last.Name", "First.Name_NS", "Last.Name_NS", "Appointed.Date", 'Middle.Initial']
kd = keep_duplicates(dfu, id_cols)
print(kd)
print(kd.shape)

Empty DataFrame
Columns: [First.Name, Last.Name, Middle.Initial, Suffix.Name, Current.Unit, Current.Rank, Appointed.Date, Current.Star, First.Name_NS, Last.Name_NS]
Index: []
(0, 10)

In [18]:
dfu['Current.Rank'].unique()

array(['LIEUTENANT OF POLICE', 'SERGEANT OF POLICE',
       'SUPERVISING INV IPRA', 'INVESTIGATOR 2 IPRA',
       'INVESTIGATOR 3 IPRA', 'CHIEF', 'CAPTAIN OF POLICE',
       'TRAINING OFFICER', 'DEP CHIEF', 'INVESTIGATOR I IPRA',
       'POLICE OFFICER', 'POLICE AGENT', 'COMMANDER', 'PO AS DETECTIVE',
       'DEPUTY SUPT.', 'SUPT OF POLICE', 'ADMIN. MANAGER',
       'CHIEF A/P SUPV', 'PO LEGAL OFF 2', 'FIRST DEPUTY SUPT.',
       'SUPV POLICE COMM', 'POL FORENSIC INV II',
       'ASSISTANT SUPERINTENDENT', 'POLICE ADMINISTRATIVE CLERK',
       'DIR RESEARCH/PLANING', 'HEAD CASHIER', 'PO/MOUNTED PAT OFF.',
       'SUPVR HEALTH NURSE', 'SUPV.CROSSING GUARD', 'PO/FIELD TRNING OFF',
       'ADMIN. IN CHARGE IPRA', 'INTAKE AIDE', 'CHIEF HELICOPTER PILOT',
       'CLERK 4', 'COOR /INVESTIGATIONS', 'PO ASGN EVID. TECHNI',
       'INVESTIGATOR', 'MGR POL SYSTEMS SUPP', 'SUPRV CLERK',
       'ASST DEPUTY SUP', 'MGR DATA ENTRY &OPR', 'DIR POLICE FINANCE',
       'HELP DESK MGR', 'DIRECTOR OF CAPS', 'CUSTODIAL WORKER',
       'STAFF ASSISTANT', 'TRAFFIC  CONTROL AIDE', 'POLICE COMM OPER 2',
       'MGR VEH MAINTANCE', 'FOREMAN OF ELEC MECH', 'CROSSING GUARD',
       'MGR OF NETWORK SUPPO', 'MGR VEHICLE ADJ', 'PO/MARINE OFFICER',
       'CRIM HIST ANAL', 'CAPS COORDINATOR', 'MANAGER OF POLICE RECORDS',
       'AREA COORDINATOR', 'EXPL TECH 3', 'PR TELECOMM SPEC.',
       'GAR ATT IN CHARGE', 'PO ASSG CANINE HANDL', 'ASST SUPV POLICE REC',
       'DIR PERSONNEL SERV', 'F/P TECH 3', 'ADMIN ASSIST 2',
       'CHIEF DATA BASE ANAL', 'ASST DIR INF SYSTEMS', 'ASST MGR FINANCE',
       'RECORD CLK', 'SPECIAL ASSIST', 'MGR DATA ENTRY OPERS',
       'SR PROG/ANALY', 'COMM OF GENL SUPPORT', 'POL FORENSIC INV III',
       'DIR OF INFORM SYST', 'CRIMINALIST 2', 'ADMIN SERV OFF II',
       'DETENTION AIDE', 'MGR POLICE PERSONNEL', 'MGR STSTEMS DEV',
       'CROSSING GUARD COOR', 'COOR OPERATIONS IPRA',
       'SERGEANT PER ARBITRA', 'UNKNOWN', 'SUPERVISING INVESTIGATOR',
       'POLICE TECHNICIAN', 'ASST GEN COUNSEL',
       'DEPUTY CHIEF ADMINISTRATOR', 'ASSOCIATE STAFF ATTORNEY',
       'POLICE AIDE', 'COMMUNITY ORGANIZER', 'MOTOR TRUCK DRIVER'], dtype=object)

In [16]:
dfu['Assignment'].unique()

array([  13.,    8.,  608.,  113.,   20.,    1.,   nan,  120.,   16.,
        124.,   25.,  142.,  543.,    7.,  193.,  166.,  702.,  121.,
         23.,  711.,   50.,   19.,  620.,   12.,  377.,  384.,   22.,
         11.,  393.,   51.,    4.,  315.,  650.,  376.,    9.,  125.,
        171.,    6.,   18.,    3.,    2.,    5.,   10.,  701.,  126.,
        180.,  188.,   21.,   24.,   15.,  189.,  213.,  111.,  167.,
         17.,   14.,  192.,  603.,  715.,   59.,  153.,  341.,  131.,
        163.,  184.,  141.,  630.,  610.,  168.,  119.,  640.,  114.,
        152.,   57.,  477.,  140.,   79.,  116.,  169.,  148.,  175.,
         86.,  231.,  170.,  601.,  211.,  132.,  177.,  143.,  139.,
        311.,  173.,  312.,   55.,  115.,  606.,  145.,  123.,  130.,
        241.,  212.,   45.,  261.,   26.,  151.,  712.,  214.,  284.,
        127.,  196.,  545.,  179.,  932.,  253.,   75.,  112.,  765.,
        313.,  129.,  541.,  136.,  165.,  161.,  602.,   72.,  122.,
        135.,  178.,  162.,  154.,   71.,  215.,   44.,  353.,  703.,
        191.,  442.,  164.,  157.,  413.,  441.,  277.,  714.,  172.,
        102.,  128.,  176.,  912.,   60.,  187.])

In [18]:
dfu[dfu['Appointed.Date'].isnull()]

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Assignment,Current.Rank,Appointed.Date,Current.Star
13843,LORENZO,DAVIS,NaN,NaN,113.0,SUPERVISING INV IPRA,NaN,-999
29887,ARTRA,THOMAS,NaN,NaN,113.0,INVESTIGATOR 2 IPRA,NaN,-999
29890,JOHN,SCHROEDER,NaN,NaN,113.0,INVESTIGATOR 3 IPRA,NaN,-999
29901,TOM,KALANTZIS,NaN,NaN,113.0,INVESTIGATOR I IPRA,NaN,-999
55022,DONNA,WASHINGTON,NaN,NaN,113.0,INVESTIGATOR 2 IPRA,NaN,-999
55049,OSCAR,NUFIO,NaN,NaN,113.0,INVESTIGATOR I IPRA,NaN,-999
68949,GEORGE,ROBERTS,NaN,NaN,113.0,SUPERVISING INVESTIGATOR,NaN,-999
71516,RAMONA,HENDRICKS,NaN,NaN,113.0,INVESTIGATOR 2 IPRA,NaN,-999
75593,VINCENT,JONES,NaN,NaN,113.0,INVESTIGATOR 2 IPRA,NaN,-999
76238,BRIAN,FLEMING,NaN,NaN,113.0,INVESTIGATOR I IPRA,NaN,-999
76745,WILLIAM,WALSH,NaN,NaN,113.0,INVESTIGATOR 3 IPRA,NaN,-999
77467,WILLIAM,WEEDEN,NaN,NaN,113.0,DEPUTY CHIEF ADMINISTRATOR,NaN,-999

In [19]:
dfu[dfu['Current.Rank'].isnull()]

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Assignment,Current.Rank,Appointed.Date,Current.Star
7,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-08,0

In [18]:
df[df['Assignment'].isnull()]

,Appointed.Date,Current.Star,Assignment,Current.Rank,CRID,Last.Name,First.Name,Middle.Initial,Suffix.Name
72136,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1022095,SALVATORE,CHARLES,NaN,NaN
72399,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1022448,SALVATORE,CHARLES,NaN,NaN
72696,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1023086,SALVATORE,CHARLES,NaN,NaN
72802,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024549,SALVATORE,CHARLES,NaN,NaN
93895,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1022095,SALVATORE,CHARLES,NaN,NaN
94158,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1022448,SALVATORE,CHARLES,NaN,NaN
94455,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1023086,SALVATORE,CHARLES,NaN,NaN
94561,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024549,SALVATORE,CHARLES,NaN,NaN
95164,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1023127,SALVATORE,CHARLES,NaN,NaN
95334,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1023390,SALVATORE,CHARLES,NaN,NaN
95486,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1023642,SALVATORE,CHARLES,NaN,NaN
95570,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1023772,SALVATORE,CHARLES,NaN,NaN
95838,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024132,SALVATORE,CHARLES,NaN,NaN
95925,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024261,SALVATORE,CHARLES,NaN,NaN
96164,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024620,SALVATORE,CHARLES,NaN,NaN
96232,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024728,SALVATORE,CHARLES,NaN,NaN
96397,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1024983,SALVATORE,CHARLES,NaN,NaN
96503,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1025149,SALVATORE,CHARLES,NaN,NaN
96534,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1025198,SALVATORE,CHARLES,NaN,NaN
96688,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1025435,SALVATORE,CHARLES,NaN,NaN
97193,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1026239,SALVATORE,CHARLES,NaN,NaN
97426,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1026616,SALVATORE,CHARLES,NaN,NaN
97446,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1026655,SALVATORE,CHARLES,NaN,NaN
97807,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1027256,SALVATORE,CHARLES,NaN,NaN
97860,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1027349,SALVATORE,CHARLES,NaN,NaN
99661,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1030378,SALVATORE,CHARLES,NaN,NaN
100079,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1031046,SALVATORE,CHARLES,NaN,NaN
100164,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1031191,SALVATORE,CHARLES,NaN,NaN
100374,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1031498,SALVATORE,CHARLES,NaN,NaN
100487,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1031662,SALVATORE,CHARLES,NaN,NaN
100671,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1031952,SALVATORE,CHARLES,NaN,NaN
100848,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1032261,SALVATORE,CHARLES,NaN,NaN
100989,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1032475,SALVATORE,CHARLES,NaN,NaN
101091,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1032631,SALVATORE,CHARLES,NaN,NaN
102578,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1035027,SALVATORE,CHARLES,NaN,NaN
102647,1968-02-05,NaN,NaN,SERGEANT OF POLICE,1035144,SALVATORE,CHARLES,NaN,NaN