In [31]:
import pandas as pd
import numpy as np
import re

In [2]:
acc = pd.read_csv('accused.csv.gz')
ilo = pd.read_csv('il-officers.csv.gz')
asw = pd.read_csv('all-sworn.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
gender_df = pd.read_csv('../hand/gender_dictionary.csv')
race_df = pd.read_csv('../hand/race_dictionary.csv')
gender_dict = dict(zip(gender_df.Original, gender_df.Standard))
race_dict = dict(zip(race_df.Original, race_df.Standard))

In [13]:
def list_diff(l1, l2):
    '''returns list after taking set difference of two lists'''
    return list(set(l1) - set(l2))

def intersect(l1, l2):
    '''returns list after taking set intersection of two lists'''
    return list(set(l1) & set(l2))

def clean_int(x, na_value=np.nan):
    '''returns an integer from an object if possible,
       else returns an na_value
    '''
    if isinstance(x, str):
        # Check to see if it the string may be a float
        if re.search('^[0-9,.]*$', x):
            return int(float(x))
        # If not, return na_value
        else:
            return na_value
    elif np.isfinite(x):
        return int(float(x))
    else:
        return na_value
    
def standardize_gender(x):
    '''returns a standardized gender string
       by passing input string into gender reference dictionary
    '''
    # Ensure input gender (x) is string
    if isinstance(x, str):
        x = x.upper()   # Change x to uppercase
        # Check if x is already standardized
        if x in gender_dict.values():
            return x
        # If not, pass x into gender dictionary for standardization
        else:
            return gender_dict[x]
    # If not a string return 'NAN'
    else:
        return gender_dict['NAN']

def standardize_race(x):
    '''returns a standardized race string
       by passing input string into race reference dictionary
    '''
    # Ensure input race (x) is string
    if isinstance(x, str):
        x = x.upper()   # Change x to uppercase
        # Check if x is already standardized
        if x in race_dict.values():
            return x
        # If not, pass x in race dictionary for standardization
        else:
            return race_dict[x]
    # If not a string return 'NAN'
    else:
        return race_dict['NAN']
    
def clean_date_df(df):
    '''returns pandas dataframe of cleaned date and time columns
       splits datetime columns into date and time,
       ensures any errors are returned as null.
    '''
    # Store column names
    # All columns must end with .Date or .Datetime
    df_cols = df.columns.values  # Store column names
    dt_df = pd.DataFrame()  # Create empty dataframe

    # Iterate over stored date(time) columns
    for col in df_cols:
        # Store column suffix as list, removing .Date(time) ending
        # 'Org.Hire.Datetime' -> ['Org', 'Hire']
        col_suffix = col.split('.')[:-1]
        # Try to convert column to datetime
        # And create column in dt_df ending with .Date
        try:
            dt_df['.'.join(col_suffix + ["Date"])] = \
                pd.to_datetime(df[col], errors='raise').dt.date
        # If there were errors, notify the user,
        # And repeat above but with coercing errors to NaT
        except:
            print('Some errors in {}. Returned as NaT.'.format(col))
            dt_df['.'.join(col_suffix + ["Date"])] = \
                pd.to_datetime(df[col], errors='coerce').dt.date

        # If time is in column, repeat above
        # Except convert to time not date
        if 'time' in col:
            try:
                dt_df['.'.join(col_suffix + ["Time"])] = \
                    pd.to_datetime(df[col]).dt.time
            except:
                print('Some errors in {}. Returned as NaT.'.format(col))
                dt_df['.'.join(col_suffix + ["Time"])] = \
                    pd.to_datetime(df[col], errors='coerce').dt.date

    # EX: df columns = ['Org.Hire.Datetime', 'Start.Date']
    #     dt_df columns = ['Org.Hire.Date', 'Org.Hire.Time', 'Start.Date']
    return dt_df

In [16]:
name_cols = ['Full.Name','First.Name', 'Last.Name', 
             'Middle.Initial', 'Middle.Name',
             'Suffix.Name']

In [17]:
print(acc.columns)
print(name_cols)
acc_nc = intersect(acc.columns, name_cols)
acc_nc

Index(['CRID', 'Full.Name', 'Birth.Year', 'Gender', 'Race', 'Appointed.Date',
       'Current.Unit', 'Current.Rank', 'Current.Star', 'Complaint.Category',
       'Recommended.Finding', 'Recommended.Discipline', 'Final.Finding',
       'Final.Discipline'],
      dtype='object')
['Full.Name', 'First.Name', 'Last.Name', 'Middle.Initial', 'Middle.Name', 'Suffix.Name']

['Full.Name']

In [37]:
accn = acc[acc_nc[0]]
accn = accn.fillna(',')
accn = accn.map(lambda x: x if re.search('[a-zA-Z]', x) else ",")
accn = accn.map(lambda x: x.rsplit(',', 1))
accn = pd.DataFrame(accn.values.tolist(),
                         columns=['Last.Name', 'First.Name'])

In [38]:
accn

            Last.Name  First.Name
0              BARRON     WILLIAM
1            C0NNOLLY    KIMBERLY
2               KEENE        JOHN
3              SLAVIN       SCOTT
4            MARTINEZ     ANTONIO
5               JONES     MICHAEL
6               BROWN   CORNELIUS
7             MOLESKY     KENNETH
8            TERRONES       SOFIA
9               BRILL       JAMES
10              CRAIG      JOSEPH
11              JONES     CHARLES
12              IRVIN       KEITH
13          GROHOVENA        MARK
14              MASON      THOMAS
15              AXIUM        JACK
16         NORWOOD II       JAMES
17              BROWN   CORNELIUS
18            BIGGINS       DAVID
19            MOLESKY     KENNETH
20             WILLIS      DANIEL
21             RIVERA     RICARDO
22            OGLIORE     MICHAEL
23            ISADORE      EDWARD
24              VOGEL      MARTIN
25             MALLOY     PATRICK
26      WALLINGTON JR      WILLIE
27               HALL         JON
28            GILMORE      HORACE
29              BLAUL       JAMES
...               ...         ...
125551        TROGLIA     JEFFREY
125552          LEANO      MANUEL
125553       MOHAMMED     KALLATT
125554         WATSON    RODERICK
125555        GRIFFIN      EDWARD
125556          KIRBY       DEBRA
125557       SMITH JR    ELSWORTH
125558          JONES       ALVIN
125559        STEVENS     MICHAEL
125560       CABRALES      MIGUEL
125561          ROWAN       KAREN
125562       GONZALEZ      ROBERT
125563         BOLTON       BRIAN
125564         SOLTIS       DAVID
125565          WATTS      RONALD
125566       YOUNG JR     KENNETH
125567     NICHOLS JR     DOUGLAS
125568        MITCHUM      ROBERT
125569         MEROLA     DOMINIC
125570         WALKER      ROBERT
125571          POPOW       SHAWN
125572          CHUDY     JEFFREY
125573        MARINEZ       DAVID
125574          KEANY     ANTHONY
125575          LOPEZ      JOSEPH
125576          YOUNG      LONNIE
125577        MANDILE      ANGELO
125578        NAVARRO       OSCAR
125579           ROSE      ROBERT
125580          ECTOR      MELVIN

[125581 rows x 2 columns]