In [19]:
from assign_unique_ids_functions import *
import pandas as pd
# This file is seriously messed up

In [20]:
df = pd.read_csv("../input/witnesses.csv.gz")

In [21]:
print(df.shape)
df.head()

(27922, 10)

,Race,Appointed.Date,Gender,CRID,Birth.Year,Current.Star,Last.Name,Suffix.Name,First.Name,Middle.Initial
0,WHITE,1972-10-23,MALE,259069,1945,-999,DOLCIMASCOLO,NaN,NED,NaN
1,BLACK,1998-08-31,FEMALE,259088,1956,-999,BRYANT,NaN,YVONNE,NaN
2,BLACK,1997-08-04,MALE,259088,1973,-999,CARROLL,NaN,RONDY,NaN
3,HISPANIC,1994-07-05,MALE,259100,1963,7499,CASTILLO,NaN,DIEGO,NaN
4,HISPANIC,1990-03-26,FEMALE,259108,1964,20045,RODIRGUEZ,NaN,GINA,NaN

In [22]:
dfu = df[["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
          "Appointed.Date", "Birth.Year", "Current.Star"]].drop_duplicates()
print(dfu.shape)
dfu = dfu.dropna(subset = ["First.Name"])
print(dfu.shape)

(12560, 7)
(12301, 7)

In [15]:
dfu[~dfu['Middle.Initial'].isnull()]

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Birth.Year,Current.Star
8769,RICHARD,LABRIOLA,A,NaN,1971-10-25,1943,-999

In [23]:
id_cols = ["First.Name", "Last.Name"]
kd = keep_duplicates(dfu, id_cols)
print(kd.shape)
kd

(1460, 7)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Birth.Year,Current.Star
19049,AARON,CARRANZA,NaN,NaN,NaN,-999,-999
25799,AARON,CARRANZA,NaN,NaN,2004-11-29,1980,2349
510,AARON,CUNNINGHAM,NaN,NaN,1998-06-29,1967,10758
18323,AARON,CUNNINGHAM,NaN,NaN,NaN,-999,-999
16476,AARON,PETRULIS,NaN,NaN,2001-04-30,1975,4695
19381,AARON,PETRULIS,NaN,NaN,NaN,-999,-999
2130,AARON,WARD,NaN,NaN,1996-08-05,1956,19094
9021,AARON,WARD,NaN,NaN,NaN,-999,-999
14016,AGUSTIN,TORRES,NaN,JR,2004-11-29,1980,13901
18297,AGUSTIN,TORRES,NaN,NaN,NaN,-999,-999
7340,ALAN,KURTH,NaN,NaN,1993-05-17,1969,2614
19786,ALAN,KURTH,NaN,NaN,NaN,-999,-999
3715,ALAN,ROGERS,NaN,NaN,2000-08-14,1977,3836
9131,ALAN,ROGERS,NaN,NaN,NaN,-999,-999
9364,ALBERT,FRANCIS,NaN,NaN,1965-07-19,1943,-999
9731,ALBERT,FRANCIS,NaN,JR,2000-08-14,1968,7231
3061,ALEXIS,SOTO,NaN,NaN,1996-07-08,1965,-999
19173,ALEXIS,SOTO,NaN,NaN,2005-08-29,1979,16830
6813,ALLEN,BOEHMER,NaN,NaN,1985-07-01,1960,-999
13838,ALLEN,BOEHMER,NaN,NaN,1956-05-16,1929,-999
874,ALLEN,HADAC,NaN,JR,1997-05-05,1973,18766
1131,ALLEN,HADAC,NaN,NaN,NaN,-999,-999
892,ALVIN,AMOS,NaN,NaN,NaN,-999,-999
3023,ALVIN,AMOS,NaN,NaN,1976-04-26,1943,-999
9238,AMANDO,CUDAL,NaN,NaN,NaN,-999,-999
22052,AMANDO,CUDAL,NaN,NaN,1999-12-13,1957,6680
556,AMY,KICK,NaN,NaN,NaN,-999,-999
13000,AMY,KICK,NaN,NaN,1994-09-06,1961,8733
861,ANDRE,POSTON,NaN,NaN,NaN,-999,-999
2284,ANDRE,POSTON,NaN,NaN,1999-05-10,1973,13277
...,...,...,...,...,...,...,...
448,WILLIAM,JANSON,NaN,NaN,NaN,-999,-999
19889,WILLIAM,JANSON,NaN,NaN,1982-08-30,1958,-999
540,WILLIAM,MURPHY,NaN,NaN,1996-08-05,1970,6066
10942,WILLIAM,MURPHY,NaN,NaN,2003-02-24,1978,19214
10950,WILLIAM,MURPHY,NaN,NaN,2001-07-30,1970,12167
2849,WILLIAM,OBRIEN,NaN,JR,1990-03-26,1957,10570
7621,WILLIAM,OBRIEN,NaN,NaN,2002-10-28,1979,9564
5883,WILLIAM,RIGA,NaN,NaN,1977-07-18,1950,-999
21569,WILLIAM,RIGA,NaN,JR,2008-04-28,1981,13289
6436,WILLIAM,SMITH,NaN,NaN,1988-11-07,1948,-999
25794,WILLIAM,SMITH,NaN,NaN,1995-09-05,1972,21109
4557,WILLIAM,THOMAS,NaN,NaN,1989-12-26,1956,-999
9658,WILLIAM,THOMAS,NaN,NaN,1969-05-12,1946,-999
14558,WILLIAM,WAGNER,NaN,NaN,2002-12-02,1964,10600
21234,WILLIAM,WAGNER,NaN,NaN,1964-06-15,1941,-999
14339,WILLIAM,WHALEN,NaN,NaN,1980-01-28,1954,-999
26574,WILLIAM,WHALEN,NaN,NaN,2013-02-19,1985,6620
1770,WILLIE,SMITH,NaN,NaN,1970-11-16,1941,-999
5336,WILLIE,SMITH,NaN,NaN,2001-06-25,1970,7386
11549,WILLIE,SMITH,NaN,NaN,1977-11-01,1946,-999
561,WILLIE,SPEARS,NaN,JR,NaN,-999,-999
8408,WILLIE,SPEARS,NaN,JR,2000-01-24,1967,5828
14274,WOJCIECH,LACZ,NaN,NaN,2003-09-29,1976,15609
16563,WOJCIECH,LACZ,NaN,NaN,2003-09-29,1976,-999
19015,YVETTE,VICENCIO,NaN,NaN,NaN,-999,-999
25149,YVETTE,VICENCIO,NaN,NaN,2007-09-24,1984,16106
212,YVONNE,CARY,NaN,NaN,NaN,-999,-999
11169,YVONNE,CARY,NaN,NaN,1998-11-30,1954,21023
495,ZIOLA,SOLIS,NaN,NaN,NaN,-999,-999
7101,ZIOLA,SOLIS,NaN,NaN,1997-07-07,1959,13245

In [38]:
keep_duplicates(dfu, id_cols).to_csv('witnesses_possible_duplicates.csv')

In [27]:
kd_na = kd[kd['Appointed.Date'].isnull()]
kd_a = kd[kd['Appointed.Date'].notnull()]

In [30]:
keep_duplicates(kd_na, id_cols)

Empty DataFrame
Columns: [First.Name, Last.Name, Middle.Initial, Suffix.Name, Appointed.Date, Birth.Year, Current.Star]
Index: []

In [31]:
keep_duplicates(kd_a, id_cols)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Birth.Year,Current.Star
3061,ALEXIS,SOTO,NaN,NaN,1996-07-08,1965,-999
19173,ALEXIS,SOTO,NaN,NaN,2005-08-29,1979,16830
6813,ALLEN,BOEHMER,NaN,NaN,1985-07-01,1960,-999
13838,ALLEN,BOEHMER,NaN,NaN,1956-05-16,1929,-999
20067,ANDREW,OHLSON,NaN,NaN,2002-08-26,1976,-999
25412,ANDREW,OHLSON,NaN,NaN,2010-09-01,1983,8394
17914,ANGEL,PEREZ,NaN,NaN,2006-07-31,1981,1503
23011,ANGEL,PEREZ,NaN,NaN,1988-11-07,1953,-999
8847,ANGELO,RODRIGUEZ,NaN,NaN,1980-01-28,1953,-999
14061,ANGELO,RODRIGUEZ,NaN,NaN,1977-11-01,1950,-999
21867,ANTHONY,CEJA,NaN,NaN,2007-10-29,1983,3101
27097,ANTHONY,CEJA,NaN,NaN,1982-07-19,1960,-999
5549,ANTHONY,DAVIS,NaN,NaN,1997-07-07,1960,17141
17672,ANTHONY,DAVIS,NaN,NaN,2004-10-25,1977,-999
8314,ANTHONY,LEWIS,NaN,NaN,1996-12-02,1968,6806
11002,ANTHONY,LEWIS,NaN,NaN,2003-02-24,1965,16196
23418,ANTHONY,WALKER,NaN,NaN,1991-02-27,1963,14988
27721,ANTHONY,WALKER,NaN,NaN,1987-12-07,1962,-999
1372,ANTHONY,WOJCIK,NaN,NaN,1986-10-13,1959,-999
18240,ANTHONY,WOJCIK,NaN,NaN,1986-02-03,1953,-999
1553,ARTHUR,DAVIS,NaN,NaN,1977-01-03,1952,-999
6822,ARTHUR,DAVIS,NaN,NaN,2000-12-18,1974,21110
5904,BRIAN,CALLAGHAN,NaN,NaN,1995-09-05,1970,16423
27311,BRIAN,CALLAGHAN,NaN,NaN,1999-03-08,1968,1627
5366,BRIAN,DALY,NaN,NaN,1982-08-30,1954,-999
7789,BRIAN,DALY,NaN,NaN,1999-11-15,1976,20640
7770,BRIAN,HARRIS,NaN,NaN,1999-10-25,1972,-999
26509,BRIAN,HARRIS,NaN,NaN,2010-04-16,1972,9773
20221,BRIAN,MURPHY,NaN,NaN,1990-03-26,1967,-999
24795,BRIAN,MURPHY,NaN,NaN,2001-04-30,1974,8469
...,...,...,...,...,...,...,...
943,TIMOTHY,KENNEDY,NaN,NaN,1993-12-13,1967,302
5809,TIMOTHY,KENNEDY,NaN,NaN,1985-07-01,1960,-999
4868,TIMOTHY,MALONEY,NaN,NaN,1986-08-11,1952,-999
23232,TIMOTHY,MALONEY,NaN,NaN,1968-05-27,1946,-999
3249,VICTOR,ALCAZAR,NaN,NaN,1995-02-06,1946,-999
26788,VICTOR,ALCAZAR,NaN,NaN,1998-09-28,1971,11046
808,VICTOR,BROWN,NaN,NaN,1998-11-30,1973,-999
17858,VICTOR,BROWN,NaN,NaN,1991-12-16,1962,6098
16695,VICTOR,RIVERA,NaN,NaN,2005-01-03,1977,13011
24463,VICTOR,RIVERA,NaN,NaN,1981-06-08,1954,11520
4680,WAYNE,WIBERG,NaN,NaN,1966-07-18,1943,-999
13189,WAYNE,WIBERG,NaN,NaN,1994-05-02,1970,514
9576,WILLIAM,BECK,NaN,NaN,1995-02-06,1967,13238
25548,WILLIAM,BECK,NaN,NaN,1966-03-28,1945,-999
540,WILLIAM,MURPHY,NaN,NaN,1996-08-05,1970,6066
10942,WILLIAM,MURPHY,NaN,NaN,2003-02-24,1978,19214
10950,WILLIAM,MURPHY,NaN,NaN,2001-07-30,1970,12167
6436,WILLIAM,SMITH,NaN,NaN,1988-11-07,1948,-999
25794,WILLIAM,SMITH,NaN,NaN,1995-09-05,1972,21109
4557,WILLIAM,THOMAS,NaN,NaN,1989-12-26,1956,-999
9658,WILLIAM,THOMAS,NaN,NaN,1969-05-12,1946,-999
14558,WILLIAM,WAGNER,NaN,NaN,2002-12-02,1964,10600
21234,WILLIAM,WAGNER,NaN,NaN,1964-06-15,1941,-999
14339,WILLIAM,WHALEN,NaN,NaN,1980-01-28,1954,-999
26574,WILLIAM,WHALEN,NaN,NaN,2013-02-19,1985,6620
1770,WILLIE,SMITH,NaN,NaN,1970-11-16,1941,-999
5336,WILLIE,SMITH,NaN,NaN,2001-06-25,1970,7386
11549,WILLIE,SMITH,NaN,NaN,1977-11-01,1946,-999
14274,WOJCIECH,LACZ,NaN,NaN,2003-09-29,1976,15609
16563,WOJCIECH,LACZ,NaN,NaN,2003-09-29,1976,-999

In [18]:
df = pd.read_csv("../output/witnesses.csv.gz")
df.sort_values('witnesses_ID')

,Race,Appointed.Date,Gender,CRID,Birth.Year,Current.Star,Last.Name,Suffix.Name,First.Name,Middle.Initial,witnesses_ID
1032,BLACK,NaN,MALE,268012,-999,-999,KOZMEL,NaN,A,NaN,1
18544,BLACK,2005-12-05,MALE,1019288,1975,13768,ARMSTEAD,NaN,AARON,NaN,2
24124,BLACK,1990-08-27,MALE,1052981,1966,1245,CHATMAN,NaN,AARON,NaN,3
2994,BLACK,1990-08-27,MALE,277025,1966,1245,CHATMAN,NaN,AARON,NaN,3
2616,BLACK,1996-12-02,MALE,275853,1968,20475,COBB,NaN,AARON,NaN,4
296,BLACK,1996-12-02,MALE,261878,1968,20475,COBB,NaN,AARON,NaN,4
15885,BLACK,1996-12-02,MALE,1004303,1968,20475,COBB,NaN,AARON,NaN,4
17483,BLACK,1996-12-02,MALE,1012721,1968,20475,COBB,NaN,AARON,NaN,4
6486,BLACK,1986-11-17,MALE,288235,1965,11867,COTTON,JR,AARON,NaN,5
23992,WHITE,2007-10-29,MALE,1052253,1984,9118,DALY,NaN,AARON,NaN,6
21471,WHITE,2007-10-29,MALE,1035184,1984,9118,DALY,NaN,AARON,NaN,6
1808,BLACK,2000-02-28,MALE,272283,1967,14470,DAVIS,III,AARON,NaN,7
18007,BLACK,2000-02-28,MALE,1015370,1967,14470,DAVIS,III,AARON,NaN,7
26707,BLACK,1990-03-26,MALE,1073914,1957,-999,HOLTON,NaN,AARON,NaN,8
449,BLACK,1990-03-26,MALE,263359,1957,-999,HOLTON,NaN,AARON,NaN,8
12721,BLACK,1990-03-26,MALE,307553,1957,-999,HOLTON,NaN,AARON,NaN,8
24355,WHITE,1993-12-13,MALE,1054740,1965,7304,KIZZIAH,NaN,AARON,NaN,9
25454,WHITE,2006-12-18,MALE,1065834,1982,2306,LEVINE,NaN,AARON,NaN,10
25163,WHITE,2006-12-18,MALE,1062978,1982,2306,LEVINE,NaN,AARON,NaN,10
5984,BLACK,1981-05-18,MALE,287002,1947,-999,PARKER,NaN,AARON,NaN,11
15495,WHITE,1986-07-14,MALE,1002544,1946,-999,PENA,NaN,AARON,NaN,12
15291,WHITE,1986-07-14,MALE,1001499,1946,-999,PENA,NaN,AARON,NaN,12
14353,WHITE,1986-07-14,MALE,313290,1946,-999,PENA,NaN,AARON,NaN,12
16881,WHITE,2004-04-26,MALE,1008948,1979,-999,PORADZISZ,NaN,AARON,NaN,13
16573,WHITE,2004-04-26,MALE,1007190,1979,-999,PORADZISZ,NaN,AARON,NaN,13
27590,WHITE,2012-10-31,MALE,1079266,1980,16239,RONDEAU,NaN,AARON,NaN,14
19788,BLACK,NaN,MALE,1025632,-999,-999,RUCKER,NaN,AARON,NaN,15
23930,BLACK,2004-10-25,MALE,1051708,1978,13612,THOMPSON,NaN,ABASI,NaN,16
19174,BLACK,2004-10-25,MALE,1022853,1978,13612,THOMPSON,NaN,ABASI,NaN,16
16305,API,1998-06-29,MALE,1006034,1971,15206,ABUZANAT,NaN,ABDALLA,NaN,17
...,...,...,...,...,...,...,...,...,...,...,...
6436,BLACK,1988-11-07,MALE,288069,1948,-999,SMITH,NaN,WILLIAM,NaN,12152
25794,WHITE,1995-09-05,MALE,1068457,1972,21109,SMITH,NaN,WILLIAM,NaN,12153
4557,BLACK,1989-12-26,MALE,282091,1956,-999,THOMAS,NaN,WILLIAM,NaN,12154
14119,BLACK,1989-12-26,MALE,312685,1956,-999,THOMAS,NaN,WILLIAM,NaN,12154
13228,BLACK,1989-12-26,MALE,309576,1956,-999,THOMAS,NaN,WILLIAM,NaN,12154
12661,BLACK,1989-12-26,MALE,307317,1956,-999,THOMAS,NaN,WILLIAM,NaN,12154
9730,BLACK,1989-12-26,MALE,296716,1956,-999,THOMAS,NaN,WILLIAM,NaN,12154
9658,BLACK,1969-05-12,MALE,296542,1946,-999,THOMAS,NaN,WILLIAM,NaN,12155
19159,WHITE,2002-12-02,MALE,1022802,1964,10600,WAGNER,NaN,WILLIAM,NaN,12156
14558,WHITE,2002-12-02,MALE,314096,1964,10600,WAGNER,NaN,WILLIAM,NaN,12156
24190,WHITE,2002-12-02,MALE,1053488,1964,10600,WAGNER,NaN,WILLIAM,NaN,12156
21234,WHITE,1964-06-15,MALE,1033982,1941,-999,WAGNER,NaN,WILLIAM,NaN,12157
14339,WHITE,1980-01-28,MALE,313266,1954,-999,WHALEN,NaN,WILLIAM,NaN,12158
26574,WHITE,2013-02-19,MALE,1073435,1985,6620,WHALEN,NaN,WILLIAM,NaN,12159
1770,BLACK,1970-11-16,MALE,272120,1941,-999,SMITH,NaN,WILLIE,NaN,12160
5336,BLACK,2001-06-25,MALE,284961,1970,7386,SMITH,NaN,WILLIE,NaN,12161
7152,BLACK,2001-06-25,MALE,289744,1970,7386,SMITH,NaN,WILLIE,NaN,12161
11549,BLACK,1977-11-01,MALE,302794,1946,-999,SMITH,NaN,WILLIE,NaN,12162
8408,BLACK,2000-01-24,MALE,293396,1967,5828,SPEARS,JR,WILLIE,NaN,12163
561,BLACK,NaN,MALE,264390,-999,-999,SPEARS,JR,WILLIE,NaN,12163
16563,WHITE,2003-09-29,MALE,1007107,1976,-999,LACZ,NaN,WOJCIECH,NaN,12164
14274,WHITE,2003-09-29,MALE,313057,1976,15609,LACZ,NaN,WOJCIECH,NaN,12164
24115,WHITE,2003-09-29,MALE,1052970,1976,15609,LACZ,NaN,WOJCIECH,NaN,12164
19015,HISPANIC,NaN,FEMALE,1022114,-999,-999,VICENCIO,NaN,YVETTE,NaN,12165
27689,WHITE,2007-09-24,FEMALE,1079494,1984,16106,VICENCIO,NaN,YVETTE,NaN,12165
25149,WHITE,2007-09-24,FEMALE,1062882,1984,16106,VICENCIO,NaN,YVETTE,NaN,12165
11169,BLACK,1998-11-30,FEMALE,301033,1954,21023,CARY,NaN,YVONNE,NaN,12166
212,BLACK,NaN,FEMALE,261251,-999,-999,CARY,NaN,YVONNE,NaN,12166
495,WHITE,NaN,FEMALE,263753,-999,-999,SOLIS,NaN,ZIOLA,NaN,12167
7101,WHITE,1997-07-07,FEMALE,289630,1959,13245,SOLIS,NaN,ZIOLA,NaN,12167