In [55]:
import pandas as pd
from assign_unique_ids_functions import *
import numpy as np

In [56]:
df = pd.read_csv('../input/awards.csv.gz')

In [57]:
df.head()

,Gender,Race,Appointed.Date,Award.Type,Incident.Start.Date,Current.Award.Status,Award.Request.Date,Incident.End.Date,Resignation.Date,Award.ID,...,Rank,Birth.Year,Last.Promotion.Date,Requester.Full.Name,Ceremony.Date,Tracking.NO,Last.Name,Suffix.Name,First.Name,Middle.Initial
0,MALE,WHITE,2005-09-26,UNIT MERITORIOUS PERFORMANCE AWARD,2010-01-01,DENIED,2012-11-02,2010-12-31,NaN,341867,...,9171-SERGEANT OF POLICE,1971,NaN,"PAVON JR, RICARDO",NaN,-999,AARON,NaN,JEFFERY,M
1,MALE,WHITE,2005-09-26,DEPARTMENT COMMENDATION,2014-06-27,DENIED,2014-06-29,2014-06-27,NaN,632370,...,9171-SERGEANT OF POLICE,1971,NaN,"HENKELS, ADAM",NaN,-999,AARON,NaN,JEFFERY,M
2,MALE,WHITE,2005-09-26,HONORABLE MENTION,2014-06-27,DENIED,2014-07-04,2014-06-27,NaN,632978,...,9171-SERGEANT OF POLICE,1971,NaN,"HENKELS, ADAM",NaN,-999,AARON,NaN,JEFFERY,M
3,MALE,WHITE,2005-09-26,HONORABLE MENTION,2006-05-11,FINAL,2006-06-07,2006-05-11,NaN,30113,...,9171-SERGEANT OF POLICE,1971,NaN,"STINITES, ALEXANDER",NaN,-999,AARON,NaN,JEFFERY,M
4,MALE,WHITE,2005-09-26,HONORABLE MENTION,2006-12-02,FINAL,2007-01-31,2006-12-02,NaN,53794,...,9171-SERGEANT OF POLICE,1971,NaN,"CRAWFORD, PATRICK",NaN,-999,AARON,NaN,JEFFERY,M

In [58]:
df.columns

Index(['Gender', 'Race', 'Appointed.Date', 'Award.Type', 'Incident.Start.Date',
       'Current.Award.Status', 'Award.Request.Date', 'Incident.End.Date',
       'Resignation.Date', 'Award.ID', 'Current.Star', 'Rank', 'Birth.Year',
       'Last.Promotion.Date', 'Requester.Full.Name', 'Ceremony.Date',
       'Tracking.NO', 'Last.Name', 'Suffix.Name', 'First.Name',
       'Middle.Initial'],
      dtype='object')

In [59]:
dfu = df[["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Resignation.Date", 
          "Race", "Gender", "Appointed.Date", "Rank", "Current.Star"]].drop_duplicates()

In [60]:
dfu.shape

(26135, 10)

In [61]:
dfu.head()

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Resignation.Date,Race,Gender,Appointed.Date,Rank,Current.Star
0,JEFFERY,AARON,M,NaN,NaN,WHITE,MALE,2005-09-26,9171-SERGEANT OF POLICE,1424
82,KARINA,AARON,NaN,NaN,NaN,HISPANIC,FEMALE,2005-09-26,9165-PO AS DETECTIVE,20373
176,SUSAN,AARUP,J,NaN,2009-02-27,WHITE,FEMALE,2009-01-01,0430-CLERK 3,-999
177,ANTHONY,ABBATE,G,NaN,2009-12-22,WHITE,MALE,1994-12-05,9161-POLICE OFFICER,-999
178,CARMEL,ABBATE,G,NaN,2003-08-15,WHITE,MALE,1969-01-06,9165-PO AS DETECTIVE,-999

In [62]:
id_cols = ["First.Name", "Last.Name", "Appointed.Date", "Gender", "Suffix.Name"]
keep_duplicates(dfu, id_cols)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Resignation.Date,Race,Gender,Appointed.Date,Rank,Current.Star
214155,ANN,HERR,M,NaN,2010-06-16,WHITE,FEMALE,2002-06-11,9111-CROSSING GUARD,-999
214162,ANN,HERR,M,NaN,NaN,WHITE,FEMALE,2002-06-11,UNK-UNKNOWN,-999
245404,AUDREY,JURCZYKOWSKI,NaN,NaN,NaN,WHITE,FEMALE,1999-05-10,9161-POLICE OFFICER,-999
245405,AUDREY,JURCZYKOWSKI,A,NaN,NaN,WHITE,FEMALE,1999-05-10,9161-POLICE OFFICER,8280
198893,BOBBIE,HALL,NaN,NaN,2006-07-09,API,FEMALE,1999-11-02,9111-CROSSING GUARD,-999
198896,BOBBIE,HALL,NaN,NaN,2006-07-09,BLACK,FEMALE,1999-11-02,9111-CROSSING GUARD,-999
2276,DAVID,ADCOCK,G,NaN,NaN,WHITE,MALE,2002-09-30,9164-PO/FIELD TRNING OFF,6673
2355,DAVID,ADCOCK,G,NaN,NaN,WHITE,MALE,2002-09-30,9161-POLICE OFFICER,-999
410543,DAVID,RAMOS,NaN,NaN,2009-10-21,HISPANIC,MALE,1994-07-05,9161-POLICE OFFICER,-999
410556,DAVID,RAMOS,R,NaN,NaN,HISPANIC,MALE,1994-07-05,9161-POLICE OFFICER,8560
550681,EDDIE,YOSHIMURA,M,NaN,NaN,API,MALE,1986-11-17,9171-SERGEANT OF POLICE,2334
550687,EDDIE,YOSHIMURA,M,NaN,NaN,API,MALE,1986-11-17,9161-POLICE OFFICER,-999
524296,ERICK,VONKONDRAT,M,NaN,NaN,WHITE,MALE,1999-05-10,9161-POLICE OFFICER,5693
524300,ERICK,VONKONDRAT,NaN,NaN,NaN,WHITE,MALE,1999-05-10,9161-POLICE OFFICER,-999
22544,JAMES,BANSLEY,A,NaN,NaN,WHITE,MALE,2009-12-16,9161-POLICE OFFICER,10927
22548,JAMES,BANSLEY,H,NaN,NaN,WHITE,MALE,2009-12-16,9161-POLICE OFFICER,8791
439359,JOHN,RYAN,W,NaN,2009-02-15,WHITE,MALE,1973-03-19,9161-POLICE OFFICER,-999
439361,JOHN,RYAN,J,NaN,2001-04-16,WHITE,MALE,1973-03-19,9161-POLICE OFFICER,-999
506620,JOSEPH,TRIPOLI,A,NaN,NaN,WHITE,MALE,1994-07-05,9165-PO AS DETECTIVE,20571
506634,JOSEPH,TRIPOLI,A,NaN,2008-03-31,WHITE,MALE,1994-07-05,9161-POLICE OFFICER,-999
92636,KEVIN,CONNORS,M,NaN,NaN,WHITE,MALE,1999-09-13,9171-SERGEANT OF POLICE,1182
92643,KEVIN,CONNORS,M,NaN,NaN,WHITE,MALE,1999-09-13,9161-POLICE OFFICER,15151
472380,KEVIN,SMITH,D,NaN,2015-11-24,BLACK,MALE,1999-05-10,9161-POLICE OFFICER,-999
472420,KEVIN,SMITH,S,NaN,2004-01-11,WHITE,MALE,1999-05-10,9161-POLICE OFFICER,-999
129081,MICHAEL,DOUGHERTY,K,NaN,2005-10-22,WHITE,MALE,1994-09-06,9161-POLICE OFFICER,-999
129082,MICHAEL,DOUGHERTY,P,NaN,NaN,WHITE,MALE,1994-09-06,9173-LIEUTENANT OF POLICE,363
491312,MICHAEL,SWEENEY,J,NaN,2012-03-15,WHITE,MALE,1983-02-14,9161-POLICE OFFICER,-999
491351,MICHAEL,SWEENEY,L,NaN,2012-05-15,WHITE,MALE,1983-02-14,9161-POLICE OFFICER,-999
503795,RICARDO,TORRES,J,NaN,2014-05-15,HISPANIC,MALE,2014-05-27,9161-POLICE OFFICER,16756
503805,RICARDO,TORRES,NaN,NaN,NaN,HISPANIC,MALE,2014-05-27,9161-POLICE OFFICER,16753
472775,ROBERT,SMITH,M,NaN,NaN,WHITE,MALE,1996-12-02,9165-PO AS DETECTIVE,20648
472777,ROBERT,SMITH,J,NaN,NaN,WHITE,MALE,1996-12-02,9161-POLICE OFFICER,19314
290248,SILVIA,LOPEZ,M,NaN,2016-12-16,HISPANIC,FEMALE,1988-12-05,9171-SERGEANT OF POLICE,-999
290284,SILVIA,LOPEZ,M,NaN,NaN,HISPANIC,FEMALE,1988-12-05,9161-POLICE OFFICER,-999
351163,STEPHEN,MYTHEN,NaN,NaN,NaN,WHITE,MALE,2000-09-11,9161-POLICE OFFICER,-999
351164,STEPHEN,MYTHEN,C,NaN,NaN,WHITE,MALE,2000-09-11,9161-POLICE OFFICER,12719
315839,THOMAS,MCGREAL,F,NaN,2006-05-31,WHITE,MALE,1977-01-03,9165-PO AS DETECTIVE,-999
322495,THOMAS,MCGREAL,F,NaN,NaN,WHITE,MALE,1977-01-03,9161-POLICE OFFICER,-999
305713,TIMOTHY,MARTIN,S,NaN,NaN,WHITE,MALE,2000-12-18,9161-POLICE OFFICER,12928
305806,TIMOTHY,MARTIN,E,NaN,2005-05-16,WHITE,MALE,2000-12-18,9161-POLICE OFFICER,-999
360544,TIMOTHY,OBRIEN,P,NaN,NaN,WHITE,MALE,1995-01-03,9165-PO AS DETECTIVE,20899
360798,TIMOTHY,OBRIEN,J,NaN,NaN,WHITE,MALE,1995-01-03,9165-PO AS DETECTIVE,21797

In [63]:
df[(df['First.Name'] == 'AUDREY') & (df['Last.Name'] == 'JURCZYKOWSKI')]

,Gender,Race,Appointed.Date,Award.Type,Incident.Start.Date,Current.Award.Status,Award.Request.Date,Incident.End.Date,Resignation.Date,Award.ID,...,Rank,Birth.Year,Last.Promotion.Date,Requester.Full.Name,Ceremony.Date,Tracking.NO,Last.Name,Suffix.Name,First.Name,Middle.Initial
245404,FEMALE,WHITE,1999-05-10,ATTENDANCE RECOGNITION AWARD,2004-01-01,FINAL,2009-08-01,2006-12-31,NaN,249949,...,9161-POLICE OFFICER,1970,NaN,"LADNER, TRACEY",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,NaN
245405,FEMALE,WHITE,1999-05-10,COMPLIMENTARY LETTER,2008-10-01,FINAL,2009-03-20,2008-10-01,NaN,192089,...,9161-POLICE OFFICER,1970,NaN,"LEWIS-HALL, KAREN",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245406,FEMALE,WHITE,1999-05-10,2009 CRIME REDUCTION AWARD,2009-01-01,FINAL,2011-04-07,2009-12-31,NaN,365936,...,9161-POLICE OFFICER,1970,NaN,"WEIS, JODY",2011-04-25,-999,JURCZYKOWSKI,NaN,AUDREY,A
245407,FEMALE,WHITE,1999-05-10,COMPLIMENTARY LETTER,2009-09-04,FINAL,2011-05-19,2009-09-04,NaN,397162,...,9161-POLICE OFFICER,1970,NaN,"FRANKLIN, ALESIA",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245408,FEMALE,WHITE,1999-05-10,HONORABLE MENTION,2012-03-14,FINAL,2012-05-06,2012-03-14,NaN,460964,...,9161-POLICE OFFICER,1970,NaN,"CARABALLO, KRISTINE",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245409,FEMALE,WHITE,1999-05-10,COMPLIMENTARY LETTER,2012-05-18,FINAL,2012-08-15,2012-05-21,NaN,480599,...,9161-POLICE OFFICER,1970,NaN,"HOOVER, TRACY",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245410,FEMALE,WHITE,1999-05-10,ATTENDANCE RECOGNITION AWARD,2009-02-01,FINAL,2013-06-17,2012-01-31,NaN,548062,...,9161-POLICE OFFICER,1970,NaN,"LADNER, TRACEY",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245411,FEMALE,WHITE,1999-05-10,NATO SUMMIT SERVICE AWARD,2012-05-18,FINAL,2013-08-12,2012-05-21,NaN,560925,...,9161-POLICE OFFICER,1970,NaN,"MC CARTHY, GARRY",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245412,FEMALE,WHITE,1999-05-10,COMPLIMENTARY LETTER,2014-07-14,FINAL,2014-10-02,2014-07-14,NaN,653119,...,9161-POLICE OFFICER,1970,NaN,"FRANKLIN, ALESIA",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A
245413,FEMALE,WHITE,1999-05-10,SPECIAL COMMENDATION,2014-01-27,FINAL,2015-10-02,2015-01-01,NaN,688729,...,9161-POLICE OFFICER,1970,NaN,"FOWLER, JENNIFER",2017-10-17,-999,JURCZYKOWSKI,NaN,AUDREY,A
245414,FEMALE,WHITE,1999-05-10,HONORABLE MENTION,2017-03-31,FINAL,2017-04-04,2017-03-31,NaN,797778,...,9161-POLICE OFFICER,1970,NaN,"COTTER, THOMAS",NaN,-999,JURCZYKOWSKI,NaN,AUDREY,A

In [76]:
id_cols = ["First.Name", "Last.Name", "Appointed.Date", "Gender", "Suffix.Name"]
kd = keep_duplicates(dfu, id_cols)
rd = remove_duplicates(dfu, id_cols)

In [78]:
kd = assign_unique_ids(kd, "tid",id_cols)

In [86]:
kdg = kd[list(set(kd.columns) - set(id_cols))].groupby('tid')

In [89]:
other_ids = ["Middle.Initial", "Resignation.Date", "Current.Star"]

In [167]:
def resolve_conflicts(group_df, compare_cols):
    out_df = pd.DataFrame()
    for key, group in group_df:
        conflicts = 0
        total_non_nan = 0
        for col in compare_cols:
            non_nan = group[col].dropna()
            non_nan = non_nan[non_nan != -999]
            total_non_nan += len(non_nan.unique())
            if len(non_nan.unique()) > 1:
                conflicts +=1
        if conflicts == 0 and total_non_nan > 0:
            group.insert(0, 'NID', group.index[0])
            # Not Different
        else:
            group.insert(0, 'NID', group.index)
            # Actually different
        out_df = out_df.append(group)
    return out_df

In [131]:
print(out_df.head(10))

   TID Resignation.Date Middle.Initial                      Rank      Race  \
0    0       2010-06-16              M       9111-CROSSING GUARD     WHITE
1    0              NaN              M               UNK-UNKNOWN     WHITE
2    2              NaN            NaN       9161-POLICE OFFICER     WHITE
3    2              NaN              A       9161-POLICE OFFICER     WHITE
4    4       2006-07-09            NaN       9111-CROSSING GUARD       API
5    4       2006-07-09            NaN       9111-CROSSING GUARD     BLACK
6    6              NaN              G  9164-PO/FIELD TRNING OFF     WHITE
7    6              NaN              G       9161-POLICE OFFICER     WHITE
8    8       2009-10-21            NaN       9161-POLICE OFFICER  HISPANIC
9    8              NaN              R       9161-POLICE OFFICER  HISPANIC

   Current.Star  tid
0          -999    1
1          -999    1
2          -999    2
3          8280    2
4          -999    3
5          -999    3
6          6673    4
7          -999    4
8          -999    5
9          8560    5

In [ ]:
# Now create the full function

In [132]:
df.head()

,Gender,Race,Appointed.Date,Award.Type,Incident.Start.Date,Current.Award.Status,Award.Request.Date,Incident.End.Date,Resignation.Date,Award.ID,...,Rank,Birth.Year,Last.Promotion.Date,Requester.Full.Name,Ceremony.Date,Tracking.NO,Last.Name,Suffix.Name,First.Name,Middle.Initial
0,MALE,WHITE,2005-09-26,UNIT MERITORIOUS PERFORMANCE AWARD,2010-01-01,DENIED,2012-11-02,2010-12-31,NaN,341867,...,9171-SERGEANT OF POLICE,1971,NaN,"PAVON JR, RICARDO",NaN,-999,AARON,NaN,JEFFERY,M
1,MALE,WHITE,2005-09-26,DEPARTMENT COMMENDATION,2014-06-27,DENIED,2014-06-29,2014-06-27,NaN,632370,...,9171-SERGEANT OF POLICE,1971,NaN,"HENKELS, ADAM",NaN,-999,AARON,NaN,JEFFERY,M
2,MALE,WHITE,2005-09-26,HONORABLE MENTION,2014-06-27,DENIED,2014-07-04,2014-06-27,NaN,632978,...,9171-SERGEANT OF POLICE,1971,NaN,"HENKELS, ADAM",NaN,-999,AARON,NaN,JEFFERY,M
3,MALE,WHITE,2005-09-26,HONORABLE MENTION,2006-05-11,FINAL,2006-06-07,2006-05-11,NaN,30113,...,9171-SERGEANT OF POLICE,1971,NaN,"STINITES, ALEXANDER",NaN,-999,AARON,NaN,JEFFERY,M
4,MALE,WHITE,2005-09-26,HONORABLE MENTION,2006-12-02,FINAL,2007-01-31,2006-12-02,NaN,53794,...,9171-SERGEANT OF POLICE,1971,NaN,"CRAWFORD, PATRICK",NaN,-999,AARON,NaN,JEFFERY,M

In [159]:
id_cols = ["First.Name", "Last.Name", "Appointed.Date", "Gender", "Suffix.Name"]
compare_cols = ["Middle.Initial", "Resignation.Date", "Current.Star"]
uid = 'awards_ID'

In [160]:
dfu = df[id_cols + compare_cols].drop_duplicates()
print(dfu.shape)

(26134, 8)

In [161]:
rd_df = remove_duplicates(dfu, id_cols)
rd_df.shape

(26094, 8)

In [162]:
kd_df = keep_duplicates(dfu, id_cols)
kd_df.shape

(40, 8)

In [163]:
kd_df = assign_unique_ids(kd_df, 'TID', id_cols)

In [169]:
kdg = kd_df[['TID'] + id_cols + compare_cols].groupby('TID', as_index=False)

In [171]:
rc = resolve_conflicts(kdg, compare_cols)

In [ ]:
# Nope that won't work