In [27]:
import pandas as pd
import numpy as np
from assign_unique_ids_functions import *

In [2]:
df = pd.read_csv("../input/salary.csv.gz")
df.head()

,Year,Salary,Org.Hire.Date,Pay.Grade,Title,SPP.Date,Gender,Employee.Status,Age.at.Hire,Start.Date,Last.Name,Suffix.Name,First.Name,Middle.Initial
0,2002,57426,1994-08-01,D|1,POLICE OFFICER,1994-08-01,MALE,CAREER SERVICE,29,1994-08-01,TALIAFERRO,NaN,CHRISTOPHE,NaN
1,2002,36984,1994-07-01,D|1,POLICE OFFICER,2002-07-29,MALE,PROBATIONARY CAREER SERVICE,30,2002-07-29,CHEREK,NaN,BEN,J
2,2002,54672,1998-07-27,D|1,POLICE OFFICER,1998-07-27,MALE,CAREER SERVICE,24,1998-07-27,GAINER,NaN,BRIAN,P
3,2002,54672,1998-07-27,D|1,POLICE OFFICER,1998-07-27,FEMALE,CAREER SERVICE,28,1998-07-27,REWERS,NaN,TRACEY,L
4,2002,59412,1990-03-26,D|1,POLICE OFFICER,1990-03-26,MALE,CAREER SERVICE,32,1990-03-26,MCGRAW,NaN,PAUL,M

In [45]:
conflict_cols = ["Start.Date", "Org.Hire.Date", "SPP.Date"]
for year in df['Year'].unique():
    id_cols = ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
               "Gender", "Age.at.Hire","Salary"]
    sub_df = df[df['Year']==year][id_cols + conflict_cols].drop_duplicates()
    sub_df = assign_unique_ids(sub_df, 'TID',id_cols)
    kd = keep_duplicates(sub_df, 'TID')
    print(kd)
    kdg = kd.groupby('TID')[conflict_cols]
    for k,g in kdg:
        #print(g[conflict_cols])
        conflict_list = pd.Series(g[conflict_cols].values.T.ravel())
        conflict_list = conflict_list[conflict_list.notnull()].unique()
        if len(conflict_list) > 1:
            print(conflict_list)
    print(year)

     First.Name  Last.Name Middle.Initial Suffix.Name Gender  Age.at.Hire  \
283     CHARLES  PAWLOWSKI              M          JR   MALE           25
284     CHARLES  PAWLOWSKI              M          JR   MALE           25
2786     DENSEY       COLE              J          II   MALE           22
2787     DENSEY       COLE              J          II   MALE           22
8477     THOMAS    REBHOLZ              M         NaN   MALE           26
8478     THOMAS    REBHOLZ              M         NaN   MALE           26
8955    ANTHONY    GIBBONS              V         NaN   MALE           31
8956    ANTHONY    GIBBONS              V         NaN   MALE           31

      Salary  Start.Date Org.Hire.Date    SPP.Date   TID
283    63654  1980-02-11    1980-02-11  1980-02-11   284
284    63654  1980-02-11    1980-02-11         NaN   284
2786   59412  1992-12-07    1992-12-07  1992-12-07  2786
2787   59412  1992-12-07    1992-12-07         NaN  2786
8477   57426  1997-09-02    1997-09-02  1997-09-02  8476
8478   57426  1997-09-02    1997-09-02         NaN  8476
8955   59412  1991-01-30    1991-01-30  1991-01-30  8953
8956   59412  1991-01-30    1991-01-30         NaN  8953
2002
      First.Name   Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
5          JAMES       KELLY              M         NaN    MALE           30
6          JAMES       KELLY              M         NaN    MALE           30
78         DAVID     SALAZAR            NaN         NaN    MALE           27
79         DAVID     SALAZAR            NaN         NaN    MALE           27
123         LISA    STERLING              R         NaN  FEMALE           30
124         LISA    STERLING              R         NaN  FEMALE           30
196      LEONARD      NAKOFF              P         NaN    MALE           26
197      LEONARD      NAKOFF              P         NaN    MALE           26
291       THOMAS        EICH              F         NaN    MALE           33
292       THOMAS        EICH              F         NaN    MALE           33
381         PAUL   JANKOWSKI              T         NaN    MALE           30
380         PAUL   JANKOWSKI              T         NaN    MALE           30
435     SALVADOR       AVILA              E         NaN    MALE           27
436     SALVADOR       AVILA              E         NaN    MALE           27
466      ALFREDO       VIVAS            NaN          JR    MALE           26
467      ALFREDO       VIVAS            NaN          JR    MALE           26
472      WILLIAM  MCCLELLAND              J         III    MALE           28
473      WILLIAM  MCCLELLAND              J         III    MALE           28
491      TIMOTHY  SZARZYNSKI              M         NaN    MALE           25
492      TIMOTHY  SZARZYNSKI              M         NaN    MALE           25
612         JOSE      TORRES              J         NaN    MALE           28
611         JOSE      TORRES              J         NaN    MALE           28
675        DAVID      GARCIA            NaN         NaN    MALE           31
674        DAVID      GARCIA            NaN         NaN    MALE           31
676     LAURENCE    ROBINSON            NaN         NaN    MALE           29
677     LAURENCE    ROBINSON            NaN         NaN    MALE           29
704      PHILLIP       BROWN              H         NaN    MALE           27
705      PHILLIP       BROWN              H         NaN    MALE           27
719      ANTHONY        HACK              E         NaN    MALE           26
720      ANTHONY        HACK              E         NaN    MALE           26
...          ...         ...            ...         ...     ...          ...
13561       DANA      STARKS              V         NaN    MALE           27
13562       DANA      STARKS              V         NaN    MALE           27
13716     ROBERT      LARSON              W         NaN    MALE           31
13715     ROBERT      LARSON              W         NaN    MALE           31
13749      NAJMA      FOWLER            NaN         NaN  FEMALE           30
13750      NAJMA      FOWLER            NaN         NaN  FEMALE           30
13815      GEOFF      PIENTA              B         NaN    MALE           25
13816      GEOFF      PIENTA              B         NaN    MALE           25
13832      DIANE        SHAW              M         NaN  FEMALE           26
13833      DIANE        SHAW              M         NaN  FEMALE           26
13873       FRED      HUGHES              L         NaN    MALE           28
13874       FRED      HUGHES              L         NaN    MALE           28
13910    PATRICK   GALLAGHER              F         NaN    MALE           28
13911    PATRICK   GALLAGHER              F         NaN    MALE           28
13913     RONALD     SCHMUCK              E         NaN    MALE           28
13912     RONALD     SCHMUCK              E         NaN    MALE           28
13947      ROGER       TERRY              D         NaN    MALE           37
13948      ROGER       TERRY              D         NaN    MALE           37
13956     DARREN        DOSS              W         NaN    MALE           25
13957     DARREN        DOSS              W         NaN    MALE           25
14036     DONALD      HOWARD              A          JR    MALE           32
14037     DONALD      HOWARD              A          JR    MALE           32
14089    MATTHEW       SWAIN              W         NaN    MALE           23
14090    MATTHEW       SWAIN              W         NaN    MALE           23
14149     THOMAS      LELAND              W         NaN    MALE           32
14150     THOMAS      LELAND              W         NaN    MALE           32
14202   RANDOLPH     STEVENS              A         NaN    MALE           37
14203   RANDOLPH     STEVENS              A         NaN    MALE           37
14220        JOE       BEOSI            NaN         NaN    MALE           30
14221        JOE       BEOSI            NaN         NaN    MALE           30

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
5       63456  1993-12-13    1993-12-13  1993-12-13      6
6       63456  1993-12-13    1993-12-13  2003-07-01      6
78      65646  1993-12-13    1993-12-13  1993-12-13     78
79      65646  1993-12-13    1993-12-13  2003-07-01     78
123     58572  1995-07-10    1995-07-10  1995-07-10    122
124     58572  1995-07-10    1995-07-10         NaN    122
196     61518  1995-02-06    1995-02-06  1995-02-06    194
197     61518  1995-02-06    1995-02-06  2003-06-01    194
291     77514  1986-02-03    1986-02-03  1986-02-03    288
292     77514  1986-02-03    1986-02-03         NaN    288
381     72810  1991-01-30    1980-06-03         NaN    376
380     72810  1991-01-30    1980-06-03  1991-01-30    376
435    111036  1990-03-26    1990-03-26         NaN    430
436    111036  1990-03-26    1990-03-26  2003-11-14    430
466     63456  1997-08-04    1997-08-04  1997-08-04    460
467     63456  1997-08-04    1997-08-04  2003-07-01    460
472     63456  1996-05-06    1996-05-06  1996-05-06    465
473     63456  1996-05-06    1996-05-06  2003-07-01    465
491     60600  1992-01-02    1992-01-02  1992-01-02    483
492     60600  1992-01-02    1992-01-02         NaN    483
612     82422  1976-03-08    1976-03-13         NaN    602
611     82422  1976-03-08    1976-03-13  1976-03-08    602
675     63456  1994-07-05    1994-07-05  2003-07-01    664
674     63456  1994-07-05    1994-07-05  1994-07-05    664
676     75102  1986-10-13    1986-03-03  1986-10-13    665
677     75102  1986-10-13    1986-03-03         NaN    665
704     65646  1993-12-13    1993-12-13  1993-12-13    692
705     65646  1993-12-13    1993-12-13  2003-07-01    692
719     62742  1986-08-11    1986-08-11  1986-08-11    706
720     62742  1986-08-11    1986-08-11         NaN    706
...       ...         ...           ...         ...    ...
13561  147936  1977-11-01    2008-02-01         NaN  13177
13562  147936  1977-11-01    2008-02-01  2003-10-06  13177
13716   72810  1992-12-07    1992-12-07         NaN  13329
13715   72810  1992-12-07    1992-12-07  1992-12-07  13329
13749   61518  1998-09-28    1998-09-28  1998-09-28  13362
13750   61518  1998-09-28    1998-09-28  2003-06-01  13362
13815   70488  1996-08-05    1996-08-05  1996-08-05  13427
13816   70488  1996-08-05    1996-08-05         NaN  13427
13832   75102  1985-09-09    1985-09-09  1985-09-09  13443
13833   75102  1985-09-09    1985-09-09         NaN  13443
13873   70488  1996-12-02    1996-12-02  1996-12-02  13483
13874   70488  1996-12-02    1996-12-02         NaN  13483
13910   61518  1986-06-16    1998-12-14  1986-06-16  13519
13911   61518  1986-06-16    1998-12-14  2003-06-01  13519
13913   65646  1993-05-17    1993-05-17  2003-07-01  13520
13912   65646  1993-05-17    1993-05-17  1993-05-17  13520
13947   69264  1984-02-01    1973-09-04  1984-02-01  13554
13948   69264  1984-02-01    1973-09-04         NaN  13554
13956   72810  1990-07-30    1990-07-30  1990-07-30  13562
13957   72810  1990-07-30    1990-07-30         NaN  13562
14036   65646  1991-12-16    1991-12-16  1991-12-16  13641
14037   65646  1991-12-16    1991-12-16  2003-07-01  13641
14089   72810  1992-01-02    1992-01-02  1992-01-02  13693
14090   72810  1992-01-02    1992-01-02         NaN  13693
14149   58572  1994-10-03    1994-10-03  1994-10-03  13752
14150   58572  1994-10-03    1994-10-03         NaN  13752
14202   58572  1998-03-16    1998-03-16  1998-03-16  13804
14203   58572  1998-03-16    1998-03-16         NaN  13804
14220   58572  1997-09-02    1997-09-02  1997-09-02  13821
14221   58572  1997-09-02    1997-09-02         NaN  13821

[795 rows x 11 columns]
['1993-12-13' '2003-07-01']
['1993-12-13' '2003-07-01']
['1995-02-06' '2003-06-01']
['1991-01-30' '1980-06-03']
['1990-03-26' '2003-11-14']
['1997-08-04' '2003-07-01']
['1996-05-06' '2003-07-01']
['1976-03-08' '1976-03-13']
['1994-07-05' '2003-07-01']
['1986-10-13' '1986-03-03']
['1993-12-13' '2003-07-01']
['1990-03-26' '2003-07-01']
['1993-12-13' '2003-07-01']
['1983-07-17' '1982-07-19' '2003-11-14']
['1994-09-06' '2003-07-01']
['1992-06-29' '2003-09-16']
['1990-03-26' '2003-09-16']
['1995-07-10' '2003-07-01']
['1988-11-01' '1981-06-08']
['1995-01-03' '2003-06-01']
['1991-12-16' '2003-07-01']
['1994-10-03' '2003-07-01']
['1975-05-16' '1975-05-21' '2003-11-14']
['1981-06-08' '2003-06-01']
['1995-06-05' '2003-07-01']
['1992-09-28' '2003-07-01']
['1996-07-08' '2003-02-16']

['1996-12-02' '2003-07-01']
['1996-12-02' '2003-07-01']
['1994-09-06' '2003-07-01']
['1992-01-02' '2003-07-01']
['1984-02-01' '1981-05-18' '2003-07-16']
['1973-03-19' '2003-11-14']
['1991-04-24' '2003-09-16']
['1995-06-05' '1994-12-01' '2003-07-01']
['1991-02-27' '2003-07-01']
['1994-09-06' '2003-06-01']
['1987-12-07' '2003-06-16']
['1986-10-13' '2003-07-01']
['1992-12-07' '2003-07-01']
['1997-07-07' '1994-10-03']
['1995-06-05' '2003-07-01']
['1997-08-04' '2003-04-01']
['2007-02-01' '2003-11-14']
['1986-08-11' '1984-01-09' '2003-07-01']
['1985-04-08' '2003-07-01']
['1990-03-26' '2003-11-01']
['1986-10-13' '2003-04-16']
['1992-01-02' '2003-06-01']
['1993-05-17' '2003-07-01']
['1994-09-06' '2003-07-01']
['1994-09-06' '2003-06-16']
['1997-03-17' '2003-07-01']
['1995-09-05' '2003-07-01']
['1987-12-07' '2003-06-01']
['1997-07-07' '2003-07-01']
['1988-12-05' '2003-06-01']
['1986-12-22' '2003-07-01']
['1994-07-05' '2003-07-01']
['1999-05-10' '2003-06-01']
['1996-12-02' '2003-07-01']
['1994-10-03' '2003-07-01']
['1989-12-26' '2003-11-14']
['1997-07-07' '2003-07-01']
['1987-11-16' '1977-11-03']
['1988-12-16' '1978-12-11']
['1995-06-05' '2003-07-01']
['1996-08-05' '2003-06-01']
['1990-08-27' '2003-06-01']
['1997-03-17' '2003-07-01']
['1995-08-07' '2003-02-16']
['1993-11-22' '2003-07-01']
['1994-10-03' '2003-07-01']
['1970-09-14' '2003-04-28']
['1989-12-26' '1987-09-16' '2003-04-16' '2003-07-01']
['1988-05-02' '2003-04-16']
['1993-11-22' '2003-06-16']
['1993-11-22' '2003-07-01']
['1987-02-02' '2003-07-01']
['1973-03-19' '2003-09-16']
['1994-09-06' '2003-11-01']
['1990-08-27' '2003-07-01']
['1995-06-05' '2003-06-01']
['1991-02-27' '2003-11-06']
['1995-06-05' '2003-02-16']
['1997-07-07' '1994-10-17' '2003-04-01']
['1998-06-29' '2003-06-01']
['1994-10-03' '2003-06-01']
['1990-03-26' '2003-06-16']
['1995-06-05' '2003-07-01']
['1995-12-04' '2003-06-16']
['1996-11-04' '2003-07-01']
['1994-09-06' '2003-06-16']
['1997-09-02' '2003-06-01']
['1995-07-10' '2003-04-16']
['1982-08-30' '2003-11-14']
['1988-12-05' '1987-10-16' '2003-06-01']
['1996-07-08' '2003-07-01']
['1972-11-20' '1972-11-21']
['1993-11-22' '2003-07-01']
['1996-05-06' '2003-06-16']
['1994-10-03' '2003-07-01']
['1967-01-23' '2003-11-14']
['1999-03-08' '2003-06-01']
['1988-11-07' '2003-07-01']
['1994-08-01' '2003-03-16']
['1996-11-04' '2003-07-01']
['1999-05-10' '2003-06-01']
['1995-12-04' '2003-06-16']
['1995-10-23' '2003-07-01']
['1995-07-10' '2003-02-16']
['1996-05-06' '2003-07-01']
['1996-03-18' '1994-06-01']
['1995-12-04' '1987-02-16' '2003-06-16']
['1996-07-08' '2003-02-16']
['1995-07-10' '2003-07-01']
['1994-01-18' '2003-06-16']
['1994-05-31' '2003-06-16']
['1996-11-04' '2003-07-01']
['1994-10-03' '2003-07-01']
['1995-12-04' '2003-07-01']
['1995-09-05' '2003-07-01']
['1986-08-11' '2003-06-01']
['1990-03-26' '2003-06-16']
['1987-03-09' '2003-06-16']
['1991-01-02' '2003-07-01']
['1990-08-27' '2003-09-16']
['1998-04-13' '2003-04-01']
['1996-12-02' '2003-07-01']
['1998-08-31' '2003-06-01']
['1995-07-10' '2003-07-01']
['1993-04-16' '1977-07-18']
['1995-01-03' '1989-11-16' '2003-06-16']
['1986-06-16' '2003-07-16']
['1992-01-02' '2003-07-01']
['1995-06-05' '2003-02-16']
['1991-04-24' '2003-07-01']
['1995-07-10' '1990-06-01']
['1996-07-08' '1995-09-01']
['1998-11-30' '2003-06-01']
['1994-05-31' '2003-06-01']
['1993-12-13' '2003-07-01']
['1993-11-22' '2003-07-01']
['1996-12-02' '2003-07-01']
['1992-12-07' '2003-09-16']
['1985-09-09' '2003-07-01']
['1983-01-01' '1982-11-29' '2003-11-14']
['1997-03-17' '2003-07-01']
['1996-03-18' '2003-02-16']
['1990-03-26' '2003-07-01']
['1996-03-18' '2003-07-01']
['1995-12-04' '2003-07-01']
['1995-07-10' '2003-07-01']
['1993-05-17' '2003-07-01']
['1971-07-26' '2003-07-01']
['1988-01-25' '2003-07-01']
['1991-02-27' '2003-06-16']
['1990-08-27' '2003-07-01']
['1994-05-31' '2003-04-16']
['1992-01-02' '2003-06-01']
['1988-11-07' '1986-12-16']
['1994-08-01' '2003-07-01']
['1994-05-31' '2003-11-01']
['1987-12-07' '2003-06-16']
['1992-06-29' '2003-06-01']
['1994-10-03' '2003-02-16']
['1986-12-22' '2003-07-01']
['1995-09-05' '2003-02-16']
['1988-11-07' '1988-03-16' '2003-04-16']
['1996-11-04' '2003-07-01']
['1996-05-06' '2003-07-01']
['1992-06-29' '2003-07-01']
['1984-08-01' '1982-02-01']
['1984-09-01' '1982-03-01']
['1988-11-07' '2003-07-01']
['1991-12-02' '2003-07-01']
['1992-12-07' '2003-07-01']
['1996-12-02' '2003-06-01']
['1994-05-31' '2003-07-01']
['1986-06-16' '2003-07-01']
['1994-09-06' '2003-07-01']
['1969-03-03' '2003-11-14']
['1997-09-02' '2003-08-16']
['1994-12-05' '2003-07-01' '2003-02-16']
['1972-10-23' '2003-11-14']
['1996-03-18' '2003-07-01']
['1986-07-14' '2003-06-16']
['1997-07-07' '2003-07-01']
['1984-02-01' '1975-05-20']
['1976-10-18' '2003-10-16']
['1986-07-14' '2003-06-01']
['1985-07-01' '2003-07-01']
['1996-05-06' '2003-07-01']
['1994-01-18' '2003-07-01']
['1985-04-08' '2003-06-01']
['1990-03-26' '2003-07-01']
['1990-07-30' '2003-06-16']
['1991-02-27' '2003-09-16']
['1997-03-17' '2003-07-01']
['1986-10-13' '2003-06-16']
['1987-03-09' '2003-07-01']
['1994-12-05' '1982-05-03' '2003-06-01']
['1998-02-17' '1988-09-12' '2003-06-01']
['1977-07-18' '2003-11-14']
['1995-07-10' '2003-07-01']
['1997-05-05' '2003-07-01']
['1994-09-06' '2003-06-01']
['1995-02-06' '2003-07-01']
['1986-10-13' '1983-04-27' '2003-07-01']
['1993-11-22' '2003-07-01']
['1990-08-27' '2003-07-01']
['1999-05-10' '2003-06-01']
['1990-03-26' '2003-07-01']
['1997-05-05' '2003-07-01']
['1969-02-17' '1969-02-20']
['1972-04-26' '1976-04-26' '2003-07-01']
['1977-11-01' '2008-02-01' '2003-08-08' '2003-10-06']
['1998-09-28' '2003-06-01']
['1986-06-16' '1998-12-14' '2003-06-01']
['1993-05-17' '2003-07-01']
['1984-02-01' '1973-09-04']
['1991-12-16' '2003-07-01']
2003
      First.Name    Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
42        THOMAS       PIERCE            NaN         NaN    MALE           40
43        THOMAS       PIERCE            NaN         NaN    MALE           40
102       TAMARA     MARGOLIS              B         NaN  FEMALE           24
103       TAMARA     MARGOLIS              B         NaN  FEMALE           24
195      LEONARD       NAKOFF              P         NaN    MALE           26
196      LEONARD       NAKOFF              P         NaN    MALE           26
207       GEORGE    KARUNTZOS              J         NaN    MALE           27
208       GEORGE    KARUNTZOS              J         NaN    MALE           27
290        TESSA       GAINES              M         NaN  FEMALE           40
289        TESSA       GAINES              M         NaN  FEMALE           40
334      RANDALL           WO              K         NaN    MALE           26
335      RANDALL           WO              K         NaN    MALE           26
342         MARK       ZAWILA              A         NaN    MALE           26
343         MARK       ZAWILA              A         NaN    MALE           26
347     RAPUNZEL     WILLIAMS              A         NaN  FEMALE           28
348     RAPUNZEL     WILLIAMS              A         NaN  FEMALE           28
391     WILFREDO       TORRES            NaN          JR    MALE           28
390     WILFREDO       TORRES            NaN          JR    MALE           28
412        ALISA      GLADNEY              T         NaN  FEMALE           27
413        ALISA      GLADNEY              T         NaN  FEMALE           27
491         MARK  VANDERPLOEG              F         NaN    MALE           27
492         MARK  VANDERPLOEG              F         NaN    MALE           27
591      MICHAEL        TOBIN              T         NaN    MALE           29
592      MICHAEL        TOBIN              T         NaN    MALE           29
617         KURT        KANER              G         NaN    MALE           30
618         KURT        KANER              G         NaN    MALE           30
626    DORALICIA        ORTIZ              A         NaN  FEMALE           26
627    DORALICIA        ORTIZ              A         NaN  FEMALE           26
699       GEORGE      GRANIAS              A         NaN    MALE           24
700       GEORGE      GRANIAS              A         NaN    MALE           24
...          ...          ...            ...         ...     ...          ...
13266   LAWRENCE     SPRANDEL              R          JR    MALE           31
13267   LAWRENCE     SPRANDEL              R          JR    MALE           31
13412    MICHAEL     BOEYKENS              N         NaN    MALE           31
13411    MICHAEL     BOEYKENS              N         NaN    MALE           31
13415     STEVEN       SUVADA              E         NaN    MALE           26
13416     STEVEN       SUVADA              E         NaN    MALE           26
13433       RORY     ANDERSON              A         NaN    MALE           33
13434       RORY     ANDERSON              A         NaN    MALE           33
13470     MELVIN     HARGRETT              T         NaN    MALE           27
13471     MELVIN     HARGRETT              T         NaN    MALE           27
13594     JOSEPH        DOANE              P         NaN    MALE           30
13593     JOSEPH        DOANE              P         NaN    MALE           30
13666    ABIGAIL        HENRY              R         NaN  FEMALE           26
13667    ABIGAIL        HENRY              R         NaN  FEMALE           26
13682      LAURA        HENRY              D         NaN  FEMALE           46
13683      LAURA        HENRY              D         NaN  FEMALE           46
13719      JAMES        ADAMS              W         NaN    MALE           24
13720      JAMES        ADAMS              W         NaN    MALE           24
13735    PATRICK    GALLAGHER              F         NaN    MALE           28
13736    PATRICK    GALLAGHER              F         NaN    MALE           28
13789       JOHN      HAFFORD              E         NaN    MALE           36
13790       JOHN      HAFFORD              E         NaN    MALE           36
13858     CHERIE    HENDRICKS            NaN         NaN  FEMALE           29
13859     CHERIE    HENDRICKS            NaN         NaN  FEMALE           29
13907      LLOYD      ALMDALE              M         NaN    MALE           34
13908      LLOYD      ALMDALE              M         NaN    MALE           34
14094    JEFFREY      COLEMAN              L         NaN    MALE           28
14095    JEFFREY      COLEMAN              L         NaN    MALE           28
14115       JILL      KOLSSAK              M         NaN  FEMALE           25
14116       JILL      KOLSSAK              M         NaN  FEMALE           25

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
42      61518  1999-09-13    1996-01-02  1999-09-13     43
43      61518  1999-09-13    1996-01-02  2004-12-01     43
102     70488  1998-07-27    1998-07-27  1998-07-27    102
103     70488  1998-07-27    1998-07-27         NaN    102
195     58572  1995-02-06    1995-02-06  1995-02-06    194
196     58572  1995-02-06    1995-02-06         NaN    194
207     72810  1994-09-06    1994-09-06  1994-09-06    205
208     72810  1994-09-06    1994-09-06         NaN    205
290     65646  1991-12-16    1991-12-16  2004-11-01    286
289     65646  1991-12-16    1991-12-16  1991-12-16    286
334     65646  1991-01-30    1991-01-30  2004-05-01    330
335     65646  1991-01-30    1991-01-30         NaN    330
342     65646  1994-05-02    1994-05-02  1994-05-02    337
343     65646  1994-05-02    1994-05-02  2004-11-01    337
347     67884  1986-11-17    1986-11-17  1986-11-17    341
348     67884  1986-11-17    1986-11-17  2004-11-01    341
391     63456  1997-07-07    1997-07-07  2004-05-01    383
390     63456  1997-07-07    1997-07-07  1997-07-07    383
412     65646  1990-08-27    1990-08-27  1990-08-27    404
413     65646  1990-08-27    1990-08-27  2004-11-01    404
491     70488  1998-07-27    1998-07-27  1998-07-27    482
492     70488  1998-07-27    1998-07-27         NaN    482
591     67884  1978-12-11    1985-05-01  1978-12-11    581
592     67884  1978-12-11    1985-05-01  2004-11-01    581
617     63672  1994-10-03    1994-10-03  1994-10-03    606
618     63672  1994-10-03    1994-10-03  2004-12-01    606
626     62742  1988-05-02    1988-05-02  1988-05-02    614
627     62742  1988-05-02    1988-05-02         NaN    614
699     72810  1994-08-01    1994-08-01  1994-08-01    686
700     72810  1994-08-01    1994-08-01         NaN    686
...       ...         ...           ...         ...    ...
13266   70488  1997-03-17    1997-03-17  1997-03-17  12983
13267   70488  1997-03-17    1997-03-17         NaN  12983
13412   67884  1986-09-08    1986-09-08  2004-05-01  13127
13411   67884  1986-09-08    1986-09-08  1986-09-08  13127
13415   67884  1987-04-13    1987-04-13  1987-04-13  13130
13416   67884  1987-04-13    1987-04-13  2004-05-01  13130
13433   61518  1996-11-04    1996-11-04  1996-11-04  13147
13434   61518  1996-11-04    1996-11-04  2004-06-16  13147
13470   75102  1986-06-16    1986-06-16  2004-04-01  13183
13471   75102  1986-06-16    1986-06-16         NaN  13183
13594   61518  1997-07-07    1997-07-07  2004-12-01  13305
13593   61518  1997-07-07    1997-07-07  1997-07-07  13305
13666   70488  1998-06-29    1998-06-29  1998-06-29  13377
13667   70488  1998-06-29    1998-06-29         NaN  13377
13682   65646  1993-05-17    1993-05-17  1993-05-17  13392
13683   65646  1993-05-17    1993-05-17  2004-05-01  13392
13719   65646  1994-05-31    1994-05-31  1994-05-31  13428
13720   65646  1994-05-31    1994-05-31  2004-11-01  13428
13735   58572  1986-06-16    1998-12-14  1986-06-16  13443
13736   58572  1986-06-16    1998-12-14         NaN  13443
13789   68166  1983-01-10    1982-07-18         NaN  13496
13790   68166  1983-01-10    1982-07-18  2004-07-16  13496
13858   58572  2000-12-18    2000-12-18  2000-12-18  13564
13859   58572  2000-12-18    2000-12-18  2004-12-01  13564
13907   63456  1995-12-04    1995-07-18  1995-12-04  13612
13908   63456  1995-12-04    1995-07-18  2004-11-01  13612
14094   72810  1994-08-01    1994-08-01  1994-08-01  13798
14095   72810  1994-08-01    1994-08-01         NaN  13798
14115   61518  1998-08-31    1998-08-31  1998-08-31  13818
14116   61518  1998-08-31    1998-08-31  2004-12-01  13818

[598 rows x 11 columns]
['1999-09-13' '1996-01-02' '2004-12-01']
['1991-12-16' '2004-11-01']
['1991-01-30' '2004-05-01']
['1994-05-02' '2004-11-01']
['1986-11-17' '2004-11-01']
['1997-07-07' '2004-05-01']
['1990-08-27' '2004-11-01']
['1978-12-11' '1985-05-01' '2004-11-01']
['1994-10-03' '2004-12-01']
['1998-12-14' '2004-12-01']
['1986-06-16' '2004-04-16']
['1984-08-01' '1980-01-28' '2004-12-01']
['1995-06-05' '1994-07-05']
['1992-06-29' '2004-11-01']

['1994-05-16' '1982-08-30']
['1996-03-18' '2004-11-01']
['1990-08-27' '1988-07-11' '2004-11-01']
['1988-02-16' '1986-08-11']
['1994-09-06' '2004-12-01']
['1995-08-07' '2004-11-01']
['1986-12-22' '2004-05-01']
['1976-10-18' '1976-10-19' '2004-11-01']
['1994-08-01' '1994-01-18' '2004-11-01']
['1992-01-02' '2004-11-01']
['1994-12-05' '2004-03-16']
['1991-04-24' '1991-04-21']
['1997-05-05' '1995-09-18']
['1999-05-10' '2004-12-01']
['1989-12-26' '2004-05-01']
['1991-12-16' '2004-09-16']
['1993-03-17' '1997-03-17' '2004-05-01']
['1997-07-07' '2004-05-01']
['1991-06-19' '2004-11-01']
['1985-04-08' '2004-11-01']
['1996-08-05' '2004-11-01']
['1996-12-02' '2004-11-01']
['1978-02-27' '2004-05-01']
['1985-04-25' '1981-06-08' '2004-07-16']
['1988-12-01' '2004-06-16']
['1995-07-10' '2004-11-01']
['1993-11-22' '2004-11-01']
['1990-08-27' '2004-11-01']
['2000-01-24' '2004-12-01']
['1997-07-07' '2004-12-01']
['1999-03-08' '2004-12-01']
['1986-02-03' '2004-12-01']
['1991-05-22' '1990-10-02']
['1995-10-23' '1993-01-04' '2004-05-01']
['1997-08-04' '2004-05-01']
['1996-05-06' '2004-11-01']
['1982-07-19' '2004-07-16']
['1973-10-22' '2004-09-16']
['1993-11-22' '2004-05-01']
['1994-05-31' '2004-11-01']
['1982-08-30' '2004-11-01']
['1991-12-16' '2004-12-01']
['1991-11-18' '2004-05-01']
['1994-05-02' '2004-05-01']
['1995-06-05' '2004-11-01']
['1997-05-05' '2004-11-01']
['1997-03-17' '2004-11-01']
['1992-06-29' '2004-11-01']
['1978-12-11' '2004-12-01']
['1990-03-26' '2004-07-16']
['1986-12-22' '2004-12-01']
['1999-09-13' '2004-12-01']
['1999-05-10' '2004-12-01']
['1992-06-29' '2004-06-16']
['1985-11-18' '2004-11-01']
['1993-11-22' '2004-11-01']
['1985-03-04' '2004-09-16']
['1989-12-26' '2004-12-01']
['1991-03-27' '2004-11-01']
['1997-08-04' '1992-06-01' '2004-05-01']
['1991-01-02' '2004-12-01']
['1992-12-07' '2004-11-01']
['1994-01-18' '2004-05-01']
['1995-02-06' '2004-08-01']
['1992-01-02' '2004-05-01']
['1993-12-13' '2004-11-01']
['1982-03-01' '2004-07-16']
['1983-02-14' '2004-11-01']
['1989-12-26' '2004-12-01']
['1985-11-18' '2004-11-01']
['1993-11-22' '2004-11-01']
['1992-06-29' '2004-11-01']
['1994-05-31' '2004-11-01']
['1982-08-30' '2004-06-16']
['1996-12-02' '2004-12-01']
['1995-10-23' '2004-11-01']
['1991-01-02' '2004-11-01']
['1986-11-17' '2004-11-01']
['1994-07-05' '2004-12-01']
['1996-03-18' '2004-11-01']
['1991-11-18' '2004-09-16']
['1993-11-22' '2004-11-01']
['1982-06-14' '2004-07-16']
['1994-10-03' '2004-12-01']
['1991-12-02' '2004-11-01']
['1987-12-07' '2004-06-16']
['1996-11-04' '2004-11-01']
['1996-03-18' '2004-11-01']
['1995-09-05' '2004-11-01']
['1985-12-16' '1979-07-23' '2004-11-01']
['1997-08-04' '2004-11-01']
['1991-12-16' '2004-11-01']
['1994-08-01' '2004-11-01']
['1989-12-26' '2004-11-01']
['1992-01-02' '2004-11-01']
['1985-03-04' '2004-07-16']
['1996-12-02' '2004-11-01']
['1996-05-06' '2004-12-16']
['1994-01-18' '2004-04-16']
['1986-10-13' '2004-11-01']
['1991-12-16' '2004-11-01']
['1995-01-03' '2004-05-01']
['1990-03-26' '2004-11-01']
['1995-06-05' '2004-07-01']
['1986-07-14' '2004-11-01']
['1982-08-30' '2004-03-10']
['1996-05-06' '2004-11-01']
['1982-11-29' '2004-05-01']
['1991-12-02' '2004-05-01']
['1994-12-05' '2004-05-01']
['1994-12-05' '2004-05-01']
['1990-07-30' '2004-11-01']
['1986-12-22' '2004-05-01']
['1987-03-09' '2004-11-01']
['1991-12-16' '2004-05-01']
['1994-05-02' '2004-05-01']
['1985-09-09' '2004-07-16']
['1986-12-22' '2004-05-01']
['1968-02-05' '1968-02-06' '2004-11-01']
['1984-02-01' '1978-02-27']
['1986-07-14' '2004-06-16']
['1985-03-04' '2004-11-01']
['1991-12-02' '2004-11-01']
['1997-05-05' '2004-07-16']
['1994-05-02' '2004-11-01']
['1997-08-04' '1987-03-03' '2004-05-01']
['1993-12-13' '2004-11-01']
['1995-01-03' '2004-05-01']
['1985-11-18' '2004-06-16']
['1986-08-11' '2004-11-01']
['1994-12-05' '2004-05-01']
['1994-08-01' '2004-05-01']
['1986-11-17' '2004-11-01']
['1995-07-10' '2004-11-01']
['1986-12-22' '2004-11-01']
['1986-08-11' '2004-11-01']
['1995-10-23' '2004-12-01']
['1976-10-18' '1976-10-20' '2004-12-01']
['1994-07-05' '2004-11-01']
['1982-11-29' '2004-05-01']
['1981-06-08' '1970-01-12' '2004-07-16']
['1977-11-01' '2004-07-16']
['1986-12-22' '2004-05-01']
['1986-12-22' '2004-11-01']
['1986-08-11' '2004-05-01']
['1991-11-18' '2004-11-01']
['1994-09-06' '2004-05-01']
['1987-04-13' '2004-05-01']
['1992-06-29' '2004-11-01']
['1994-10-03' '2004-05-01']
['1993-05-17' '2004-11-01']
['1985-07-01' '2004-11-01']
['1984-09-01' '1982-03-01' '2004-07-16']
['1977-11-01' '2004-03-01']
['1985-03-04' '2004-05-01']
['1986-06-16' '2004-11-01']
['1991-05-22' '2004-05-01']
['1997-09-02' '2004-12-01']
['1983-01-01' '1982-11-29' '2004-12-01']
['1988-12-05' '2004-07-16']
['1999-08-02' '2004-12-01']
['1994-05-02' '2004-11-01']
['1992-09-28' '2004-11-01']
['1989-12-26' '2004-11-01']
['1984-02-01' '1978-02-27' '2004-11-01']
['1995-02-06' '2004-05-01']
['1994-08-01' '2004-12-01']
['1991-12-16' '2004-11-01']
['1997-05-05' '2004-11-01']
['1971-02-22' '2004-09-01']
['1986-08-11' '2004-05-01']
['1982-03-01' '2004-08-01']
['1995-02-06' '2004-11-01']
['1995-09-05' '2004-11-01']
['1999-03-08' '2004-12-01']
['1991-12-02' '2004-12-16']
['1991-01-30' '2004-11-01']
['1995-07-10' '2004-11-01']
['1991-12-16' '2004-06-16']
['1991-12-02' '2004-11-01']
['1990-03-26' '2004-11-01']
['1995-09-05' '2004-11-01']
['1998-06-29' '2004-12-01']
['1994-05-02' '2004-08-01']
['1986-07-14' '2004-11-01']
['1994-12-05' '2004-11-01']
['1993-12-13' '2004-10-16']
['1997-09-02' '2004-11-01']
['1995-12-04' '2004-11-01']
['1980-09-29' '2004-07-16']
['1988-11-07' '2004-11-01']
['1986-07-14' '2004-11-01']
['1991-11-18' '2004-11-01']
['1995-07-10' '2004-11-01']
['1994-09-06' '2004-11-01']
['1995-09-05' '2004-12-01']
['1993-05-17' '2004-06-16']
['1986-09-08' '2004-05-01']
['1987-04-13' '2004-05-01']
['1996-11-04' '2004-06-16']
['1986-06-16' '2004-04-01']
['1997-07-07' '2004-12-01']
['1993-05-17' '2004-05-01']
['1994-05-31' '2004-11-01']
['1986-06-16' '1998-12-14']
['1983-01-10' '1982-07-18' '2004-07-16']
['2000-12-18' '2004-12-01']
['1995-12-04' '1995-07-18' '2004-11-01']
['1998-08-31' '2004-12-01']
2004
      First.Name     Last.Name Middle.Initial Suffix.Name  Gender  \
25        YVONNE    CARYCARTER              E         NaN  FEMALE
26        YVONNE    CARYCARTER              E         NaN  FEMALE
298         ALEX     ARANOWSKI              J         NaN    MALE
299         ALEX     ARANOWSKI              J         NaN    MALE
456      WILLIAM    MCCLELLAND              J         III    MALE
457      WILLIAM    MCCLELLAND              J         III    MALE
693        PETER        SODINI              E         NaN    MALE
694        PETER        SODINI              E         NaN    MALE
698      ANTHONY       PATRICK              C         NaN    MALE
699      ANTHONY       PATRICK              C         NaN    MALE
712       DANIEL      SCHAEDEL              F         NaN    MALE
711       DANIEL      SCHAEDEL              F         NaN    MALE
760         JUAN      MARTINEZ            NaN         NaN    MALE
761         JUAN      MARTINEZ            NaN         NaN    MALE
770        JAMES        HLADIK              R         NaN    MALE
771        JAMES        HLADIK              R         NaN    MALE
798       JOSEPH          MARK              K         NaN    MALE
799       JOSEPH          MARK              K         NaN    MALE
878       GEORGE     ROSEBROCK              A         NaN    MALE
879       GEORGE     ROSEBROCK              A         NaN    MALE
1116     MICHAEL        CHASEN              S         NaN    MALE
1115     MICHAEL        CHASEN              S         NaN    MALE
1123      EUGENE         CHUDY              T         NaN    MALE
1124      EUGENE         CHUDY              T         NaN    MALE
1222   FREDERICK      HARNISCH              L          JR    MALE
1223   FREDERICK      HARNISCH              L          JR    MALE
1386     MICHAEL        NALLEN              K         NaN    MALE
1387     MICHAEL        NALLEN              K         NaN    MALE
1448     WILLIAM        WHALEN              A         NaN    MALE
1449     WILLIAM        WHALEN              A         NaN    MALE
...          ...           ...            ...         ...     ...
12669   LAWRENCE  STRZECHOWSKI              J         NaN    MALE
12668   LAWRENCE  STRZECHOWSKI              J         NaN    MALE
12716     MISAEL       RAMIREZ            NaN          JR    MALE
12717     MISAEL       RAMIREZ            NaN          JR    MALE
12844    STEPHEN      WILINSKI              J         NaN    MALE
12845    STEPHEN      WILINSKI              J         NaN    MALE
12859      JERRY        CEPEDA            NaN         NaN    MALE
12860      JERRY        CEPEDA            NaN         NaN    MALE
12928     DAVINA          WARD              F         NaN  FEMALE
12929     DAVINA          WARD              F         NaN  FEMALE
12987    RICARDO       HERRERA            NaN         NaN    MALE
12988    RICARDO       HERRERA            NaN         NaN    MALE
12991       DALE   JESIONOWSKI              R         NaN    MALE
12992       DALE   JESIONOWSKI              R         NaN    MALE
13038      JASON        WILSON              L         NaN    MALE
13039      JASON        WILSON              L         NaN    MALE
13082    LEONARD      CACIOPPO              P         NaN    MALE
13083    LEONARD      CACIOPPO              P         NaN    MALE
13159      JAMES      CALDWELL              C         NaN    MALE
13160      JAMES      CALDWELL              C         NaN    MALE
13251    MICHAEL         ROMAN              A         NaN    MALE
13250    MICHAEL         ROMAN              A         NaN    MALE
13301      NAJMA        FOWLER            NaN         NaN  FEMALE
13302      NAJMA        FOWLER            NaN         NaN  FEMALE
13576  CLEVELAND         JONES              J          JR    MALE
13577  CLEVELAND         JONES              J          JR    MALE
13737    JUANITA         CIPUN            NaN         NaN  FEMALE
13738    JUANITA         CIPUN            NaN         NaN  FEMALE
13831       RUBY        HERRON            NaN         NaN  FEMALE
13832       RUBY        HERRON            NaN         NaN  FEMALE

       Age.at.Hire  Salary  Start.Date Org.Hire.Date    SPP.Date    TID
25              44   67920  1998-11-30    1998-11-30  1998-11-30     26
26              44   67920  1998-11-30    1998-11-30  2005-12-01     26
298             39   70296  1992-06-29    1992-06-29  1992-06-29    298
299             39   70296  1992-06-29    1992-06-29  2005-12-01    298
456             28   70488  1996-05-06    1996-05-06         NaN    455
457             28   70488  1996-05-06    1996-05-06  2005-05-01    455
693             26   70488  1997-08-04    1997-08-04         NaN    691
694             26   70488  1997-08-04    1997-08-04  2005-05-01    691
698             33   70488  1998-06-29    1998-06-29  1998-06-29    695
699             33   70488  1998-06-29    1998-06-29  2005-05-01    695
712             24   70296  1994-07-05    1994-07-05  2005-12-01    707
711             24   70296  1994-07-05    1994-07-05  1994-07-05    707
760             34   67920  1998-10-13    1998-10-13  1998-10-13    755
761             34   67920  1998-10-13    1998-10-13  2005-06-07    755
770             26   66906  1995-02-06    1995-02-06  1995-02-06    764
771             26   66906  1995-02-06    1995-02-06         NaN    764
798             30   70488  1998-09-28    1998-09-28  1998-09-28    791
799             30   70488  1998-09-28    1998-09-28  2005-05-01    791
878             31  134400  1984-04-01    1980-09-29  2005-07-01    870
879             31  134400  1984-04-01    1980-09-29         NaN    870
1116            22  140532  1969-01-06    1969-01-06  2005-07-01   1106
1115            22  140532  1969-01-06    1969-01-06         NaN   1106
1123            39   91002  1984-11-16    1975-05-16  2005-08-16   1113
1124            39   91002  1984-11-16    1975-05-16         NaN   1113
1222            34   67920  1997-03-17    1997-03-17  1997-03-17   1211
1223            34   67920  1997-03-17    1997-03-17  2005-06-07   1211
1386            23   72810  1993-11-22    1993-11-22  1993-11-22   1374
1387            23   72810  1993-11-22    1993-11-22  2005-05-01   1374
1448            35   80022  1990-02-01    1980-01-28         NaN   1435
1449            35   80022  1990-02-01    1980-01-28  2005-05-01   1435
...            ...     ...         ...           ...         ...    ...
12669           24   70488  1996-03-18    1995-06-01  2005-05-01  12512
12668           24   70488  1996-03-18    1995-06-01  1996-03-18  12512
12716           24   72810  1995-07-10    1995-07-10  1995-07-10  12559
12717           24   72810  1995-07-10    1995-07-10  2005-05-01  12559
12844           32   75258  1985-05-06    1982-11-16  1985-05-06  12686
12845           32   75258  1985-05-06    1982-11-16  2005-06-07  12686
12859           29   75102  1986-09-08    1986-09-08  1986-09-08  12700
12860           29   75102  1986-09-08    1986-09-08  2005-05-01  12700
12928           31   67920  1999-08-02    1999-08-02  1999-08-02  12768
12929           31   67920  1999-08-02    1999-08-02  2005-06-07  12768
12987           25   75102  1990-07-30    1990-07-30  1990-07-30  12826
12988           25   75102  1990-07-30    1990-07-30  2005-05-01  12826
12991           28   70296  1991-11-18    1991-11-18  1991-11-18  12829
12992           28   70296  1991-11-18    1991-11-18  2005-06-07  12829
13038           26   67920  2000-01-24    2000-01-24  2000-01-24  12874
13039           26   67920  2000-01-24    2000-01-24  2005-06-07  12874
13082           35   88356  1983-01-16    1980-09-29  1983-01-16  12917
13083           35   88356  1983-01-16    1980-09-29  2005-12-16  12917
13159           26   77514  1983-02-14    1983-02-14         NaN  12993
13160           26   77514  1983-02-14    1983-02-14  2005-05-01  12993
13251           23   77820  2000-06-19    2000-06-19  2000-06-19  13083
13250           23   77820  2000-06-19    2000-06-19  2005-10-01  13083
13301           30   64662  1998-09-28    1998-09-28  1998-09-28  13133
13302           30   64662  1998-09-28    1998-09-28         NaN  13133
13576           32   67920  1999-10-25    1999-10-25  1999-10-25  13407
13577           32   67920  1999-10-25    1999-10-25  2005-06-07  13407
13737           34   70296  1991-01-30    1991-01-30  1991-01-30  13567
13738           34   70296  1991-01-30    1991-01-30  2005-06-07  13567
13831           38   72726  1990-08-27    1990-08-27  1990-08-27  13660
13832           38   72726  1990-08-27    1990-08-27  2005-06-07  13660

[346 rows x 11 columns]
['1998-11-30' '2005-12-01']
['1992-06-29' '2005-12-01']
['1996-05-06' '2005-05-01']
['1997-08-04' '2005-05-01']
['1998-06-29' '2005-05-01']
['1994-07-05' '2005-12-01']
['1998-10-13' '2005-06-07']
['1998-09-28' '2005-05-01']
['1984-04-01' '1980-09-29' '2005-07-01']
['1969-01-06' '2005-07-01']
['1984-11-16' '1975-05-16' '2005-08-16']
['1997-03-17' '2005-06-07']
['1993-11-22' '2005-05-01']
['1990-02-01' '1980-01-28' '2005-05-01']
['1975-05-16' '1975-05-21' '2005-06-01']
['1993-11-22' '2005-05-01']
['1998-10-26' '2005-05-01']
['1994-08-01' '1994-01-18' '2005-05-01']
['1999-09-13' '2005-06-07']
['1999-07-12' '2005-12-01']
['1998-08-31' '2005-05-01']
['1991-05-22' '2005-05-01']
['1994-05-31' '2005-06-07']
['1987-03-09' '2005-12-16']
['1996-05-06' '2005-05-01']
['1995-06-05' '2005-12-01']
['1993-12-13' '2005-05-01']
['1999-10-04' '2005-06-07']
['1990-03-26' '2005-05-01']
['1994-05-02' '1992-06-01' '2005-05-01']
['1977-11-01' '2005-12-16']
['1991-05-22' '2005-05-01']
['1991-03-27' '2005-06-07']
['1978-12-11' '2005-12-16']
['1996-07-08' '2005-05-01']
['1991-12-16' '2005-06-07']
['1971-06-14' '2005-06-01']
['1991-11-18' '2005-05-01']
['1993-05-17' '2005-12-01']
['1995-12-04' '2005-05-01']
['1998-08-31' '2005-05-01']
['1987-08-01' '1977-07-18' '2005-12-01']
['1981-01-19' '2005-05-01']
['1980-02-11' '1978-07-15' '2005-05-01']
['1986-02-03' '2005-06-07']
['1995-07-10' '2005-05-01']
['1997-07-07' '2005-12-01']
['1997-05-05' '2005-12-01']
['1986-11-17' '2005-08-16']
['1996-11-04' '2005-05-01']
['1999-03-08' '2005-06-07']
['1998-09-28' '2005-12-01']
['1993-05-17' '2005-08-16']
['1999-11-15' '2005-06-07']
['1997-08-04' '2005-05-01']
['1991-11-18' '2005-06-07']
['1982-08-30' '2005-06-01']
['1991-04-24' '2005-12-01']
['1999-10-25' '2005-06-07']
['2000-08-14' '1998-12-01' '2005-06-07']
['2001-06-25' '2005-06-07']
['1990-03-26' '2005-11-01']
['1996-12-02' '2005-06-07']
['1999-10-25' '2005-12-01']
['2001-10-29' '2005-06-07']
['1986-02-03' '2005-06-07']
['1999-05-10' '2005-06-07']
['1996-07-08' '2005-12-01']
['1998-09-28' '2005-05-01']
['1996-03-18' '2005-05-01']
['1995-07-10' '2005-05-01']
['1994-05-02' '2005-05-01']
['1998-06-29' '2005-05-01']
['2000-12-18' '1994-12-01' '2005-06-07']
['2001-12-17' '2005-06-07']
['1995-09-05' '2005-05-01']
['1995-07-10' '2005-05-01']
['1999-12-13' '2005-06-07']

['1994-12-05' '2005-05-01']
['1994-12-05' '2005-02-16']
['1990-03-26' '2005-05-01']
['1995-08-07' '2005-05-01']
['1982-06-14' '2005-05-01']
['1997-07-07' '2005-12-01']
['1975-05-16' '2006-04-24' '2005-02-17']
['1977-11-01' '2005-08-16']
['2000-08-14' '2005-06-07']
['1993-05-17' '2005-05-01']
['1995-09-05' '2005-05-01']
['1995-12-04' '2005-10-01']
['1995-09-05' '2005-05-01']
['1992-12-07' '2005-05-01']
['1994-05-02' '2005-05-01']
['1987-12-07' '2005-06-07']
['1983-01-01' '1982-11-29' '2005-06-01']
['1995-02-06' '2005-05-01']
['1998-10-26' '2005-05-01']
['1991-02-27' '2005-05-01']
['1981-06-08' '2005-05-01']
['1994-07-05' '2005-05-01']
['1994-07-05' '2005-06-07']
['1995-01-03' '2005-12-16']
['2001-04-30' '1998-11-30']
['1996-12-02' '2005-05-01']
['1999-07-12' '2005-06-07']
['1995-07-10' '2005-12-01']
['1994-01-18' '2005-05-01']
['1972-11-20' '2005-06-01']
['1988-05-02' '2005-05-16']
['1993-12-13' '2005-05-01']
['1997-09-02' '1993-06-01' '2005-12-01']
['1995-09-05' '2005-05-01']
['1999-10-04' '2005-12-01']
['1973-03-19' '2005-06-01']
['1994-08-01' '2005-05-01']
['1998-09-28' '2005-05-01']
['1997-03-17' '1990-03-06' '2005-12-01']
['1991-12-02' '2005-07-16']
['1986-10-13' '2005-05-01']
['1980-09-29' '2005-07-01']
['1997-09-02' '2005-05-01']
['1999-10-25' '1998-04-06' '2005-12-01']
['1992-09-28' '2005-05-01']
['1997-07-07' '2005-06-07']
['1996-11-04' '2005-05-01']
['1998-09-28' '2005-06-07']
['1996-05-06' '2005-06-07']
['1995-02-06' '2005-05-01']
['1993-05-17' '2005-12-01']
['1995-10-23' '2005-06-07']
['1993-05-17' '2005-05-01']
['1986-06-16' '1990-03-26' '2005-02-01']
['1995-10-23' '2005-06-07']
['1986-12-22' '2005-05-01']
['1991-02-27' '2005-05-01']
['1999-09-13' '2005-06-07']
['1973-06-04' '2005-06-01']
['2001-12-17' '2005-06-07']
['1991-12-16' '2005-06-07']
['1995-07-10' '2005-05-01']
['1998-10-26' '2005-06-07']
['1986-11-17' '2005-08-16']
['2000-08-14' '2005-06-07']
['2000-09-11' '2005-06-07']
['1996-03-18' '2005-06-07']
['1999-09-13' '2005-06-07']
['2000-06-19' '2005-06-07']
['1994-05-31' '2005-05-01']
['1996-03-18' '1995-06-01' '2005-05-01']
['1995-07-10' '2005-05-01']
['1985-05-06' '1982-11-16' '2005-06-07']
['1986-09-08' '2005-05-01']
['1999-08-02' '2005-06-07']
['1990-07-30' '2005-05-01']
['1991-11-18' '2005-06-07']
['2000-01-24' '2005-06-07']
['1983-01-16' '1980-09-29' '2005-12-16']
['1983-02-14' '2005-05-01']
['2000-06-19' '2005-10-01']
['1999-10-25' '2005-06-07']
['1991-01-30' '2005-06-07']
['1990-08-27' '2005-06-07']
2005
      First.Name    Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
67          ERIC     WINSTROM            NaN         NaN    MALE           25
68          ERIC     WINSTROM            NaN         NaN    MALE           25
422      STANLEY      KALICKI              T         NaN    MALE           25
423      STANLEY      KALICKI              T         NaN    MALE           25
484      TIMOTHY   SZARZYNSKI              M         NaN    MALE           25
485      TIMOTHY   SZARZYNSKI              M         NaN    MALE           25
519         TROY      FLEMING              M         NaN    MALE           26
520         TROY      FLEMING              M         NaN    MALE           26
614    DORALICIA        ORTIZ              A         NaN  FEMALE           26
615    DORALICIA        ORTIZ              A         NaN  FEMALE           26
668         CARA  KUPRIANCZYK              A         NaN  FEMALE           26
669         CARA  KUPRIANCZYK              A         NaN  FEMALE           26
713       DANIEL     SCHAEDEL              F         NaN    MALE           24
714       DANIEL     SCHAEDEL              F         NaN    MALE           24
725        KELLY     MCMULLIN              J         NaN    MALE           24
724        KELLY     MCMULLIN              J         NaN    MALE           24
785        BRIAN       OLEARY              O         NaN    MALE           25
786        BRIAN       OLEARY              O         NaN    MALE           25
849       TERESE         SOTO              N         NaN  FEMALE           24
850       TERESE         SOTO              N         NaN  FEMALE           24
851       GERALD      SWINKLE              J         NaN    MALE           22
852       GERALD      SWINKLE              J         NaN    MALE           22
891    CHRISTINE    ZAPRZALKA              A         NaN  FEMALE           32
892    CHRISTINE    ZAPRZALKA              A         NaN  FEMALE           32
930      PAULINE         VODY              D         NaN  FEMALE           36
931      PAULINE         VODY              D         NaN  FEMALE           36
961      DEBORAH       MEDINA              M         NaN  FEMALE           22
962      DEBORAH       MEDINA              M         NaN  FEMALE           22
975      CHARLES        MAIDA              V         NaN    MALE           26
976      CHARLES        MAIDA              V         NaN    MALE           26
...          ...          ...            ...         ...     ...          ...
13290     JOSEPH      KEATING              F         NaN    MALE           29
13291     JOSEPH      KEATING              F         NaN    MALE           29
13389     JOSEPH     TOKARSKI              A         NaN    MALE           26
13390     JOSEPH     TOKARSKI              A         NaN    MALE           26
13561    MARLENE      LAURICH              A         NaN  FEMALE           32
13562    MARLENE      LAURICH              A         NaN  FEMALE           32
13622       KRIS      EVANOFF              P         NaN    MALE           21
13623       KRIS      EVANOFF              P         NaN    MALE           21
13666      DAVID      HINDMAN              J         NaN    MALE           26
13667      DAVID      HINDMAN              J         NaN    MALE           26
13724      BRIAN        DREES              G         NaN    MALE           32
13725      BRIAN        DREES              G         NaN    MALE           32
13769    PATRICK      JOHNSON              B         NaN    MALE           23
13768    PATRICK      JOHNSON              B         NaN    MALE           23
13841    MATTHEW       LITTLE              S         NaN    MALE           30
13840    MATTHEW       LITTLE              S         NaN    MALE           30
13846       SAUL   BARRIENTOS              D         NaN    MALE           25
13847       SAUL   BARRIENTOS              D         NaN    MALE           25
13876    JESSICA        JONES              M         NaN  FEMALE           24
13877    JESSICA        JONES              M         NaN  FEMALE           24
13881    MICHAEL       FILBIN              C         NaN    MALE           32
13882    MICHAEL       FILBIN              C         NaN    MALE           32
13916     ROLAND        JONES              J         NaN    MALE           30
13917     ROLAND        JONES              J         NaN    MALE           30
13942    MICHAEL      CUMMINS              S         NaN    MALE           31
13943    MICHAEL      CUMMINS              S         NaN    MALE           31
13956     THOMAS       LELAND              W         NaN    MALE           32
13957     THOMAS       LELAND              W         NaN    MALE           32
14019       ERIK        CHOPP              L         NaN    MALE           29
14020       ERIK        CHOPP              L         NaN    MALE           29

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
67      72516  2000-08-14    2000-08-14  2000-08-14     68
68      72516  2000-08-14    2000-08-14  2006-02-01     68
422     72516  1999-10-04    1999-10-04  1999-10-04    422
423     72516  1999-10-04    1999-10-04  2006-02-01    422
484     83214  1992-01-02    1992-01-02  1992-01-02    483
485     83214  1992-01-02    1992-01-02  2006-03-16    483
519     72516  1998-12-14    1998-12-14  1998-12-14    517
520     72516  1998-12-14    1998-12-14  2006-02-01    517
614     85818  1988-05-02    1988-05-02  1988-05-02    611
615     85818  1988-05-02    1988-05-02  2006-03-16    611
668     72726  1995-06-05    1995-06-05  1995-06-05    664
669     72726  1995-06-05    1995-06-05  2006-11-16    664
713     74946  1994-07-05    1994-07-05  2006-06-13    708
714     74946  1994-07-05    1994-07-05         NaN    708
725     88356  1985-09-09    1985-09-09         NaN    718
724     88356  1985-09-09    1985-09-09  2006-08-16    718
785     83214  1996-12-02    1996-12-02  1996-12-02    778
786     83214  1996-12-02    1996-12-02  2006-03-16    778
849     70296  2000-01-24    2000-01-24  2000-01-24    841
850     70296  2000-01-24    2000-01-24  2006-11-16    841
851     74946  1995-06-05    1995-06-05  1995-06-05    842
852     74946  1995-06-05    1995-06-05  2006-02-01    842
891     91446  1985-12-01    1981-05-18  1985-12-01    881
892     91446  1985-12-01    1981-05-18  2006-03-16    881
930     72726  1992-06-29    1992-06-29  2006-12-16    919
931     72726  1992-06-29    1992-06-29  1992-06-29    919
961     80400  1986-10-13    1986-10-13  1986-10-13    949
962     80400  1986-10-13    1986-10-13  2006-06-13    949
975     83214  1994-12-05    1994-12-05  1994-12-05    962
976     83214  1994-12-05    1994-12-05  2006-03-16    962
...       ...         ...           ...         ...    ...
13290   70296  1998-02-17    1998-02-17  1998-02-17  13045
13291   70296  1998-02-17    1998-02-17         NaN  13045
13389   85818  1988-12-05    1988-12-05  1988-12-05  13143
13390   85818  1988-12-05    1988-12-05  2006-03-16  13143
13561   72516  2000-02-28    2000-02-28  2000-02-28  13314
13562   72516  2000-02-28    2000-02-28  2006-02-01  13314
13622   85584  1991-11-18    1991-11-18  2006-08-16  13374
13623   85584  1991-11-18    1991-11-18         NaN  13374
13666   72516  1998-05-26    1996-07-16  1998-05-26  13417
13667   72516  1998-05-26    1996-07-16  2006-02-01  13417
13724   72516  2000-12-18    2000-12-18  2000-12-18  13474
13725   72516  2000-12-18    2000-12-18  2006-06-13  13474
13769   74946  1996-07-08    1996-07-08  2006-06-13  13517
13768   74946  1996-07-08    1996-07-08  1996-07-08  13517
13841   80544  1998-03-16    1998-03-16  2006-03-16  13588
13840   80544  1998-03-16    1998-03-16  1998-03-16  13588
13846   74946  1994-01-18    1988-08-01  1994-01-18  13593
13847   74946  1994-01-18    1988-08-01  2006-02-01  13593
13876   72516  2001-06-25    2001-06-25  2001-06-25  13622
13877   72516  2001-06-25    2001-06-25  2006-02-01  13622
13881   74946  1995-08-07    1995-08-07  1995-08-07  13626
13882   74946  1995-08-07    1995-08-07  2006-06-13  13626
13916   82914  1994-05-02    1994-05-02  2006-08-16  13660
13917   82914  1994-05-02    1994-05-02         NaN  13660
13942   83214  1993-05-17    1993-05-17         NaN  13685
13943   83214  1993-05-17    1993-05-17  2006-03-16  13685
13956   83214  1994-10-03    1994-10-03  1994-10-03  13698
13957   83214  1994-10-03    1994-10-03  2006-03-16  13698
14019   72516  2000-09-11    2000-09-11  2000-09-11  13760
14020   72516  2000-09-11    2000-09-11  2006-06-13  13760

[522 rows x 11 columns]
['2000-08-14' '2006-02-01']
['1999-10-04' '2006-02-01']
['1992-01-02' '2006-03-16']
['1998-12-14' '2006-02-01']
['1988-05-02' '2006-03-16']
['1995-06-05' '2006-11-16']
['1994-07-05' '2006-06-13']
['1985-09-09' '2006-08-16']

['1996-12-02' '2006-03-16']
['2000-01-24' '2006-11-16']
['1995-06-05' '2006-02-01']
['1985-12-01' '1981-05-18' '2006-03-16']
['1992-06-29' '2006-12-16']
['1986-10-13' '2006-06-13']
['1994-12-05' '2006-03-16']
['1986-08-11' '2006-03-16']
['1997-05-05' '2006-02-01']
['1995-10-23' '2006-12-16']
['1998-10-26' '2006-02-01']
['1995-10-23' '2006-09-16']
['1999-07-12' '2006-02-01']
['1985-03-04' '2006-03-16']
['1997-03-17' '2006-03-16']
['1999-11-29' '2006-06-13']
['1995-07-10' '2006-03-16']
['1991-12-02' '2006-06-13']
['1995-09-05' '2006-03-16']
['1988-01-16' '1986-07-14' '2006-03-16']
['1995-08-07' '2006-08-07' '2006-09-16']
['1997-07-07' '2006-06-13']
['2001-12-17' '2006-02-01']
['1995-09-05' '2006-03-16']
['1998-10-13' '2006-06-13']
['1999-11-15' '2006-02-01']
['1999-08-02' '2006-06-13']
['1999-03-08' '2006-06-13']
['1992-09-28' '1982-09-28' '2006-06-13']
['1995-12-04' '2006-08-16']
['1991-12-16' '2006-06-13']
['1993-12-13' '2006-06-13']
['1991-04-24' '1991-04-21' '2006-06-13']
['1994-09-06' '1990-10-22' '2006-02-01']
['1986-07-14' '2006-03-16']
['1990-07-30' '2006-03-16']
['1999-07-12' '2006-02-01']
['1995-07-10' '2006-06-13']
['1990-08-27' '2006-11-16']
['1998-10-26' '2006-02-01']
['1997-03-17' '2006-11-16']
['1997-07-07' '2006-06-13']
['1994-10-03' '2006-11-16']
['1998-02-17' '2006-03-16']
['1987-04-13' '2006-03-16']
['1991-12-02' '2006-06-13']
['1996-11-04' '2006-06-13']
['1999-10-04' '2006-02-01']
['2002-03-25' '1999-03-08' '2006-02-01']
['1984-12-01' '1981-05-18']
['1987-12-07' '2006-06-13']
['1994-12-05' '2006-03-16']
['1991-01-02' '1999-01-02' '2006-12-16']
['1995-01-03' '2006-03-16']
['1992-01-02' '2006-12-16']
['1989-12-26' '2006-03-16']
['1994-05-31' '2006-03-16']
['1997-03-17' '2006-11-16']
['1992-12-07' '2006-08-16']
['1987-03-09' '2006-03-16']
['1995-10-23' '1993-01-04' '2006-03-16']
['1997-08-04' '2006-03-16']
['1994-08-01' '2006-03-16']
['1993-12-13' '2006-02-01']
['1991-03-27' '2006-03-16']
['1998-09-28' '2006-03-16']
['1991-12-02' '2006-06-13']
['1999-12-13' '2006-11-16']
['1983-02-14' '2006-06-10']
['1997-05-05' '2006-03-16']
['1994-05-31' '2006-03-16']
['1995-06-05' '2006-06-13']
['1997-08-04' '2006-03-16']
['1998-10-26' '2006-02-01']
['1994-07-05' '2006-06-13']
['1994-09-06' '2006-03-16']
['1994-08-01' '2006-03-16']
['1985-07-01' '2006-03-16']
['1990-08-27' '2006-03-16']
['1989-12-26' '2006-05-01']
['1999-06-21' '2006-12-16']
['1991-11-18' '2006-06-13']
['1990-03-26' '2006-06-13']
['1996-05-06' '2006-03-16']
['1995-10-23' '1994-12-01' '2006-03-16']
['1999-06-21' '2006-02-01']
['1994-07-05' '2006-03-16']
['1987-12-07' '2006-03-16']
['1999-06-21' '2006-12-16']
['1998-07-27' '2006-06-13']
['1993-11-22' '2006-03-16']
['1999-09-13' '2006-02-01']
['1998-09-28' '2006-02-01']
['1997-07-07' '2006-03-16']
['1992-12-07' '2006-06-13']
['2001-02-05' '2006-06-13']
['1996-05-06' '2006-03-16']
['2000-06-19' '2006-02-01']
['1995-09-05' '2006-03-16']
['2001-08-27' '2006-06-13']
['1995-12-04' '2006-03-16']
['1995-06-05' '2006-06-13']
['1998-11-30' '2006-02-01']
['2000-01-24' '2006-06-13']
['1995-02-06' '2006-03-16']
['1998-02-17' '2006-02-01']
['1994-05-02' '2006-03-16']
['1989-12-26' '2006-03-16']
['1993-11-22' '2006-02-01']
['1998-11-30' '2006-02-01']
['1991-12-02' '2006-03-16']
['2000-01-24' '2006-02-01']
['1997-03-17' '2006-02-01']
['1995-06-05' '2006-03-16']
['1995-02-06' '2006-03-16']
['1997-07-07' '2006-02-01']
['1990-03-26' '2006-06-13']
['1999-09-13' '2006-02-01']
['1989-12-26' '2006-03-16']
['1994-12-05' '2006-03-16']
['1998-10-13' '2006-02-01']
['1998-03-16' '2006-11-16']
['1999-12-13' '2006-06-13']
['1983-02-14' '2006-03-16']
['1986-07-14' '2006-03-16']
['1996-05-06' '2006-03-16']
['1991-12-02' '2006-08-16']
['1994-01-18' '2006-03-16']
['1999-10-04' '2006-11-16']
['1991-12-02' '2006-03-16']
['1996-11-04' '2006-02-01']
['1995-07-10' '2006-03-16']
['1995-10-23' '2006-03-16']
['1994-05-31' '2006-03-16']
['2000-02-28' '2006-02-01']
['1995-07-10' '2006-03-16']
['1992-06-29' '2006-03-16']
['1990-03-26' '2006-03-16']
['1996-03-18' '2006-06-13']
['1992-06-29' '2006-08-16']
['1999-06-21' '2006-06-13']
['1993-12-13' '2006-03-16']
['1986-10-13' '2006-03-16']
['2000-01-24' '2006-02-01']
['1991-11-18' '2006-03-16']
['1995-01-03' '2006-03-16']
['1984-02-01' '1973-10-22' '2006-08-01']
['1987-12-07' '2006-03-16']
['1994-05-02' '2006-03-16']
['1993-05-17' '1990-04-16' '2006-03-16']
['1993-12-13' '2006-02-01']
['1995-01-03' '1989-11-16' '2006-03-16']
['1993-11-22' '2006-03-16']
['2000-09-11' '2006-02-01']
['2002-03-25' '2006-06-13']
['1988-11-07' '2006-03-16']
['1982-08-30' '2006-03-16']
['1990-08-27' '2006-02-01']
['1990-07-30' '2006-09-16']
['1991-11-18' '2006-03-16']
['1994-10-03' '2006-11-16']
['1996-07-08' '1995-09-01' '2006-11-16']
['1993-11-22' '2006-03-16']
['1991-12-16' '2006-02-01']
['1998-11-30' '2006-02-01']
['1999-11-29' '2006-06-13']
['1988-01-25' '2006-12-16']
['1998-08-31' '2006-06-13']
['1993-11-22' '2006-03-16']
['1998-11-30' '2001-04-30']
['1993-11-22' '2006-03-16']
['1995-07-10' '2006-03-16']
['1995-09-05' '2006-03-16']
['1995-10-23' '2006-03-16']
['1995-10-23' '2006-03-16']
['1994-09-06' '2006-06-13']
['1996-12-02' '2006-03-16']
['1986-12-22' '1987-12-07' '2006-06-16']
['2001-09-24' '2000-11-06' '2006-02-01']
['1999-03-08' '2006-02-01']
['2000-10-10' '2006-02-01']
['1995-07-10' '2006-03-16']
['1999-07-12' '2006-06-13']
['1985-12-16' '2006-02-01']
['1980-09-29' '2006-10-16']
['1989-12-26' '2006-03-16']
['2001-04-30' '2006-12-16']
['1995-12-04' '2006-06-13']
['2002-03-25' '2006-06-13']
['1999-10-25' '1998-04-06' '2006-02-01']
['1989-12-26' '2006-04-16']
['1995-01-03' '2006-03-16']
['1986-06-16' '2006-03-16']
['1998-08-31' '2006-06-13']
['1999-08-02' '2006-06-13']
['2001-10-29' '2006-06-13']
['2000-06-19' '2006-06-13']
['1972-10-23' '2006-04-16' '2003-11-14']
['1991-03-27' '2006-03-16']
['1998-04-13' '2006-03-16']
['1990-03-26' '2006-12-16']
['1986-11-17' '2006-03-16']
['2000-01-24' '2006-06-13']
['1992-09-28' '2006-03-16']
['1994-01-18' '1993-03-29' '2006-03-16']
['1993-05-17' '2006-03-16']
['1991-12-16' '1982-01-07' '2006-02-01']
['2000-09-11' '2006-02-01']
['2001-02-05' '2006-02-01']
['1977-01-03' '2006-08-01']
['1995-02-06' '2006-02-01']
['1986-11-17' '2006-06-13']
['1995-09-05' '2006-03-16']
['1998-02-17' '1988-09-12']
['2000-10-10' '2006-02-01']
['1977-07-18' '2006-04-16']
['1973-10-22' '2006-03-16']
['1992-06-29' '2006-03-16']
['1990-04-16' '1977-01-03' '2006-03-16']
['1986-08-11' '2006-03-16']
['1994-09-06' '2006-06-13']
['1986-10-13' '2006-02-01']
['1991-12-16' '2006-03-16']
['1995-12-04' '2006-03-16']
['1987-12-07' '2006-03-16']
['1991-11-18' '2006-03-16']
['1988-12-05' '2006-03-16']
['2000-02-28' '2006-02-01']
['1991-11-18' '2006-08-16']
['1998-05-26' '1996-07-16' '2006-02-01']
['2000-12-18' '2006-06-13']
['1996-07-08' '2006-06-13']
['1998-03-16' '2006-03-16']
['1994-01-18' '1988-08-01' '2006-02-01']
['2001-06-25' '2006-02-01']
['1995-08-07' '2006-06-13']
['1994-05-02' '2006-08-16']
['1993-05-17' '2006-03-16']
['1994-10-03' '2006-03-16']
['2000-09-11' '2006-06-13']
2006
        First.Name    Last.Name Middle.Initial Suffix.Name  Gender  \
6            JAMES        KELLY              M         NaN    MALE
7            JAMES        KELLY              M         NaN    MALE
60       FRANCISCA      VERGARA            NaN         NaN  FEMALE
61       FRANCISCA      VERGARA            NaN         NaN  FEMALE
129           NEAL   MCLOUGHLIN            NaN         NaN    MALE
130           NEAL   MCLOUGHLIN            NaN         NaN    MALE
213          JAIME       MENDEZ            NaN         NaN    MALE
214          JAIME       MENDEZ            NaN         NaN    MALE
416         DENNIS        SMITH              L         NaN    MALE
417         DENNIS        SMITH              L         NaN    MALE
421         DANIEL      FREEMAN              R         NaN    MALE
422         DANIEL      FREEMAN              R         NaN    MALE
446           IRMA  LOPEZMALAVE              I         NaN  FEMALE
447           IRMA  LOPEZMALAVE              I         NaN  FEMALE
456          KEVIN        STOLL              M         NaN    MALE
457          KEVIN        STOLL              M         NaN    MALE
526        MICHAEL      KENNEDY              T         NaN    MALE
525        MICHAEL      KENNEDY              T         NaN    MALE
606        THERMON      ROYSTER              A         NaN    MALE
607        THERMON      ROYSTER              A         NaN    MALE
633           JOHN       GORMAN              J         NaN    MALE
634           JOHN       GORMAN              J         NaN    MALE
676       TERRANCE  MCKITTERICK            NaN         NaN    MALE
677       TERRANCE  MCKITTERICK            NaN         NaN    MALE
702      ALEXANDER       STARKS            NaN          JR    MALE
701      ALEXANDER       STARKS            NaN          JR    MALE
719           RYAN      DOHERTY              C         NaN    MALE
720           RYAN      DOHERTY              C         NaN    MALE
737         RONALD    PELLONARI              E         NaN    MALE
738         RONALD    PELLONARI              E         NaN    MALE
...            ...          ...            ...         ...     ...
13585        JAMES     CORCORAN              F         NaN    MALE
13586        JAMES     CORCORAN              F         NaN    MALE
13625        PETER   SCHUMACHER              D         NaN    MALE
13626        PETER   SCHUMACHER              D         NaN    MALE
13629         ERIC       ELKINS              J         NaN    MALE
13630         ERIC       ELKINS              J         NaN    MALE
13631         ERIC       ELKINS              J         NaN    MALE
13639  CHRISTOPHER         BLUM              M         NaN    MALE
13640  CHRISTOPHER         BLUM              M         NaN    MALE
13684      GREGORY         BUIE              W         NaN    MALE
13685      GREGORY         BUIE              W         NaN    MALE
13804      ROBERTA    HONEYCUTT              L         NaN  FEMALE
13803      ROBERTA    HONEYCUTT              L         NaN  FEMALE
13895   JACQUELINE        REGAN              R         NaN  FEMALE
13896   JACQUELINE        REGAN              R         NaN  FEMALE
13899      HEATHER       DANIEL              L         NaN  FEMALE
13900      HEATHER       DANIEL              L         NaN  FEMALE
13901      HEATHER       DANIEL              L         NaN  FEMALE
13912      PHILLIP       HOOPER              R         NaN    MALE
13913      PHILLIP       HOOPER              R         NaN    MALE
13951     DANIELLE        DAVIS              L         NaN  FEMALE
13952     DANIELLE        DAVIS              L         NaN  FEMALE
13971         DAWN      HARLING              M         NaN  FEMALE
13972         DAWN      HARLING              M         NaN  FEMALE
14010        ANGEL      NOVALEZ              L         NaN    MALE
14011        ANGEL      NOVALEZ              L         NaN    MALE
14090          AMY  CHRISTENSEN              A         NaN  FEMALE
14091          AMY  CHRISTENSEN              A         NaN  FEMALE
14093         JILL      KOLSSAK              M         NaN  FEMALE
14094         JILL      KOLSSAK              M         NaN  FEMALE

       Age.at.Hire  Salary  Start.Date Org.Hire.Date    SPP.Date    TID
6               30   84570  1993-12-13    1993-12-13  2007-12-16      7
7               30   84570  1993-12-13    1993-12-13         NaN      7
60              25   82152  2000-08-14    2000-08-14  2000-08-14     60
61              25   82152  2000-08-14    2000-08-14  2007-09-01     60
129             31   76446  1997-08-04    1997-08-04  1997-08-04    128
130             31   76446  1997-08-04    1997-08-04  2007-01-16    128
213             34   76764  1991-06-19    1991-06-19  1991-06-19    211
214             34   76764  1991-06-19    1991-06-19  2007-08-16    211
416             31   84876  1995-10-23    1992-09-02  1995-10-23    413
417             31   84876  1995-10-23    1992-09-02  2007-02-01    413
421             29   76446  1997-07-07    1997-07-07  1997-07-07    417
422             29   76446  1997-07-07    1997-07-07  2007-04-01    417
446             26   74178  1994-05-02    1994-05-02  1994-05-02    441
447             26   74178  1994-05-02    1994-05-02  2007-11-01    441
456             27   76446  1995-06-05    1995-06-05  1995-06-05    450
457             27   76446  1995-06-05    1995-06-05  2007-04-01    450
526             29   73968  1998-04-13    1998-04-13  2007-04-01    518
525             29   73968  1998-04-13    1998-04-13  1998-04-13    518
606             25   93276  1982-07-19    1982-07-19         NaN    598
607             25   93276  1982-07-19    1982-07-19  2007-02-01    598
633             38   71700  2001-03-26    2001-03-26  2001-03-26    624
634             38   71700  2001-03-26    2001-03-26  2007-08-16    624
676             36   74178  1994-10-03    1994-10-03  1994-10-03    666
677             36   74178  1994-10-03    1994-10-03  2007-09-16    666
702             35   76764  1992-12-07    1992-12-07  2007-11-01    690
701             35   76764  1992-12-07    1992-12-07  1992-12-07    690
719             23   73968  1999-07-12    1999-07-12  1999-07-12    707
720             23   73968  1999-07-12    1999-07-12  2007-04-01    707
737             31   74178  1994-05-02    1994-05-02  1994-05-02    724
738             31   74178  1994-05-02    1994-05-02  2007-03-01    724
...            ...     ...         ...           ...         ...    ...
13585           32   73968  1998-05-26    1998-05-26  1998-05-26  13318
13586           32   73968  1998-05-26    1998-05-26  2007-04-01  13318
13625           32   71700  2000-06-19    2000-06-19  2000-06-19  13357
13626           32   71700  2000-06-19    2000-06-19  2007-08-16  13357
13629           26   82152  1999-12-13    2000-11-05  1999-12-13  13360
13630           26   82152  1999-12-13    2000-11-05  2007-04-01  13360
13631           26   82152  1999-12-13    2000-11-05  2007-09-01  13360
13639           30   73968  1999-12-13    1999-12-13  1999-12-13  13368
13640           30   73968  1999-12-13    1999-12-13  2007-04-01  13368
13684           27   79134  1991-11-18    1991-11-18  1991-11-18  13412
13685           27   79134  1991-11-18    1991-11-18  2007-04-01  13412
13804           37   71700  2000-01-24    2000-01-24  2007-08-16  13530
13803           37   71700  2000-01-24    2000-01-24  2000-01-24  13530
13895           39   74178  1997-08-04    2007-08-04  1997-08-04  13621
13896           39   74178  1997-08-04    2007-08-04  2007-11-01  13621
13899           30   82152  2000-02-28    2000-02-28  2000-02-28  13624
13900           30   82152  2000-02-28    2000-02-28  2007-04-01  13624
13901           30   82152  2000-02-28    2000-02-28  2007-09-01  13624
13912           23   71700  2002-08-26    2002-08-26  2002-08-26  13635
13913           23   71700  2002-08-26    2002-08-26  2007-08-16  13635
13951         -999   71700         NaN    2002-10-28         NaN  13673
13952         -999   71700         NaN    2002-10-28  2007-11-01  13673
13971           28   76446  1995-07-10    1995-07-10  1995-07-10  13692
13972           28   76446  1995-07-10    1995-07-10  2007-01-16  13692
14010           28   82152  2000-09-11    2000-09-11  2000-09-11  13730
14011           28   82152  2000-09-11    2000-09-11  2007-09-01  13730
14090           31   71700  2002-09-30    2002-09-30  2002-09-30  13809
14091           31   71700  2002-09-30    2002-09-30  2007-11-01  13809
14093           25   82152  1998-08-31    1998-08-31  2007-06-01  13811
14094           25   82152  1998-08-31    1998-08-31         NaN  13811

[561 rows x 11 columns]
['1993-12-13' '2007-12-16']
['2000-08-14' '2007-09-01']
['1997-08-04' '2007-01-16']
['1991-06-19' '2007-08-16']
['1995-10-23' '1992-09-02' '2007-02-01']
['1997-07-07' '2007-04-01']
['1994-05-02' '2007-11-01']
['1995-06-05' '2007-04-01']
['1998-04-13' '2007-04-01']
['1982-07-19' '2007-02-01']
['2001-03-26' '2007-08-16']
['1994-10-03' '2007-09-16']
['1992-12-07' '2007-11-01']
['1999-07-12' '2007-04-01']
['1994-05-02' '2007-03-01']
['1992-09-28' '2007-04-01']
['1998-11-30' '2007-07-01']
['2001-08-27' '2007-01-16']
['1996-12-02' '2007-01-16']
['1995-06-05' '2007-02-01']
['1998-10-26' '2007-02-01']
['1997-08-04' '2007-08-04' '2007-08-16']
['1988-11-07' '2007-02-01']
['1988-01-16' '1986-07-14' '2007-09-01']
['1995-06-05' '2007-02-01']
['1999-06-21' '1996-06-24' '2007-07-01']
['2000-12-18' '2007-04-01']
['1996-05-06' '2007-02-01']
['1999-03-08' '2007-04-01' '2007-09-01']
['2000-01-24' '2007-09-16']
['1988-01-25' '2007-02-01']
['1995-09-05' '2007-09-01']
['1990-07-30' '2007-04-16']
['1991-04-24' '2007-04-01']
['1998-06-08' '2007-02-01']
['1997-08-04' '2007-01-16']
['1995-06-05' '2007-12-16']
['1992-12-07' '2007-02-01']
['2001-06-25' '2007-09-01']
['1997-05-05' '2007-11-16']
['1989-02-14' '2007-09-01']

['1991-12-02' '2007-02-01']
['1995-01-03' '2007-11-16']
['1995-12-04' '2007-01-16']
['1992-01-02' '2007-04-01']
['2001-04-30' '2007-09-01']
['1999-05-10' '2007-11-16']
['1994-12-05' '2007-08-16']
['1991-12-02' '2007-02-01']
['2000-09-11' '2007-09-16']
['1991-12-02' '2007-04-01']
['1998-06-08' '1997-08-18' '2007-01-16']
['1986-08-11' '2007-02-01']
['1993-11-22' '1991-09-01' '2007-08-16']
['1999-09-13' '2007-09-16']
['1997-05-05' '2007-01-16']
['1985-05-06' '2007-02-01']
['1995-09-05' '2007-02-01']
['1999-03-08' '2007-01-16']
['2002-09-30' '2007-08-16']
['1998-03-16' '2007-04-01']
['1999-12-13' '2007-11-16']
['1999-10-25' '2007-01-16']
['1982-06-14' '2007-02-01']
['1991-12-02' '2007-09-01']
['1999-05-10' '2007-01-16']
['1995-12-04' '2007-02-01']
['1996-08-05' '2007-09-16']
['1991-06-19' '2007-09-01']
['2000-12-18' '2007-08-16']
['1995-07-10' '2007-01-16']
['1999-11-29' '2007-01-16']
['2000-12-18' '2007-01-16']
['1973-03-19' '1973-03-20' '2007-04-01']
['1992-06-29' '1990-01-16' '2007-01-16']
['1997-08-04' '2007-09-01']
['1998-10-26' '2007-01-16' '2007-09-01']
['1994-10-03' '2007-09-01']
['1996-11-04' '2007-01-16']
['1996-08-05' '2007-04-01']
['1991-01-30' '2007-09-16']
['1986-12-22' '2007-04-01']
['1984-03-01' '1982-08-30' '2007-02-01']
['1993-12-13' '2007-01-16']
['1999-03-08' '2007-04-01']
['1991-11-18' '2007-02-01']
['1993-11-22' '2007-04-01']
['1995-12-04' '2007-09-16']
['1992-06-29' '2007-09-01']
['2000-01-24' '2007-03-01']
['1999-12-13' '2007-01-16']
['2001-06-25' '1997-04-17' '2007-08-16']
['1995-01-03' '2007-09-01']
['1995-09-05' '2007-02-01']
['1994-07-05' '2007-02-01']
['1987-03-09' '2007-11-01']
['1995-02-06' '2007-02-01']
['1995-12-04' '2007-09-01']
['1986-11-17' '2007-02-01']
['1994-05-31' '2007-02-01']
['2001-12-17' '2007-11-01']
['1993-12-13' '2007-02-01']
['1996-12-02' '2007-01-16']
['1994-07-05' '2007-01-16']
['1995-10-23' '2007-08-16']
['1992-06-29' '2007-02-01']
['1992-01-02' '2007-09-01']
['1991-01-30' '2007-04-01']
['1994-10-03' '2007-05-01']
['1996-03-18' '2007-09-01']
['1995-09-05' '2007-04-01']
['1995-09-05' '2007-04-01']
['1991-03-27' '2007-09-01']
['2000-08-14' '2007-09-01']
['1999-05-10' '2007-04-01']
['1996-11-04' '2007-09-01']
['1999-03-08' '2007-09-01' '2007-04-01']
['1998-05-26' '2007-01-16']
['1990-08-27' '2007-02-01']
['1991-11-18' '2007-04-01']
['1998-06-08' '2007-04-01']
['1992-09-28' '2007-04-01']
['1991-12-02' '2007-04-01']
['1996-05-06' '2007-02-01']
['1995-01-03' '2007-01-16']
['1996-12-02' '2007-04-01']
['1999-07-12' '2007-01-16']
['1991-12-16' '2007-09-01']
['2001-02-05' '2007-09-01']
['2000-12-18' '2007-09-01']
['1995-09-05' '2007-07-01']
['1986-06-16' '2007-08-16']
['1985-07-01' '2007-02-01']
['1982-07-19' '2007-09-01']
['1987-04-13' '2007-09-01']
['1999-10-04' '2007-01-16']
['1998-10-13' '2007-11-16']
['1990-03-26' '2007-08-01']
['1996-12-02' '2007-04-01']
['1995-07-10' '1994-07-05' '2007-01-16']
['1997-08-04' '2007-01-16']
['2000-01-24' '2007-01-16']
['1996-03-18' '2007-04-01']
['2001-09-24' '2007-04-01']
['1991-12-16' '2007-09-01']
['1996-12-02' '2007-02-01']
['1994-09-06' '2007-09-01']
['1986-08-11' '2007-08-16']
['1994-01-18' '2007-02-01']
['1988-11-07' '2007-02-01']
['2000-01-24' '2007-09-01']
['1998-05-26' '2007-04-01']
['1998-05-26' '2007-09-01']
['1999-06-21' '2007-01-16']
['1999-06-21' '2007-01-16']
['1982-03-01' '2007-04-01']
['1991-06-19' '2007-02-01']
['1994-08-01' '2007-01-16']
['2001-09-24' '2007-08-16']
['1995-12-04' '2007-01-16']
['1995-07-10' '2007-08-01']
['2000-06-19' '1999-09-13' '2007-04-01']
['2001-08-27' '2007-08-16']
['1995-09-05' '2007-09-01']
['1993-12-13' '2007-01-16']
['1998-09-28' '2007-02-01']
['1991-06-19' '1985-07-01' '2007-01-16']
['1995-10-23' '2007-04-01']
['1995-07-10' '1990-06-01' '2007-01-16']
['1997-08-04' '2007-08-16']
['1990-03-26' '2007-02-01']
['2000-12-18' '2007-09-01']
['1994-09-06' '2007-01-16']
['2000-02-28' '2000-02-25' '2007-04-01']
['2000-10-10' '2007-09-01']
['1991-02-27' '2007-02-01']
['2002-03-25' '2007-08-16']
['1990-03-26' '2007-02-01']
['2000-09-11' '2007-01-16']
['1995-08-07' '2007-04-01']
['1997-05-05' '2007-04-01']
['1996-07-08' '2007-02-01']
['1998-11-30' '2001-04-30']
['2002-09-30' '2007-08-16']
['1998-12-14' '2007-09-01']
['2000-09-11' '2007-11-01']
['1983-05-01' '1977-11-06']
['1981-05-18' '2007-02-01']
['1990-03-26' '2007-01-16']
['1995-01-03' '2007-04-01']
['1986-03-31' '2007-04-01']
['1991-04-24' '2007-08-01']
['1985-05-06' '1985-05-05' '2007-09-01']
['1994-10-03' '2007-02-01']
['2000-09-11' '2007-09-16']
['1991-12-02' '2007-02-01']
['1994-12-05' '2007-02-01']
['1999-05-10' '2007-11-16']
['2001-09-24' '2007-04-01']
['1990-07-30' '2007-01-16']
['1991-11-18' '2007-01-16']
['1986-12-22' '2007-02-01']
['1992-12-07' '2007-04-01']
['1996-05-06' '2007-01-16']
['1998-12-14' '2007-04-01']
['2000-06-19' '2007-09-01']
['1995-01-03' '2007-08-16']
['1999-09-13' '2007-01-16']
['1993-05-17' '2007-11-01']
['1994-05-31' '2007-04-01']
['1999-09-13' '1983-06-13' '2007-09-01']
['1998-06-08' '1983-11-07' '2007-11-16']
['2000-12-18' '2007-04-01']
['1991-01-30' '2007-04-01']
['1998-12-14' '2007-09-01']
['1998-10-26' '2007-02-01']
['1999-11-15' '2007-09-16']
['1994-05-02' '2007-02-01']
['1999-06-21' '2007-09-01']
['2002-03-25' '2007-08-16']
['1995-10-23' '2007-11-01']
['1991-01-30' '2007-11-01']
['1994-07-05' '2007-02-01']
['1993-12-13' '2007-09-01']
['1995-07-10' '2007-02-01']
['1986-06-16' '1990-03-26']
['1992-06-29' '2007-02-01']
['1995-10-23' '2007-09-01']
['1990-07-30' '2007-02-01']
['1995-01-03' '2007-01-16']
['1999-03-08' '2007-09-01']
['1982-11-29' '2007-08-16']
['1993-11-22' '2007-02-01']
['1999-09-13' '1995-04-18' '2007-08-16']
['1994-08-01' '2007-01-16']
['1991-12-16' '2007-04-01']
['2000-01-24' '2007-09-01']
['1996-03-18' '2007-02-01']
['2000-02-28' '2007-01-16']
['2000-09-11' '2007-08-16']
['2000-02-28' '2007-09-16']
['1999-07-12' '2007-04-01']
['1999-09-13' '2007-09-16']
['1994-05-31' '2007-04-01']
['1999-06-21' '2007-01-16']
['1997-05-05' '2007-09-01']
['2000-12-18' '2007-01-16']
['1996-12-02' '2007-01-16']
['1986-09-08' '1983-04-04' '2007-09-16']
['1985-11-18' '2007-08-16']
['1985-04-08' '2007-02-01']
['1986-06-16' '2007-09-01']
['1994-07-05' '2007-04-01']
['1996-11-04' '2007-01-16']
['1998-05-26' '2007-09-01']
['2000-02-28' '2007-09-01']
['1998-06-08' '2007-01-16']
['1998-05-26' '2007-04-01']
['2000-06-19' '2007-08-16']
['1999-12-13' '2000-11-05' '2007-04-01' '2007-09-01']
['1999-12-13' '2007-04-01']
['1991-11-18' '2007-04-01']
['2000-01-24' '2007-08-16']
['1997-08-04' '2007-08-04' '2007-11-01']
['2000-02-28' '2007-04-01' '2007-09-01']
['2002-08-26' '2007-08-16']
['2002-10-28' '2007-11-01']
['1995-07-10' '2007-01-16']
['2000-09-11' '2007-09-01']
['2002-09-30' '2007-11-01']
['1998-08-31' '2007-06-01']
2007
      First.Name    Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
69          ERIC     WINSTROM            NaN         NaN    MALE           25
70          ERIC     WINSTROM            NaN         NaN    MALE           25
192     WILFREDO        ROMAN            NaN          JR    MALE           24
193     WILFREDO        ROMAN            NaN          JR    MALE           24
253      WILLIAM       MEADOR              A         NaN    MALE           27
254      WILLIAM       MEADOR              A         NaN    MALE           27
310         JOSE    CAPETILLO              M         NaN    MALE           29
311         JOSE    CAPETILLO              M         NaN    MALE           29
312         JOSE         DIAZ              L         NaN    MALE           38
313         JOSE         DIAZ              L         NaN    MALE           38
316      MICHAEL    DELAHANTY              J         NaN    MALE           30
317      MICHAEL    DELAHANTY              J         NaN    MALE           30
402      MICHAEL      SHIELDS              D         NaN    MALE           22
403      MICHAEL      SHIELDS              D         NaN    MALE           22
413        JORGE     GONZALEZ            NaN         NaN    MALE           26
412        JORGE     GONZALEZ            NaN         NaN    MALE           26
414       EDWARD     MCCARTAN              J         NaN    MALE           29
415       EDWARD     MCCARTAN              J         NaN    MALE           29
454      MICHAEL      CORLETT              T         NaN    MALE           29
455      MICHAEL      CORLETT              T         NaN    MALE           29
516     PATRICIA        WALSH              L         NaN  FEMALE           31
517     PATRICIA        WALSH              L         NaN  FEMALE           31
529      TIMOTHY         WOLF              A         NaN    MALE           22
530      TIMOTHY         WOLF              A         NaN    MALE           22
546       DONALD     MCLAURIN              M         NaN    MALE           23
547       DONALD     MCLAURIN              M         NaN    MALE           23
617         JOHN       GORMAN              J         NaN    MALE           38
618         JOHN       GORMAN              J         NaN    MALE           38
641        KEVIN         FRON              E         NaN    MALE           27
642        KEVIN         FRON              E         NaN    MALE           27
...          ...          ...            ...         ...     ...          ...
12853     GERARD       REILLY              A         NaN    MALE           32
12854     GERARD       REILLY              A         NaN    MALE           32
12868       JOHN  BUCZKIEWICZ              S         NaN    MALE           28
12869       JOHN  BUCZKIEWICZ              S         NaN    MALE           28
12881       DALE  JESIONOWSKI              R         NaN    MALE           28
12882       DALE  JESIONOWSKI              R         NaN    MALE           28
12937      JASON       WILSON              L         NaN    MALE           26
12938      JASON       WILSON              L         NaN    MALE           26
13142    ANTHONY         BEAM              J         NaN    MALE           33
13143    ANTHONY         BEAM              J         NaN    MALE           33
13231   MICHELLE       HABIAK              C         NaN  FEMALE           29
13232   MICHELLE       HABIAK              C         NaN  FEMALE           29
13259      KEVIN       NORRIS              J         NaN    MALE           29
13258      KEVIN       NORRIS              J         NaN    MALE           29
13335      DAVID      HINDMAN              J         NaN    MALE           26
13336      DAVID      HINDMAN              J         NaN    MALE           26
13417     VICTOR   DELAPASQUA              R         NaN    MALE           31
13418     VICTOR   DELAPASQUA              R         NaN    MALE           31
13457    MICHAEL       HUNTER            NaN         NaN    MALE           31
13458    MICHAEL       HUNTER            NaN         NaN    MALE           31
13491     CHERIE    HENDRICKS            NaN         NaN  FEMALE           29
13492     CHERIE    HENDRICKS            NaN         NaN  FEMALE           29
13495      BRYAN       BARLOW              D         NaN    MALE           29
13496      BRYAN       BARLOW              D         NaN    MALE           29
13597    PHILLIP       HOOPER              R         NaN    MALE           23
13598    PHILLIP       HOOPER              R         NaN    MALE           23
13683     ROXANA        HOPPS              F         NaN  FEMALE           32
13684     ROXANA        HOPPS              F         NaN  FEMALE           32
13702       JOSE        GOMEZ              A         NaN    MALE           27
13703       JOSE        GOMEZ              A         NaN    MALE           27

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
69      82152  2000-08-14    2000-08-14         NaN     70
70      82152  2000-08-14    2000-08-14  2008-07-01     70
192     82152  2000-06-19    2000-06-19  2000-06-19    192
193     82152  2000-06-19    2000-06-19  2008-07-01    192
253     76446  1997-08-04    1997-08-04  1997-08-04    252
254     76446  1997-08-04    1997-08-04  2008-02-01    252
310     78006  1983-02-14    1983-02-14  1983-02-14    308
311     78006  1983-02-14    1983-02-14         NaN    308
312     76446  1994-12-05    1994-12-05  1994-12-05    309
313     76446  1994-12-05    1994-12-05  2008-02-01    309
316     82008  1985-11-18    1985-11-18  1985-11-18    312
317     82008  1985-11-18    1985-11-18  2008-02-01    312
402    101634  1986-07-14    1986-07-14  2008-02-16    397
403    101634  1986-07-14    1986-07-14         NaN    397
413     79134  1991-02-27    1991-02-27  2008-02-01    406
412     79134  1991-02-27    1991-02-27  1991-02-27    406
414     76764  1991-12-16    1991-12-16  1991-12-16    407
415     76764  1991-12-16    1991-12-16  2008-11-01    407
454     79134  1993-11-22    1993-11-22  1993-11-22    446
455     79134  1993-11-22    1993-11-22  2008-02-01    446
516     73968  1999-06-21    1999-06-21  1999-06-21    507
517     73968  1999-06-21    1999-06-21  2008-02-01    507
529     82152  2001-09-24    2001-09-24  2001-09-24    519
530     82152  2001-09-24    2001-09-24  2008-07-01    519
546     73968  2001-10-29    2001-10-29  2001-10-29    535
547     73968  2001-10-29    2001-10-29  2008-02-01    535
617     68262  2001-03-26    2001-03-26  2001-03-26    605
618     68262  2001-03-26    2001-03-26         NaN    605
641     76446  1994-05-02    1994-05-02  1994-05-02    628
642     76446  1994-05-02    1994-05-02  2008-02-01    628
...       ...         ...           ...         ...    ...
12853   73968  2001-06-25    2001-06-25  2001-06-25  12610
12854   73968  2001-06-25    2001-06-25  2008-02-01  12610
12868   74178  1995-09-05    1995-09-05  1995-09-05  12624
12869   74178  1995-09-05    1995-09-05  2008-11-01  12624
12881   73116  1991-11-18    1991-11-18  1991-11-18  12636
12882   73116  1991-11-18    1991-11-18         NaN  12636
12937   68262  2000-01-24    2000-01-24  2000-01-24  12691
12938   68262  2000-01-24    2000-01-24         NaN  12691
13142   74178  1995-08-07    1995-08-07  1995-08-07  12895
13143   74178  1995-08-07    1995-08-07  2008-11-01  12895
13231   73968  2000-06-19    2000-06-19  2000-06-19  12983
13232   73968  2000-06-19    2000-06-19  2008-02-01  12983
13259   74178  1998-10-13    1993-07-05  2008-11-01  13009
13258   74178  1998-10-13    1993-07-05  1998-10-13  13009
13335   84876  1998-05-26    1996-07-16         NaN  13085
13336   84876  1998-05-26    1996-07-16  2008-07-01  13085
13417   74178  1998-06-08    1998-06-08  1998-06-08  13166
13418   74178  1998-06-08    1998-06-08  2008-11-01  13166
13457   84876  1995-06-05    1995-06-05  1995-06-05  13205
13458   84876  1995-06-05    1995-06-05  2008-07-01  13205
13491   73968  2000-12-18    2000-12-18  2008-02-01  13238
13492   73968  2000-12-18    2000-12-18         NaN  13238
13495   73968  2002-04-29    2002-04-29  2002-04-29  13241
13496   73968  2002-04-29    2002-04-29  2008-02-01  13241
13597   68262  2002-08-26    2002-08-26  2002-08-26  13342
13598   68262  2002-08-26    2002-08-26         NaN  13342
13683   73968  2002-04-29    2002-04-29  2002-04-29  13427
13684   73968  2002-04-29    2002-04-29  2008-02-01  13427
13702   79134  1991-12-02    1991-12-02  1991-12-02  13445
13703   79134  1991-12-02    1991-12-02  2008-02-01  13445

[514 rows x 11 columns]
['2000-08-14' '2008-07-01']
['2000-06-19' '2008-07-01']
['1997-08-04' '2008-02-01']
['1994-12-05' '2008-02-01']
['1985-11-18' '2008-02-01']
['1986-07-14' '2008-02-16']
['1991-02-27' '2008-02-01']
['1991-12-16' '2008-11-01']
['1993-11-22' '2008-02-01']
['1999-06-21' '2008-02-01']
['2001-09-24' '2008-07-01']
['2001-10-29' '2008-02-01']
['1994-05-02' '2008-02-01']
['1986-07-14' '2008-03-16']
['2002-04-29' '1998-07-06' '2008-02-01']
['1986-11-17' '2008-07-01']
['1996-12-02' '2008-07-01']
['1996-08-05' '2008-02-01']
['1989-12-26' '2008-07-01']
['1997-05-05' '2008-02-01']
['2001-08-27' '2008-02-01']
['1992-12-01' '1982-11-29' '2008-07-01']
['1990-03-26' '2008-07-01']
['1998-05-26' '2008-02-01']
['1995-02-06' '2008-07-01']
['1985-05-06' '2008-07-01']
['1987-04-13' '2008-02-16' '2008-12-16']
['1998-07-27' '2008-07-01']
['1987-12-07' '2008-03-16']
['1997-05-05' '2008-11-01']
['1995-12-04' '2008-07-01']
['1972-04-03' '2008-02-16']
['1993-03-17' '1997-03-17' '2008-07-01']
['1996-12-02' '2008-07-01']
['1984-02-01' '1981-05-18']
['1994-05-02' '2008-02-01' '2008-07-01']
['1993-11-22' '1991-09-01']
['1995-06-05' '2008-07-01']
['2002-03-25' '1999-03-08' '2008-07-01']
['2001-08-27' '2008-02-01']
['1985-04-25' '1981-06-08' '2008-04-16']
['1991-11-18' '2008-02-01']
['1998-05-26' '2008-02-01']
['1991-12-02' '2008-11-01']
['2000-01-24' '2008-07-01']
['1999-03-08' '2008-07-01']
['2001-08-27' '2008-07-01']
['1992-12-07' '2008-07-01']
['1991-12-16' '2008-07-01']
['2000-08-14' '2008-08-14' '2008-02-01']
['1996-11-04' '2008-02-01']
['1999-06-21' '2008-07-01']
['1977-08-18' '1977-07-18']
['2001-10-29' '2008-02-01']
['1999-11-15' '2008-11-01']
['2002-03-25' '2008-07-01']
['1991-04-24' '2008-02-01']
['1990-08-27' '2008-11-01']
['1991-01-02' '2008-02-01']
['1999-05-10' '2008-11-01']
['1985-04-08' '2008-07-01']
['1993-05-17' '2008-02-01']
['1998-08-31' '2008-07-01']
['1997-07-07' '2008-02-01']
['1999-09-13' '2008-02-01']
['1999-08-02' '2008-07-01']
['2000-01-24' '2008-07-01']
['1994-09-06' '2008-07-01']
['1996-05-06' '2008-02-01']
['1990-03-26' '2008-06-01']
['2001-02-05' '2008-11-01']
['1998-06-29' '2008-07-01']
['1986-08-11' '2008-03-16']
['1999-06-21' '2008-11-01']
['2001-06-25' '1997-04-17']
['2002-02-25' '2008-08-16']
['1994-05-02' '2008-11-01']
['1980-09-29' '2008-12-16' '2008-03-16']
['1984-02-01' '1980-02-11' '2008-02-01']
['1997-03-17' '1990-09-17']
['1990-03-26' '2008-12-16']
['1992-06-29' '2008-07-01']
['2000-12-18' '2008-07-01']
['2000-01-24' '2008-07-01']
['2001-07-30' '2008-02-01']
['1999-08-02' '2008-02-01']
['1996-12-02' '2008-07-01']
['1998-10-13' '2008-07-01']
['1991-12-02' '1994-05-31' '2008-07-01']
['1994-07-05' '2008-11-01']
['2000-02-28' '2008-02-01']

['1997-03-17' '2008-07-01']
['2000-02-28' '2008-11-01']
['1995-06-05' '2008-07-01']
['1985-07-01' '2008-02-01']
['1995-01-03' '2008-02-01']
['1996-12-02' '2008-02-01']
['2000-08-14' '2008-07-01']
['1994-05-02' '2008-07-01']
['1995-12-04' '2008-02-01']
['2001-07-30' '2008-02-01']
['1992-12-07' '2008-07-01']
['1999-07-12' '2008-02-01']
['1981-04-13' '2008-02-01']
['1998-12-14' '2008-02-01']
['1996-07-08' '2008-02-01' '2008-07-01']
['1998-11-30' '2008-07-01']
['1999-11-15' '2008-07-01']
['1982-08-30' '2008-12-16']
['1995-02-06' '2008-11-01']
['1982-08-30' '2008-12-16' '2008-02-16']
['1997-09-02' '2008-02-01']
['1991-02-27' '2008-02-01']
['1999-10-04' '2008-07-01']
['1990-08-27' '2008-07-01']
['1998-03-16' '2008-07-01']
['1997-08-04' '2008-02-01']
['1996-05-06' '2008-08-16']
['1999-08-02' '2008-07-01']
['1994-09-06' '2008-11-01']
['2000-12-18' '2008-02-01']
['1972-04-03' '2008-03-16']
['1990-08-27' '2008-02-01']
['1998-04-13' '2008-11-01']
['1998-03-16' '2008-02-01']
['1997-03-17' '2008-07-01']
['2000-08-14' '2008-02-01']
['1997-08-04' '2008-11-01']
['1995-06-05' '2008-02-01']
['1994-10-03' '2008-07-01']
['1986-06-16' '2008-10-16']
['2001-07-30' '2008-02-01']
['1994-08-01' '2008-02-01']
['1997-05-05' '2008-07-01']
['1998-11-30' '2008-07-01']
['1983-01-01' '1982-11-29' '2008-03-16']
['1990-03-26' '2008-07-01']
['1999-11-15' '1999-05-24' '2008-07-01']
['1995-12-04' '2008-07-01']
['1995-12-04' '2008-02-01']
['2002-03-25' '2008-07-01']
['1995-10-23' '2008-04-16']
['2000-02-28' '2008-02-01']
['1998-10-13' '2008-07-01']
['2008-02-19' '2008-04-16']
['1994-10-03' '2008-02-01']
['1990-08-27' '2008-07-01']
['1986-06-16' '2008-02-01']
['2000-09-11' '2008-02-01']
['1986-07-14' '2008-07-01']
['1985-11-18' '2008-07-01']
['1990-03-26' '2008-02-01']
['1990-08-27' '2008-02-01']
['1993-05-17' '2008-07-01']
['1986-07-14' '2008-03-16']
['1998-07-27' '2008-04-16']
['1999-05-10' '2008-02-01']
['1986-06-16' '2008-02-01']
['1996-03-18' '2008-07-01']
['1995-08-07' '2008-02-01']
['1986-06-16' '2008-01-16']
['1998-02-17' '2008-02-01']
['2000-12-18' '2008-02-01']
['1998-06-29' '2008-07-01']
['1992-09-28' '2008-02-01']
['1999-05-10' '2008-07-01']
['1972-10-23' '2008-12-16' '2006-04-16']
['1998-12-14' '2008-02-01']
['1994-01-18' '2008-02-01']
['1995-08-07' '2008-02-01']
['1993-11-22' '2008-02-01']
['1987-04-13' '2008-12-01']
['1991-12-16' '1982-01-07' '2008-07-01']
['1998-06-29' '2008-02-01']
['2001-02-05' '2008-07-01']
['2002-02-25' '2008-07-01']
['2001-07-30' '2008-02-01']
['1995-06-05' '2008-09-16']
['1977-01-03' '2008-05-16']
['1994-05-31' '2008-07-01']
['1985-12-16' '2008-03-16']
['1998-06-29' '2008-07-01']
['1990-08-27' '2008-03-16']
['1986-06-16' '2008-10-16']
['1991-12-02' '2008-07-01']
['1999-08-02' '2008-02-01']
['1995-09-05' '2008-02-01']
['2001-05-29' '2008-07-01']
['1994-08-01' '2008-11-01']
['1991-12-16' '2008-07-01']
['1999-12-13' '2000-09-11' '2008-02-01']
['1994-07-05' '2008-11-01']
['1997-05-05' '2008-07-01']
['2001-07-30' '1999-09-13' '2008-02-01']
['1991-01-02' '2008-02-01']
['1992-01-02' '2008-07-01']
['1990-03-26' '1997-05-05' '2008-07-01']
['1998-03-16' '2008-02-01']
['1999-08-02' '2008-07-01']
['1995-09-05' '2008-04-16']
['2001-06-25' '2008-02-01']
['1995-09-05' '2008-11-01']
['1995-08-07' '2008-11-01']
['2000-06-19' '2008-02-01']
['1998-10-13' '1993-07-05' '2008-11-01']
['1998-05-26' '1996-07-16' '2008-07-01']
['1998-06-08' '2008-11-01']
['1995-06-05' '2008-07-01']
['2000-12-18' '2008-02-01']
['2002-04-29' '2008-02-01']
['2002-04-29' '2008-02-01']
['1991-12-02' '2008-02-01']
2008
      First.Name     Last.Name Middle.Initial Suffix.Name  Gender  \
333       TYRONE        ASKINS              R         NaN    MALE
334       TYRONE        ASKINS              R         NaN    MALE
880        KEVIN        LAMEKA              R         NaN    MALE
881        KEVIN        LAMEKA              R         NaN    MALE
966         JEFF         SIWEK            NaN         NaN    MALE
967         JEFF         SIWEK            NaN         NaN    MALE
1206     STANLEY   KUPRIANCZYK              H         NaN    MALE
1207     STANLEY   KUPRIANCZYK              H         NaN    MALE
1229       RUBEN       RAMIREZ              R         NaN    MALE
1230       RUBEN       RAMIREZ              R         NaN    MALE
1561        ERIC      STAMPLEY              E         NaN    MALE
1562        ERIC      STAMPLEY              E         NaN    MALE
1579       KEVIN         BRUNO              D         NaN    MALE
1578       KEVIN         BRUNO              D         NaN    MALE
1843      JOSEPH         TRACY              L         NaN    MALE
1844      JOSEPH         TRACY              L         NaN    MALE
2147      WILLIE     WHITEHEAD              G         NaN    MALE
2148      WILLIE     WHITEHEAD              G         NaN    MALE
2187      CARLOS         ORTIZ              A         NaN    MALE
2188      CARLOS         ORTIZ              A         NaN    MALE
2217   FRANCISCO         PEREZ            NaN         NaN    MALE
2218   FRANCISCO         PEREZ            NaN         NaN    MALE
2555     MICHAEL         KELLY              A         NaN    MALE
2556     MICHAEL         KELLY              A         NaN    MALE
2565      FELIPE         REYES            NaN         NaN    MALE
2566      FELIPE         REYES            NaN         NaN    MALE
2592       STEVE       GEORGAS              E         NaN    MALE
2593       STEVE       GEORGAS              E         NaN    MALE
2920      JOSEPH       DIPINTO              E         NaN    MALE
2919      JOSEPH       DIPINTO              E         NaN    MALE
...          ...           ...            ...         ...     ...
10557      SILAS         WOODS            NaN          JR    MALE
10558      SILAS         WOODS            NaN          JR    MALE
11199   VERONICA  RIZZOACEVEDO            NaN         NaN  FEMALE
11200   VERONICA  RIZZOACEVEDO            NaN         NaN  FEMALE
11524       JUAN        RIVERA              J         NaN    MALE
11525       JUAN        RIVERA              J         NaN    MALE
11719      NANCY         JONES              A         NaN  FEMALE
11720      NANCY         JONES              A         NaN  FEMALE
11811     NICOLE         CLARK              C         NaN  FEMALE
11812     NICOLE         CLARK              C         NaN  FEMALE
11911     JOHNNY          TATE              E          JR    MALE
11912     JOHNNY          TATE              E          JR    MALE
11918     RONALD        GAINES              I          JR    MALE
11917     RONALD        GAINES              I          JR    MALE
12162     DANIEL       OCONNOR              J         NaN    MALE
12163     DANIEL       OCONNOR              J         NaN    MALE
12189    JEFFREY      FRONCZAK              R         NaN    MALE
12190    JEFFREY      FRONCZAK              R         NaN    MALE
12351     DAVINA          WARD              F         NaN  FEMALE
12352     DAVINA          WARD              F         NaN  FEMALE
12415     ANDRES         ZAYAS            NaN          JR    MALE
12416     ANDRES         ZAYAS            NaN          JR    MALE
12426      DAVID        KEENAN              B         NaN    MALE
12427      DAVID        KEENAN              B         NaN    MALE
12549     TOMMIE        HARRIS              T         NaN    MALE
12550     TOMMIE        HARRIS              T         NaN    MALE
12641    KENNETH        WESSEL              L         NaN    MALE
12642    KENNETH        WESSEL              L         NaN    MALE
12714      NAKIA        FENNER              M         NaN  FEMALE
12715      NAKIA        FENNER              M         NaN  FEMALE

       Age.at.Hire  Salary  Start.Date Org.Hire.Date    SPP.Date    TID
333             33   76764  1994-01-18    1994-01-18  1994-01-18    334
334             33   76764  1994-01-18    1994-01-18  2009-07-01    334
880             37   84876  1996-12-02    1996-12-02         NaN    880
881             37   84876  1996-12-02    1996-12-02  2009-07-01    880
966             24   82152  2000-08-14    2000-08-14  2000-08-14    965
967             24   82152  2000-08-14    2000-08-14  2009-07-01    965
1206            26   73116  1991-02-27    1991-02-27  1991-02-27   1204
1207            26   73116  1991-02-27    1991-02-27         NaN   1204
1229            30   84876  1997-05-05    1997-05-05  2009-11-01   1226
1230            30   84876  1997-05-05    1997-05-05  1997-05-05   1226
1561            22   87534  1992-06-29    1992-06-29  2009-11-01   1557
1562            22   87534  1992-06-29    1992-06-29  1992-06-29   1557
1579            23   84876  1999-11-15    1999-11-15  2009-07-01   1573
1578            23   84876  1999-11-15    1999-11-15         NaN   1573
1843            24   71700  2002-03-25    2002-03-25  2002-03-25   1837
1844            24   71700  2002-03-25    2002-03-25  2009-07-01   1837
2147            33   87534  1989-12-26    1989-12-26  1989-12-26   2140
2148            33   87534  1989-12-26    1989-12-26  2009-07-01   2140
2187            29   73116  1993-11-22    1993-11-22  1993-11-22   2179
2188            29   73116  1993-11-22    1993-11-22         NaN   2179
2217            27   70656  1999-09-13    1999-09-13  1999-09-13   2208
2218            27   70656  1999-09-13    1999-09-13         NaN   2208
2555            23   87534  1991-12-02    1991-12-02         NaN   2545
2556            23   87534  1991-12-02    1991-12-02  2009-07-01   2545
2565            32   82152  2002-04-29    2002-04-29  2002-04-29   2554
2566            32   82152  2002-04-29    2002-04-29  2009-07-01   2554
2592            22  148356  1991-11-18    1991-11-18         NaN   2580
2593            22  148356  1991-11-18    1991-11-18  2009-08-01   2580
2920            29   82152  2000-08-14    2000-08-14  2009-07-01   2906
2919            29   82152  2000-08-14    2000-08-14  2000-08-14   2906
...            ...     ...         ...           ...         ...    ...
10557           37   70656  1997-09-02    1997-09-02         NaN  10511
10558           37   70656  1997-09-02    1997-09-02  1997-09-02  10511
11199           32   70656  1995-10-23    1995-10-23  1995-10-23  11152
11200           32   70656  1995-10-23    1995-10-23         NaN  11152
11524           22  161664  1986-06-16    1986-06-16  2009-04-01  11476
11525           22  161664  1986-06-16    1986-06-16         NaN  11476
11719           29   70656  1999-09-13    1995-04-18  1999-09-13  11670
11720           29   70656  1999-09-13    1995-04-18         NaN  11670
11811           23   82152  2001-09-24    2001-09-24  2001-09-24  11761
11812           23   82152  2001-09-24    2001-09-24  2009-07-01  11761
11911           23   84876  1995-09-05    1995-09-05         NaN  11860
11912           23   84876  1995-09-05    1995-09-05  2009-07-01  11860
11918           23   70656  1999-09-13    1999-09-13         NaN  11865
11917           23   70656  1999-09-13    1999-09-13  1999-09-13  11865
12162           22   82152  2001-12-17    2001-12-17  2001-12-17  12109
12163           22   82152  2001-12-17    2001-12-17  2009-07-01  12109
12189           24   98640  1994-08-01    1994-08-01  2009-08-01  12135
12190           24   98640  1994-08-01    1994-08-01         NaN  12135
12351           31   84876  1999-08-02    1999-08-02         NaN  12296
12352           31   84876  1999-08-02    1999-08-02  2009-07-01  12296
12415           29   87534  1994-08-01    1994-08-01  1994-08-01  12359
12416           29   87534  1994-08-01    1994-08-01  2009-07-01  12359
12426           22   71700  2000-10-10    2000-10-10  2000-10-10  12369
12427           22   71700  2000-10-10    2000-10-10  2009-07-01  12369
12549           39   87534  1994-08-01    1994-08-01  2009-12-01  12491
12550           39   87534  1994-08-01    1994-08-01  1994-08-01  12491
12641           31   76764  1994-10-03    1994-10-03  2009-06-16  12582
12642           31   76764  1994-10-03    1994-10-03  1994-10-03  12582
12714           26   82152  2002-04-29    2002-04-29  2002-04-29  12654
12715           26   82152  2002-04-29    2002-04-29  2009-07-01  12654

[124 rows x 11 columns]
['1994-01-18' '2009-07-01']
['1996-12-02' '2009-07-01']
['2000-08-14' '2009-07-01']
['1997-05-05' '2009-11-01']
['1992-06-29' '2009-11-01']
['1999-11-15' '2009-07-01']
['2002-03-25' '2009-07-01']
['1989-12-26' '2009-07-01']
['1991-12-02' '2009-07-01']
['2002-04-29' '2009-07-01']
['1991-11-18' '2009-08-01']
['2000-08-14' '2009-07-01']
['2002-02-25' '2009-07-01']
['1999-05-10' '2009-07-01']
['2001-04-30' '2009-07-01']
['2000-08-14' '2009-07-01']
['1997-03-17' '2009-07-01']
['2000-08-14' '2009-07-01']
['1995-01-03' '2009-06-16']
['1977-11-01' '2009-04-01']
['1988-12-05' '1987-10-16']
['1997-09-02' '2009-07-01']
['1994-10-03' '2009-07-01']
['1999-09-13' '2009-07-01']
['1993-12-13' '2009-08-01']
['1994-07-05' '2009-07-01']
['1999-10-25' '2009-07-01']
['1987-03-09' '1980-10-16' '2009-06-16']
['2001-07-30' '1994-05-02' '2009-07-01']
['2000-10-10' '2009-07-01']
['1992-12-07' '2009-11-01']
['2001-09-24' '2009-07-01']
['1994-09-06' '2009-11-01']
['1999-03-08' '2009-07-01']
['2000-06-19' '2009-07-01']
['1990-03-26' '2009-07-01']
['1981-06-08' '1970-01-12' '2009-06-16']
['1995-07-10' '2009-07-01']
['2000-10-10' '2009-07-01']
['2000-06-19' '2009-07-01']
['1986-06-16' '2009-04-01']
['1999-09-13' '1995-04-18']
['2001-09-24' '2009-07-01']
['1995-09-05' '2009-07-01']
['2001-12-17' '2009-07-01']
['1994-08-01' '2009-08-01']
['1999-08-02' '2009-07-01']
['1994-08-01' '2009-07-01']
['2000-10-10' '2009-07-01']
['1994-08-01' '2009-12-01']
['1994-10-03' '2009-06-16']
['2002-04-29' '2009-07-01']
2009
      First.Name    Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
118         NEAL   MCLOUGHLIN            NaN         NaN    MALE           31
119         NEAL   MCLOUGHLIN            NaN         NaN    MALE           31
351     WILFREDO       TORRES            NaN          JR    MALE           28
352     WILFREDO       TORRES            NaN          JR    MALE           28
586       JOSEPH      PERILLI            NaN         NaN    MALE           26
587       JOSEPH      PERILLI            NaN         NaN    MALE           26
1185       BRYAN       STRONG              A         NaN    MALE           30
1186       BRYAN       STRONG              A         NaN    MALE           30
1679      ROXANE       UCHMAN            NaN         NaN  FEMALE           25
1680      ROXANE       UCHMAN            NaN         NaN  FEMALE           25
1702        TODD  PTASZKOWSKI              E         NaN    MALE           23
1703        TODD  PTASZKOWSKI              E         NaN    MALE           23
1759       KEVIN     KENDZIOR              G         NaN    MALE           25
1758       KEVIN     KENDZIOR              G         NaN    MALE           25
1900        FRED       WALLER              L         NaN    MALE           25
1901        FRED       WALLER              L         NaN    MALE           25
2011        DEAN       BARNEY              R         NaN    MALE           24
2012        DEAN       BARNEY              R         NaN    MALE           24
2204       BRIAN      KINNANE              J         NaN    MALE           25
2205       BRIAN      KINNANE              J         NaN    MALE           25
2212    ESMELIDA       TORRES            NaN         NaN  FEMALE           23
2213    ESMELIDA       TORRES            NaN         NaN  FEMALE           23
2881     MICHAEL        SMITH              P         NaN    MALE           27
2882     MICHAEL        SMITH              P         NaN    MALE           27
3014       JESUS      VAZQUEZ              M          JR    MALE           27
3015       JESUS      VAZQUEZ              M          JR    MALE           27
3150       KEVIN        BARRY              J         NaN    MALE           23
3151       KEVIN        BARRY              J         NaN    MALE           23
3181      ERNEST        BROWN              T         NaN    MALE           30
3180      ERNEST        BROWN              T         NaN    MALE           30
...          ...          ...            ...         ...     ...          ...
9997   CHRISTINE       ELLMAN              E         NaN  FEMALE           31
9998   CHRISTINE       ELLMAN              E         NaN  FEMALE           31
10035      BRIAN       WRIGHT              E         NaN    MALE           23
10036      BRIAN       WRIGHT              E         NaN    MALE           23
10534       TODD    WENSERITT              R         NaN    MALE           25
10535       TODD    WENSERITT              R         NaN    MALE           25
10696      KEITH        WANAT              B         NaN    MALE           36
10697      KEITH        WANAT              B         NaN    MALE           36
10972     SERGIO     GONZALEZ              H         NaN    MALE           33
10973     SERGIO     GONZALEZ              H         NaN    MALE           33
11202      LARRY         SKOL              W         NaN    MALE           22
11203      LARRY         SKOL              W         NaN    MALE           22
11575     YVONNE        DELIA              M         NaN  FEMALE           31
11574     YVONNE        DELIA              M         NaN  FEMALE           31
11681      TRACY       DAVIES              L         NaN  FEMALE           34
11682      TRACY       DAVIES              L         NaN  FEMALE           34
11784      SPIRO     MAGLARAS            NaN         NaN    MALE           29
11785      SPIRO     MAGLARAS            NaN         NaN    MALE           29
12040       MARY       MARTIN              K         NaN  FEMALE           30
12041       MARY       MARTIN              K         NaN  FEMALE           30
12136    STEPHEN     WILINSKI              J         NaN    MALE           32
12137    STEPHEN     WILINSKI              J         NaN    MALE           32
12561    MICHAEL   BRANSFIELD              P         NaN    MALE           24
12562    MICHAEL   BRANSFIELD              P         NaN    MALE           24
12721      FLOYD    GOLDSMITH              C         NaN    MALE           31
12722      FLOYD    GOLDSMITH              C         NaN    MALE           31
12840  CLEVELAND        JONES              J          JR    MALE           32
12841  CLEVELAND        JONES              J          JR    MALE           32
12888    JESSICA        JONES              M         NaN  FEMALE           24
12889    JESSICA        JONES              M         NaN  FEMALE           24

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
118     90960  1997-08-04    1997-08-04         NaN    119
119     90960  1997-08-04    1997-08-04  2010-09-16    119
351     90960  1997-07-07    1997-07-07         NaN    351
352     90960  1997-07-07    1997-07-07  2010-09-16    351
586     93816  1991-12-02    1991-12-02  2010-12-01    585
587     93816  1991-12-02    1991-12-02  1991-12-02    585
1185    75726  1997-08-04    2007-08-04  1997-08-04   1183
1186    75726  1997-08-04    2007-08-04         NaN   1183
1679    90960  1999-08-02    1999-08-02         NaN   1676
1680    90960  1999-08-02    1999-08-02  2010-09-16   1676
1702    90960  2000-06-19    2000-06-19  2000-06-19   1698
1703    90960  2000-06-19    2000-06-19  2010-09-16   1698
1759    90960  1997-05-05    1997-05-05  2010-09-16   1753
1758    90960  1997-05-05    1997-05-05  1997-05-05   1753
1900   151896  1986-06-16    1986-06-16         NaN   1894
1901   151896  1986-06-16    1986-06-16  2010-11-01   1894
2011    75726  1997-05-05    1997-05-05  1997-05-05   2004
2012    75726  1997-05-05    1997-05-05         NaN   2004
2204    88044  2001-04-30    2001-04-30  2001-04-30   2196
2205    88044  2001-04-30    2001-04-30  2010-09-16   2196
2212    90960  1999-11-15    1999-11-15  1999-11-15   2203
2213    90960  1999-11-15    1999-11-15  2010-09-16   2203
2881   151896  1997-08-04    1997-08-04         NaN   2871
2882   151896  1997-08-04    1997-08-04  2010-11-16   2871
3014    75726  1997-07-07    1997-07-07  1997-07-07   3003

['1997-08-04' '2010-11-16']
['1999-10-25' '2010-09-16']
['1982-11-29' '2010-07-16']
['1999-11-29' '2010-09-16']
['1992-01-02' '2010-09-16']
['1995-06-05' '2010-06-01']
['2000-08-14' '2010-09-16']
['1986-08-11' '2010-03-16']
['1990-03-26' '2010-11-16']
['1995-06-05' '2010-06-16']
['1997-08-04' '2010-09-16']
['1995-06-05' '2010-06-01']
['1995-06-05' '2010-06-01']
['1999-03-08' '2010-09-16']
['1995-09-05' '2010-09-16']
['1995-06-05' '2010-06-01']
['1977-11-01' '2010-03-16']
['1995-06-05' '2010-07-16']
['1999-05-10' '2010-09-16']
['1994-12-05' '2010-03-01']
['2000-01-24' '2010-09-16']
['1985-05-06' '2010-09-16']
['1992-01-02' '2010-11-01']
['1995-12-04' '2010-11-01']
['1999-05-10' '2010-12-01']
['1991-12-02' '2010-12-01']
['1995-01-03' '2010-09-16']
['1986-06-16' '2010-07-16']
['2000-10-10' '2010-09-16']
['1999-08-02' '2010-09-16']
['1999-06-21' '2010-09-16']
['2000-09-11' '2010-09-16']
['1986-10-13' '2010-07-16']
['1998-10-13' '2010-09-16']
['1998-12-14' '2010-09-16']
['1992-09-28' '2010-03-16']
['1995-01-03' '2010-06-01']
['1991-12-16' '2010-09-16']
['1999-12-13' '2000-09-11' '2010-09-16']
['1999-10-25' '2010-09-16']
['1998-11-30' '2010-09-16']
['1985-05-06' '1982-11-16']
['1990-03-26' '2010-11-01']
['1987-12-07' '2010-09-16']
['2001-06-25' '2010-09-16']
2010
      First.Name    Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
533        BRIAN   SOKNIEWICZ              J         NaN    MALE           30
534        BRIAN   SOKNIEWICZ              J         NaN    MALE           30
890        CAROL     WEINGART              A         NaN  FEMALE           27
891        CAROL     WEINGART              A         NaN  FEMALE           27
1171       RUBEN      RAMIREZ              R         NaN    MALE           30
1172       RUBEN      RAMIREZ              R         NaN    MALE           30
1491        ERIC     STAMPLEY              E         NaN    MALE           22
1492        ERIC     STAMPLEY              E         NaN    MALE           22
1566    BEATRICE     ODONNELL              V         NaN  FEMALE           31
1567    BEATRICE     ODONNELL              V         NaN  FEMALE           31
2186    MARIANNE      MCKENNA              C         NaN  FEMALE           23
2187    MARIANNE      MCKENNA              C         NaN  FEMALE           23
2585        MARK    YELVERTON              S         NaN    MALE           31
2586        MARK    YELVERTON              S         NaN    MALE           31
2764     MICHAEL        SMITH              P         NaN    MALE           27
2763     MICHAEL        SMITH              P         NaN    MALE           27
2989     MICHAEL     PADALINO              A         NaN    MALE           24
2990     MICHAEL     PADALINO              A         NaN    MALE           24
3045      ERNEST        BROWN              T         NaN    MALE           30
3046      ERNEST        BROWN              T         NaN    MALE           30
3296       HAKKI       GURKAN              G         NaN    MALE           23
3297       HAKKI       GURKAN              G         NaN    MALE           23
3671     MICHAEL       KASPER              A         NaN    MALE           29
3672     MICHAEL       KASPER              A         NaN    MALE           29
3747     CANDIDO        LOPEZ            NaN         NaN    MALE         -999
3748     CANDIDO        LOPEZ            NaN         NaN    MALE         -999
4248        ABEL     GALLEGOS              A          JR    MALE           30
4249        ABEL     GALLEGOS              A          JR    MALE           30
4391       BRIAN       MURPHY              S         NaN    MALE           23
4390       BRIAN       MURPHY              S         NaN    MALE           23
...          ...          ...            ...         ...     ...          ...
9952     EUSEBIO         RAZO            NaN         NaN    MALE           30
10125    PATRICK        DOYLE              W         NaN    MALE           32
10126    PATRICK        DOYLE              W         NaN    MALE           32
10332      DEBRA        KIRBY              K         NaN  FEMALE           24
10333      DEBRA        KIRBY              K         NaN  FEMALE           24
10334      DEBRA        KIRBY              K         NaN  FEMALE           24
10338      IASHA       RUTLIN              B         NaN  FEMALE           29
10339      IASHA       RUTLIN              B         NaN  FEMALE           29
10608       JUAN     SANTIAGO              J         NaN    MALE           28
10609       JUAN     SANTIAGO              J         NaN    MALE           28
10672     JOSEPH     STEFANEC            NaN         NaN    MALE           31
10673     JOSEPH     STEFANEC            NaN         NaN    MALE           31
11127      KEVIN         KEEL              K         NaN    MALE           43
11128      KEVIN         KEEL              K         NaN    MALE           43
11294    VINCENT         FICO            NaN         NaN    MALE           29
11295    VINCENT         FICO            NaN         NaN    MALE           29
11323     STEVEN        SWAIN              P         NaN    MALE           26
11324     STEVEN        SWAIN              P         NaN    MALE           26
11393    WILLIAM       BUGLIO              E         NaN    MALE           29
11394    WILLIAM       BUGLIO              E         NaN    MALE           29
11995    MICHAEL        ROMAN              A         NaN    MALE           23
11996    MICHAEL        ROMAN              A         NaN    MALE           23
12032     DANIEL    MCDONOUGH              J         NaN    MALE           24
12033     DANIEL    MCDONOUGH              J         NaN    MALE           24
12111    TIMOTHY        QUINN              J         NaN    MALE           23
12112    TIMOTHY        QUINN              J         NaN    MALE           23
12486     JOSHUA         DIAZ            NaN         NaN    MALE           24
12487     JOSHUA         DIAZ            NaN         NaN    MALE           24
12591        AMY  CHRISTENSEN              A         NaN  FEMALE           31
12592        AMY  CHRISTENSEN              A         NaN  FEMALE           31

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
533     83916  1992-06-29    1992-06-29  1992-06-29    534
534     83916  1992-06-29    1992-06-29  2011-08-16    534
890     79926  1994-10-03    1994-10-03         NaN    890
891     79926  1994-10-03    1994-10-03  1994-10-03    890
1171    77238  1997-05-05    1997-05-05         NaN   1170
1172    77238  1997-05-05    1997-05-05  1997-05-05   1170
1491    79926  1992-06-29    1992-06-29         NaN   1489
1492    79926  1992-06-29    1992-06-29  1992-06-29   1489
1566   176532  1987-04-13    1987-04-13         NaN   1563
1567   176532  1987-04-13    1987-04-13  2011-08-16   1563
2186    83916  1992-01-02    1992-01-02  1992-01-02   2182
2187    83916  1992-01-02    1992-01-02  2011-08-16   2182
2585    85278  1986-10-13    1986-10-13  1986-10-13   2580
2586    85278  1986-10-13    1986-10-13         NaN   2580
2764    77238  1997-08-04    1997-08-04  1997-08-04   2757
2763    77238  1997-08-04    1997-08-04         NaN   2757
2989    77238  1997-07-07    1997-07-07         NaN   2982
2990    77238  1997-07-07    1997-07-07  1997-07-07   2982
3045   176532  1982-11-29    2010-07-16         NaN   3037
3046   176532  1982-11-29    2010-07-16  2011-08-16   3037
3296    92778  1999-08-02    1999-08-02  2011-12-01   3287
3297    92778  1999-08-02    1999-08-02  1999-08-02   3287
3671    79926  1992-06-29    1992-06-29  1992-06-29   3661
3672    79926  1992-06-29    1992-06-29         NaN   3661
3747    74628         NaN    2003-08-29         NaN   3736
3748    74628         NaN    2003-08-29  2007-08-16   3736
4248    87048  1987-04-13    1987-04-13  2011-06-16   4236
4249    87048  1987-04-13    1987-04-13  1987-04-13   4236
4391   176532  1990-03-26    1990-03-26         NaN   4376
4390   176532  1990-03-26    1990-03-26  2011-08-16   4376
...       ...         ...           ...         ...    ...
9952    85278  1986-06-16    1986-06-16  1986-06-16   9907
10125   77238  1998-06-08    1983-11-07         NaN  10080
10126   77238  1998-06-08    1983-11-07  1998-06-08  10080
10332  176532  1986-06-16    1986-06-16         NaN  10286
10333  176532  1986-06-16    1986-06-16  2011-02-16  10286
10334  176532  1986-06-16    1986-06-16  2011-08-16  10286
10338   81090  2000-01-24    1995-07-24  2000-01-24  10290
10339   81090  2000-01-24    1995-07-24  2011-08-16  10290
10608   77238  1997-05-05    1997-05-05  1997-05-05  10559
10609   77238  1997-05-05    1997-05-05         NaN  10559
10672   79926  1995-10-23    1995-10-23  1995-10-23  10622
10673   79926  1995-10-23    1995-10-23         NaN  10622
11127   81090  1999-12-13    1999-12-13  2011-06-16  11076
11128   81090  1999-12-13    1999-12-13  1999-12-13  11076
11294   81090  1999-12-13    1999-12-13  2011-06-16  11242
11295   81090  1999-12-13    1999-12-13  1999-12-13  11242
11323   81090  1998-06-08    1998-06-08  1998-06-08  11270
11324   81090  1998-06-08    1998-06-08  2011-08-16  11270
11393   87048  1987-02-02    1987-02-02  1987-02-02  11339
11394   87048  1987-02-02    1987-02-02  2011-08-16  11339
11995   77238  2000-06-19    2000-06-19         NaN  11939
11996   77238  2000-06-19    2000-06-19  2000-06-19  11939
12032   83916  1995-10-23    1995-10-23  2011-06-16  11975
12033   83916  1995-10-23    1995-10-23  1995-10-23  11975
12111   79926  1995-08-07    1995-08-07         NaN  12053
12112   79926  1995-08-07    1995-08-07  1995-08-07  12053
12486   81090  2001-05-29    2001-05-29  2011-06-16  12427
12487   81090  2001-05-29    2001-05-29  2001-05-29  12427
12591   74628  2002-09-30    2002-09-30  2002-09-30  12531
12592   74628  2002-09-30    2002-09-30         NaN  12531

[122 rows x 11 columns]
['1992-06-29' '2011-08-16']
['1987-04-13' '2011-08-16']
['1992-01-02' '2011-08-16']
['1982-11-29' '2010-07-16' '2011-08-16']
['1999-08-02' '2011-12-01']
['2003-08-29' '2007-08-16']

['1987-04-13' '2011-06-16']
['1990-03-26' '2011-08-16' '2011-02-16']
['1994-05-31' '2011-08-01']
['1994-12-05' '2011-08-01']
['2002-03-25' '2011-06-16']
['1988-05-02' '2011-08-16']
['1984-03-01' '1982-08-30' '2011-02-16']
['1997-07-07' '1994-10-17']
['1999-10-25' '2011-12-01']
['1997-07-07' '2011-06-16']
['1986-08-11' '2011-06-16']
['1996-05-06' '2011-06-01']
['1996-11-04' '1994-06-22']
['2001-06-25' '2011-12-01']
['1998-06-08' '2011-06-16']
['1994-08-01' '2011-06-01']
['1993-12-13' '2011-06-16']
['1991-12-16' '1999-12-16']
['1998-11-30' '2001-04-30']
['1991-04-24' '2011-06-16']
['1999-03-08' '2011-08-01']
['1986-07-14' '2011-06-01']
['2000-06-19' '2011-08-01']
['1998-06-08' '1983-11-07']
['1986-06-16' '2011-02-16' '2011-08-16']
['2000-01-24' '1995-07-24' '2011-08-16']
['1999-12-13' '2011-06-16']
['1999-12-13' '2011-06-16']
['1998-06-08' '2011-08-16']
['1987-02-02' '2011-08-16']
['1995-10-23' '2011-06-16']
['2001-05-29' '2011-06-16']
2011
       First.Name   Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
17          ERICH      RASHAN              J         NaN    MALE           22
18          ERICH      RASHAN              J         NaN    MALE           22
47         THOMAS      PIERCE            NaN         NaN    MALE           40
48         THOMAS      PIERCE            NaN         NaN    MALE           40
71         CURTIS    MULLENIX              G         NaN    MALE           29
72         CURTIS    MULLENIX              G         NaN    MALE           29
98        LOURDES       NERIS            NaN         NaN  FEMALE           29
99        LOURDES       NERIS            NaN         NaN  FEMALE           29
115    CHRISTOPHE  TALIAFERRO            NaN         NaN    MALE           29
114    CHRISTOPHE  TALIAFERRO            NaN         NaN    MALE           29
129        TYRONE   PENDARVIS              M         NaN    MALE           30
130        TYRONE   PENDARVIS              M         NaN    MALE           30
251       WILLIAM      MEADOR              A         NaN    MALE           27
252       WILLIAM      MEADOR              A         NaN    MALE           27
482         DAVID    DELPILAR              R         NaN    MALE           26
483         DAVID    DELPILAR              R         NaN    MALE           26
564        JOSEPH     PERILLI            NaN         NaN    MALE           26
563        JOSEPH     PERILLI            NaN         NaN    MALE           26
623         ALLEN         LEE              G         NaN    MALE           23
624         ALLEN         LEE              G         NaN    MALE           23
658        ALBERT       PEREZ            NaN         NaN    MALE           23
659        ALBERT       PEREZ            NaN         NaN    MALE           23
676      SHAUNTAI      GRACIA            NaN         NaN  FEMALE           22
677      SHAUNTAI      GRACIA            NaN         NaN  FEMALE           22
772        DANIEL     OCONNOR              J         NaN    MALE           29
773        DANIEL     OCONNOR              J         NaN    MALE           29
813        CARLOS       VELEZ              E         NaN    MALE           33
814        CARLOS       VELEZ              E         NaN    MALE           33
855          SEAN       TULLY              F         NaN    MALE           24
856          SEAN       TULLY              F         NaN    MALE           24
...           ...         ...            ...         ...     ...          ...
11637     STEPHEN    WILINSKI              J         NaN    MALE           32
11638     STEPHEN    WILINSKI              J         NaN    MALE           32
11683      ANDREW       KADUS              R         NaN    MALE           26
11684      ANDREW       KADUS              R         NaN    MALE           26
11704      THOMAS        KROB              J         NaN    MALE           27
11705      THOMAS        KROB              J         NaN    MALE           27
11730       MEGAN       CURRY              S         NaN  FEMALE           23
11731       MEGAN       CURRY              S         NaN  FEMALE           23
11753      SIDNEY      PENNIX              T         NaN    MALE           31
11754      SIDNEY      PENNIX              T         NaN    MALE           31
11797      STEVEN        JUGO              H         NaN    MALE           26
11796      STEVEN        JUGO              H         NaN    MALE           26
11847       JAIME        SOSA            NaN         NaN    MALE           23
11848       JAIME        SOSA            NaN         NaN    MALE           23
11902      JOSEPH        LONG              J         NaN    MALE           34
11903      JOSEPH        LONG              J         NaN    MALE           34
12163     KRISTEN      HANSON              E         NaN  FEMALE           24
12164     KRISTEN      HANSON              E         NaN  FEMALE           24
12338   CLEVELAND       JONES              J          JR    MALE           32
12339   CLEVELAND       JONES              J          JR    MALE           32
12368      KARINA     AGUILAR              D         NaN  FEMALE           26
12369      KARINA     AGUILAR              D         NaN  FEMALE           26
12392        DALE      MARTIN              J         NaN    MALE           25
12393        DALE      MARTIN              J         NaN    MALE           25
12398     YOLANDA       IRVIN              K         NaN  FEMALE           32
12399     YOLANDA       IRVIN              K         NaN  FEMALE           32
12408     RICHARD       HEGER              W         NaN    MALE           34
12409     RICHARD       HEGER              W         NaN    MALE           34
12595     MICHAEL       GLYNN              J         NaN    MALE           28
12596     MICHAEL       GLYNN              J         NaN    MALE           28

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
17      93708  2000-12-18    2000-12-18  2000-12-18     18
18      93708  2000-12-18    2000-12-18  2012-11-01     18
47      93708  1999-09-13    1996-01-02  2012-12-16     47
48      93708  1999-09-13    1996-01-02         NaN     47
71      93708  1998-06-08    1998-06-08  1998-06-08     70
72      93708  1998-06-08    1998-06-08  2012-09-01     70
98      93708  2000-06-19    2000-06-19  2000-06-19     96
99      93708  2000-06-19    2000-06-19  2012-11-01     96
115     96648  1994-08-01    1994-08-01  2012-11-01    111
114     96648  1994-08-01    1994-08-01  1994-08-01    111
129     93708  1998-07-27    1998-07-27  1998-07-27    125
130     93708  1998-07-27    1998-07-27  2012-11-01    125
251     96648  1997-08-04    1997-08-04         NaN    246
252     96648  1997-08-04    1997-08-04  2012-09-01    246
482     96648  1997-05-05    1997-05-05  1997-05-05    476
483     96648  1997-05-05    1997-05-05  2012-09-01    476
564     99756  1991-12-02    1991-12-02  2012-11-01    556
563     99756  1991-12-02    1991-12-02         NaN    556
623     99756  1990-03-26    1990-03-26         NaN    615
624     99756  1990-03-26    1990-03-26  2012-09-01    615
658     99756  1992-09-28    1992-09-28         NaN    649
659     99756  1992-09-28    1992-09-28  2012-09-01    649
676     93708  2000-12-18    2000-12-18  2000-12-18    666
677     93708  2000-12-18    2000-12-18  2012-12-16    666
772     93708  2001-08-27    2001-08-27         NaN    761
773     93708  2001-08-27    2001-08-27  2012-12-16    761
813    162012  1986-08-11    1971-12-01         NaN    801
814    162012  1986-08-11    1971-12-01  2012-05-16    801
855     93708  1998-06-08    1998-06-08  1998-06-08    842
856     93708  1998-06-08    1998-06-08  2012-11-01    842
...       ...         ...           ...         ...    ...
11637   90540  1985-05-06    1982-11-16  1985-05-06  11516
11638   90540  1985-05-06    1982-11-16         NaN  11516
11683   96648  1995-07-10    1995-07-10  1995-07-10  11561
11684   96648  1995-07-10    1995-07-10  2012-11-01  11561
11704   84396  1999-12-13    1999-12-13  1999-12-13  11581
11705   84396  1999-12-13    1999-12-13  2012-01-16  11581
11730   93708  1999-09-13    1999-09-13  2012-12-16  11606
11731   93708  1999-09-13    1999-09-13         NaN  11606
11753   93708  1999-05-10    1999-05-10         NaN  11628
11754   93708  1999-05-10    1999-05-10  2012-11-01  11628
11797   93708  1999-06-21    1999-06-21  2012-12-16  11670
11796   93708  1999-06-21    1999-06-21  1999-06-21  11670
11847   96648  1996-07-08    1996-07-08  1996-07-08  11719
11848   96648  1996-07-08    1996-07-08  2012-11-01  11719
11902   96648  1997-09-02    1997-09-02  1997-09-02  11773
11903   96648  1997-09-02    1997-09-02  2012-12-16  11773
12163   93708  1999-09-13    1999-09-13  1999-09-13  12033
12164   93708  1999-09-13    1999-09-13  2012-11-01  12033
12338   81900  1999-10-25    1999-10-25  1999-10-25  12207
12339   81900  1999-10-25    1999-10-25         NaN  12207
12368   93708  1999-12-13    1999-12-13  1999-12-13  12236
12369   93708  1999-12-13    1999-12-13  2012-11-01  12236
12392   93708  2000-12-18    2000-12-18  2000-12-18  12259
12393   93708  2000-12-18    2000-12-18  2012-11-01  12259
12398   96648  1993-12-13    1993-12-13  1993-12-13  12264
12399   96648  1993-12-13    1993-12-13  2012-12-16  12264
12408   93708  1999-03-08    1999-03-08  1999-03-08  12273
12409   93708  1999-03-08    1999-03-08  2012-12-16  12273
12595   93708  1998-09-28    1998-09-28  1998-09-28  12459
12596   93708  1998-09-28    1998-09-28  2012-11-01  12459

[276 rows x 11 columns]
['2000-12-18' '2012-11-01']
['1999-09-13' '1996-01-02' '2012-12-16']
['1998-06-08' '2012-09-01']
['2000-06-19' '2012-11-01']
['1994-08-01' '2012-11-01']
['1998-07-27' '2012-11-01']
['1997-08-04' '2012-09-01']
['1997-05-05' '2012-09-01']
['1991-12-02' '2012-11-01']
['1990-03-26' '2012-09-01']
['1992-09-28' '2012-09-01']
['2000-12-18' '2012-12-16']
['2001-08-27' '2012-12-16']
['1986-08-11' '1971-12-01' '2012-05-16']
['1998-06-08' '2012-11-01']
['1999-05-10' '2012-11-01']
['1990-07-30' '1986-04-16' '2012-12-16']
['1987-02-02' '2012-12-16']
['1999-10-04' '2012-12-16']
['2001-09-24' '2012-09-01']
['1994-08-01' '2012-12-16']
['1997-03-17' '2012-11-01']
['1996-03-18' '2012-12-16']
['1996-07-08' '2012-12-16']
['1997-05-05' '2012-09-01']
['1999-06-21' '2012-12-16']
['2002-07-29' '2012-12-16']
['2000-09-11' '2012-11-01']
['1985-11-18' '2012-12-16']
['1998-06-08' '1992-06-16' '2012-11-01']
['1994-10-03' '2012-09-01']
['1999-03-08' '2012-12-16']
['1995-07-10' '2012-11-01']
['1999-10-04' '2012-12-16']
['1998-05-26' '2012-12-16']
['1997-05-05' '2012-11-01']
['1992-12-07' '2012-11-01']
['1997-09-02' '1996-09-03' '2012-11-01']
['1998-06-08' '2012-09-01']
['1998-05-26' '2012-11-01']
['1999-11-29' '2012-09-01']
['1991-04-24' '2012-11-01']
['1999-07-12' '2012-11-01']
['1994-12-05' '2012-11-01']
['2002-04-29' '2012-12-16']
['1995-06-05' '2012-09-01']
['1998-02-17' '2012-11-01']
['1999-06-21' '2012-11-01']
['1992-06-29' '2012-11-01']
['1987-12-07' '2012-09-01']
['1986-08-11' '2012-08-13']
['1983-02-14' '2012-11-01']
['1999-12-13' '2012-12-16']
['2001-08-27' '2012-09-01']
['1999-09-13' '2012-12-16']
['2000-08-14' '2012-09-01']
['1986-08-11' '1982-09-01' '2012-11-01']
['1994-09-06' '2012-11-01']
['2001-10-29' '2012-09-01']
['2001-07-30' '2012-12-16']
['1999-06-21' '1990-02-16' '2012-12-16']
['2000-01-24' '2012-11-01']
['2001-10-29' '1990-07-09' '2012-11-01']
['1995-09-05' '2012-12-16']
['1991-11-18' '2012-12-16']
['2000-12-18' '2012-12-16']
['1998-05-26' '2012-09-01']
['1987-02-02' '2012-12-16']
['2000-09-11' '2012-09-01']
['2000-02-28' '2012-11-01']
['1996-11-04' '2012-09-01']
['1994-05-31' '2012-11-01']
['1999-10-04' '2012-11-01']
['1990-07-30' '2012-09-01']
['1996-05-06' '2012-11-01']
['1995-06-05' '2012-09-01']
['1989-12-26' '2012-12-16']
['1991-11-18' '2012-09-01']
['1997-07-07' '2012-11-01']
['1998-03-16' '2012-11-01']
['1991-01-02' '1989-10-31' '2012-09-01']
['1998-03-16' '2012-09-01']
['1998-12-14' '2012-12-16']
['2000-09-11' '2012-09-01']
['1980-01-28' '2012-05-16']
['1996-03-18' '2012-11-01']
['1991-11-18' '2012-09-01']
['1997-08-04' '2012-12-16']
['1997-03-17' '2012-11-01']
['1992-06-29' '2012-12-16']
['1998-11-30' '2001-04-30']
['1996-12-02' '2012-11-01']
['2000-02-28' '2012-12-16']
['1987-12-07' '2012-11-01']
['1999-09-13' '2012-11-01']
['2001-04-30' '2012-09-01']

['1999-03-08' '2012-09-01']
['1986-08-11' '2012-12-14']
['1990-03-26' '2012-12-16']
['2000-12-18' '2012-10-01']
['2001-12-17' '2012-12-16']
['1996-05-06' '2012-11-01']
['1996-12-02' '2012-11-01']
['1999-09-13' '2012-12-16']
['1999-10-25' '1998-04-06' '2012-12-16']
['1996-03-18' '2012-11-01']
['2002-02-25' '2012-11-01']
['2001-04-30' '2012-12-16']
['1997-09-02' '2012-11-01']
['1998-04-13' '2012-09-01']
['1987-12-07' '2012-11-01']
['1998-10-13' '2012-12-16']
['2001-08-27' '2012-11-01']
['1986-12-22' '2012-05-16']
['2002-03-25' '1997-06-02' '2012-09-01']
['1991-12-02' '2012-11-01']
['1992-06-29' '2012-11-01']
['2001-07-30' '1999-09-13' '2012-11-01']
['2000-10-10' '2012-09-01']
['1986-10-13' '2012-12-16']
['2000-02-28' '2012-11-01']
['1985-05-06' '1982-11-16']
['1995-07-10' '2012-11-01']
['1999-12-13' '2012-01-16']
['1999-09-13' '2012-12-16']
['1999-05-10' '2012-11-01']
['1999-06-21' '2012-12-16']
['1996-07-08' '2012-11-01']
['1997-09-02' '2012-12-16']
['1999-09-13' '2012-11-01']
['1999-12-13' '2012-11-01']
['2000-12-18' '2012-11-01']
['1993-12-13' '2012-12-16']
['1999-03-08' '2012-12-16']
['1998-09-28' '2012-11-01']
2012
        First.Name    Last.Name Middle.Initial Suffix.Name  Gender  \
1591         BRYAN       STRONG              A         NaN    MALE
1592         BRYAN       STRONG              A         NaN    MALE
3909         KEVIN      GIBBONS              B         NaN    MALE
3910         KEVIN      GIBBONS              B         NaN    MALE
3968         CAROL       MCGHEE              D         NaN  FEMALE
3969         CAROL       MCGHEE              D         NaN  FEMALE
4001        DANIEL       WARREN              E         NaN    MALE
4002        DANIEL       WARREN              E         NaN    MALE
4075        ERLEEN        BANKS              D         NaN  FEMALE
4076        ERLEEN        BANKS              D         NaN  FEMALE
4129       MICHAEL        BROWN              B         NaN    MALE
4128       MICHAEL        BROWN              B         NaN    MALE
4152        JOSEPH        TRACY              L         NaN    MALE
4153        JOSEPH        TRACY              L         NaN    MALE
4205        GERALD        NEALS              L         NaN    MALE
4206        GERALD        NEALS              L         NaN    MALE
4214        THOMAS      DOHERTY              M         NaN    MALE
4215        THOMAS      DOHERTY              M         NaN    MALE
4276        THOMAS        OLSON            NaN         NaN    MALE
4277        THOMAS        OLSON            NaN         NaN    MALE
4367   CHRISTOPHER  LIAKOPOULOS              J         NaN    MALE
4368   CHRISTOPHER  LIAKOPOULOS              J         NaN    MALE
4704        GERALD       HOLDEN              K         NaN    MALE
4705        GERALD       HOLDEN              K         NaN    MALE
4727       MICHAEL       CHORBA              J         NaN    MALE
4726       MICHAEL       CHORBA              J         NaN    MALE
4775       TIMOTHY       OBRIEN              J         NaN    MALE
4776       TIMOTHY       OBRIEN              J         NaN    MALE
4828       MICHAEL      CHUCHRO              J         NaN    MALE
4829       MICHAEL      CHUCHRO              J         NaN    MALE
...            ...          ...            ...         ...     ...
10252     ROSILYNN       SUTTON              A         NaN  FEMALE
10251     ROSILYNN       SUTTON              A         NaN  FEMALE
10298       BRYANT        NEELY              M         NaN    MALE
10299       BRYANT        NEELY              M         NaN    MALE
10313       AILEEN       OGRADY              M         NaN  FEMALE
10314       AILEEN       OGRADY              M         NaN  FEMALE
10427       MARTIN        LOPEZ              C         NaN    MALE
10428       MARTIN        LOPEZ              C         NaN    MALE
10676         GARY      KILLMER              S         NaN    MALE
10677         GARY      KILLMER              S         NaN    MALE
10950      ANTHONY        BLAKE              R         NaN    MALE
10951      ANTHONY        BLAKE              R         NaN    MALE
11014        ISAAC          LEE            NaN          JR    MALE
11013        ISAAC          LEE            NaN          JR    MALE
11472   CHRISTOPHE      MEADERS              D         NaN    MALE
11471   CHRISTOPHE      MEADERS              D         NaN    MALE
11506        JERRY    PENTIMONE              J         NaN    MALE
11507        JERRY    PENTIMONE              J         NaN    MALE
11613      ANTHONY        LOPEZ              R         NaN    MALE
11614      ANTHONY        LOPEZ              R         NaN    MALE
11875         JOHN    ESCALANTE              J         NaN    MALE
11876         JOHN    ESCALANTE              J         NaN    MALE
11907      ANTHONY       RICCIO              J         NaN    MALE
11908      ANTHONY       RICCIO              J         NaN    MALE
12115     PATRICIA        WALSH              A         NaN  FEMALE
12116     PATRICIA        WALSH              A         NaN  FEMALE
12140        WAYNE    GULLIFORD              M         NaN    MALE
12141        WAYNE    GULLIFORD              M         NaN    MALE
12425        BRIAN      TIERNEY              J         NaN    MALE
12426        BRIAN      TIERNEY              J         NaN    MALE

       Age.at.Hire  Salary  Start.Date Org.Hire.Date    SPP.Date    TID
1591            30   84756  1997-08-04    2007-08-04  1997-08-04   1592
1592            30   84756  1997-08-04    2007-08-04         NaN   1592
3909          -999   81900         NaN    2002-10-28         NaN   3909
3910          -999   81900         NaN    2002-10-28  2013-06-16   3909
3968            27   81900  2002-09-30    2002-09-30  2002-09-30   3967
3969            27   81900  2002-09-30    2002-09-30  2013-05-16   3967
4001            23   81900  2002-09-30    2002-09-30  2002-09-30   3999
4002            23   81900  2002-09-30    2002-09-30  2013-05-16   3999
4075            31   81900  2002-05-28    2002-05-28  2002-05-28   4072
4076            31   81900  2002-05-28    2002-05-28  2013-06-16   4072
4129            31   81900  2002-04-29    2002-04-29  2013-05-16   4124
4128            31   81900  2002-04-29    2002-04-29  2002-04-29   4124
4152            24   78012  2002-03-25    2002-03-25  2002-03-25   4147
4153            24   78012  2002-03-25    2002-03-25         NaN   4147
4205            34   84396  2002-02-25    2002-02-25  2002-02-25   4199
4206            34   84396  2002-02-25    2002-02-25  2013-02-16   4199
4214            27   84396  2002-02-25    2002-02-25  2002-02-25   4207
4215            27   84396  2002-02-25    2002-02-25  2013-02-16   4207
4276            25   84396  2001-12-17    2001-12-17  2001-12-17   4268
4277            25   84396  2001-12-17    2001-12-17  2013-05-20   4268
4367            22   81900  2001-09-24    2001-09-24  2001-09-24   4358
4368            22   81900  2001-09-24    2001-09-24  2013-06-16   4358
4704            24   81900  2001-03-26    2001-03-26  2001-03-26   4694
4705            24   81900  2001-03-26    2001-03-26  2013-05-16   4694
4727            25   81900  2001-02-05    2001-02-05  2013-05-16   4715
4726            25   81900  2001-02-05    2001-02-05  2001-02-05   4715
4775            30   84396  2000-12-18    2000-12-18  2000-12-18   4763
4776            30   84396  2000-12-18    2000-12-18  2013-02-16   4763
4828            22   81900  2000-12-18    2000-12-18  2000-12-18   4815
4829            22   81900  2000-12-18    2000-12-18  2013-05-16   4815
...            ...     ...         ...           ...         ...    ...
10252           31   87918  1993-11-22    1991-09-01         NaN  10157
10251           31   87918  1993-11-22    1991-09-01  1993-11-22  10157
10298           26   90540  1991-06-19    1991-06-19  1991-06-19  10203
10299           26   90540  1991-06-19    1991-06-19  2013-02-16  10203
10313           30   90540  1991-05-22    1991-05-22  1991-05-22  10217
10314           30   90540  1991-05-22    1991-05-22  2013-02-16  10217
10427           24   87918  1991-03-27    1991-03-27  1991-03-27  10330
10428           24   87918  1991-03-27    1991-03-27         NaN  10330
10676           23   83706  1990-08-27    1990-08-27  1990-08-27  10578
10677           23   83706  1990-08-27    1990-08-27         NaN  10578
10950           24   90540  1990-03-26    1990-03-26  1990-03-26  10851
10951           24   90540  1990-03-26    1990-03-26  2013-02-16  10851
11014           28   87918  1990-03-26    1990-03-26  2013-05-16  10913
11013           28   87918  1990-03-26    1990-03-26  1990-03-26  10913
11472           26   93192  1988-04-13    1987-04-13  2013-02-16  11370
11471           26   93192  1988-04-13    1987-04-13  1988-04-13  11370
11506           29   93192  1987-04-13    1987-04-13  1987-04-13  11404
11507           29   93192  1987-04-13    1987-04-13  2013-02-16  11404
11613           28   93192  1988-01-01    1986-12-22  1988-01-01  11510
11614           28   93192  1988-01-01    1986-12-22  2013-02-16  11510
11875           22  176532  1986-08-11    1986-08-11  2013-07-01  11771
11876           22  176532  1986-08-11    1986-08-11         NaN  11771
11907           24  162012  1986-08-11    1986-08-11         NaN  11802
11908           24  162012  1986-08-11    1986-08-11  2013-07-01  11802
12115           28  162012  1986-02-03    1986-02-03         NaN  12009
12116           28  162012  1986-02-03    1986-02-03  2013-11-01  12009
12140           27  176532  1985-12-16    1985-12-16  2013-05-16  12033
12141           27  176532  1985-12-16    1985-12-16         NaN  12033
12425           33   87372  1994-12-05    1982-05-03         NaN  12317
12426           33   87372  1994-12-05    1982-05-03  2013-02-16  12317

[220 rows x 11 columns]
['1997-08-04' '2007-08-04']
['2002-10-28' '2013-06-16']
['2002-09-30' '2013-05-16']
['2002-09-30' '2013-05-16']
['2002-05-28' '2013-06-16']
['2002-04-29' '2013-05-16']
['2002-02-25' '2013-02-16']
['2002-02-25' '2013-02-16']
['2001-12-17' '2013-05-20']
['2001-09-24' '2013-06-16']
['2001-03-26' '2013-05-16']
['2001-02-05' '2013-05-16']
['2000-12-18' '2013-02-16']
['2000-12-18' '2013-05-16']
['2000-12-18' '2013-05-16']
['2000-10-10' '2013-05-16']
['2000-10-10' '2013-02-16']
['2000-09-11' '2013-05-16']
['2000-08-14' '2013-02-16']
['2000-06-19' '2013-02-16']
['2000-02-28' '2013-06-16']
['2000-02-28' '2013-02-16']
['2000-01-24' '2013-02-16']
['2000-01-24' '2013-02-16']
['2000-01-24' '2013-05-16']
['1999-12-13' '2013-02-16']
['1999-11-29' '2013-05-16']
['1999-11-29' '2013-02-16']
['1999-11-29' '2013-02-16']
['1999-11-15' '2013-02-16']
['1999-11-15' '2013-02-16']
['1999-09-13' '2013-02-16']
['1999-05-10' '2013-02-16']
['1999-03-08' '2013-02-16']
['1999-03-08' '2013-02-16']
['1998-12-14' '2013-02-16']
['1998-12-14' '2013-02-16']
['1998-12-14' '2013-02-16']
['1998-08-31' '2013-05-16']
['1998-08-31' '2013-02-16']
['1998-08-31' '2013-02-16']
['1998-06-29' '2013-02-16']
['1998-06-08' '2013-02-16']
['1998-06-08' '2013-02-16']
['1998-06-08' '2013-02-16']
['1998-02-17' '2013-02-16']
['1998-02-17' '2013-02-16']
['1997-09-02' '2013-02-16']
['1997-09-02' '2013-02-16']
['1997-08-04' '2013-02-16']
['1997-08-04' '2013-02-16']
['1997-08-04' '2013-02-16']
['1997-08-04' '2013-02-16']
['1997-07-07' '2013-02-16']
['1997-07-07' '2013-02-16']
['1997-05-05' '2013-02-16']
['1997-03-17' '2013-02-16']
['1996-12-02' '2013-02-16']
['1996-12-02' '2013-02-16']
['1996-12-02' '2013-02-16']
['1996-05-06' '2013-02-16']
['1996-05-06' '2013-02-16']
['1996-03-18' '2013-02-16']
['1996-03-18' '2013-02-16']
['1996-03-18' '2013-02-16']
['1996-03-18' '2013-02-16']
['1995-09-05' '2013-02-16']
['1995-08-07' '2013-02-16']
['1995-06-05' '2013-02-16']
['1998-06-29' '1995-05-16' '2013-05-16']
['1995-02-06' '2013-05-16']
['1995-02-06' '2013-02-16']
['1995-01-03' '2013-12-16']
['1995-01-03' '2013-02-16']
['1995-01-03' '2013-02-16']
['1994-10-03' '2013-02-16']
['1994-09-06' '2013-05-16']
['1994-09-06' '2013-02-16']
['1994-07-05' '2013-09-01']
['1994-07-05' '2013-02-16']
['1994-07-05' '2013-02-16']
['2000-10-10' '1994-06-01' '2013-02-16']
['1993-11-22' '2013-02-16']
['1993-11-22' '2013-02-16']
['1992-12-07' '2013-02-16']
['1992-06-29' '2013-05-16']
['1992-01-02' '2013-02-16']
['1992-01-02' '2013-05-16']
['1993-11-22' '1991-09-01']
['1991-06-19' '2013-02-16']
['1991-05-22' '2013-02-16']
['1990-03-26' '2013-02-16']
['1990-03-26' '2013-05-16']
['1988-04-13' '1987-04-13' '2013-02-16']
['1987-04-13' '2013-02-16']
['1988-01-01' '1986-12-22' '2013-02-16']
['1986-08-11' '2013-07-01']
['1986-08-11' '2013-07-01']
['1986-02-03' '2013-11-01']
['1985-12-16' '2013-05-16']
['1994-12-05' '1982-05-03' '2013-02-16']
2013

      First.Name   Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
4161      CASSIE        WEST              D         NaN  FEMALE           32
4162      CASSIE        WEST              D         NaN  FEMALE           32
4271        FRED  MARCELLINO              J         NaN    MALE           34
4272        FRED  MARCELLINO              J         NaN    MALE           34
4332      MEAGAN     REMIASZ              M         NaN  FEMALE           22
4333      MEAGAN     REMIASZ              M         NaN  FEMALE           22
4491      THOMAS       OLSON            NaN         NaN    MALE           25
4492      THOMAS       OLSON            NaN         NaN    MALE           25
4511      GERALD     TROGLIA              R         NaN    MALE           23
4512      GERALD     TROGLIA              R         NaN    MALE           23
4521     DOUGLAS   MCDERMOTT              J         NaN    MALE           28
4522     DOUGLAS   MCDERMOTT              J         NaN    MALE           28
4544      JIMMIE       SMITH            NaN         NaN    MALE           34
4543      JIMMIE       SMITH            NaN         NaN    MALE           34
4591       PETER     MCGLYNN              J         NaN    MALE           23
4592       PETER     MCGLYNN              J         NaN    MALE           23
4614     MATTHEW      MALLOY              C         NaN    MALE           22
4615     MATTHEW      MALLOY              C         NaN    MALE           22
4624     MICHAEL       BURKE              E         NaN    MALE           27
4625     MICHAEL       BURKE              E         NaN    MALE           27
4636     MICHAEL    ANDERSON              A         NaN    MALE           24
4637     MICHAEL    ANDERSON              A         NaN    MALE           24
4667      ROBERT     GALASSI              R         NaN    MALE           23
4668      ROBERT     GALASSI              R         NaN    MALE           23
4669    VIRGINIA       BUCKI              M         NaN  FEMALE           27
4670    VIRGINIA       BUCKI              M         NaN  FEMALE           27
4709       JAMES        PERA              G         NaN    MALE           36
4708       JAMES        PERA              G         NaN    MALE           36
4729       KELLY      CUSACK              A         NaN  FEMALE           25
4730       KELLY      CUSACK              A         NaN  FEMALE           25
...          ...         ...            ...         ...     ...          ...
11500  MAUDESSIE     JOINTER            NaN         NaN  FEMALE           29
11501  MAUDESSIE     JOINTER            NaN         NaN  FEMALE           29
11532     ATHENA      MULLEN              S         NaN  FEMALE           25
11533     ATHENA      MULLEN              S         NaN  FEMALE           25
11570     DONALD    CORCORAN              M         NaN    MALE           26
11571     DONALD    CORCORAN              M         NaN    MALE           26
11579     BRIGID      CRONIN              A         NaN  FEMALE           27
11580     BRIGID      CRONIN              A         NaN  FEMALE           27
11682     MARVIN       OTTEN              F         NaN    MALE           32
11683     MARVIN       OTTEN              F         NaN    MALE           32
11689   BERSCOTT        RUIZ              F         NaN    MALE           28
11690   BERSCOTT        RUIZ              F         NaN    MALE           28
11725    SHERELL      SPARKS              D         NaN  FEMALE           32
11724    SHERELL      SPARKS              D         NaN  FEMALE           32
11755       JOHN    HANIACEK              A         NaN    MALE           24
11756       JOHN    HANIACEK              A         NaN    MALE           24
11804     STEVEN       DOYLE              G         NaN    MALE           26
11805     STEVEN       DOYLE              G         NaN    MALE           26
11877      JAMES     MULLINS              L         NaN    MALE           35
11878      JAMES     MULLINS              L         NaN    MALE           35
12139       PAUL       TONER              J         NaN    MALE           23
12140       PAUL       TONER              J         NaN    MALE           23
12260       PAUL   HERNANDEZ              G         NaN    MALE           25
12261       PAUL   HERNANDEZ              G         NaN    MALE           25
12286      VANCE      BONNER              E         NaN    MALE           24
12287      VANCE      BONNER              E         NaN    MALE           24
12327      DAVID      DORKEN              E         NaN    MALE           27
12328      DAVID      DORKEN              E         NaN    MALE           27
12372       JOHN  BROWNRIDGE              M         NaN    MALE           29
12373       JOHN  BROWNRIDGE              M         NaN    MALE           29

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
4161    82788  2002-09-30    2002-09-30  2002-09-30   4162
4162    82788  2002-09-30    2002-09-30         NaN   4162
4271    99444  2002-07-29    2002-07-29  2002-07-29   4271
4272    99444  2002-07-29    2002-07-29  2014-06-16   4271
4332    99444  2002-04-29    2002-04-29  2002-04-29   4331
4333    99444  2002-04-29    2002-04-29  2014-06-16   4331
4491    89562  2001-12-17    2001-12-17  2014-06-16   4489
4492    89562  2001-12-17    2001-12-17         NaN   4489
4511    99444  2001-12-17    2001-12-17  2001-12-17   4508
4512    99444  2001-12-17    2001-12-17  2014-05-01   4508
4521    89562  2001-12-17    2001-12-17  2001-12-17   4517
4522    89562  2001-12-17    2001-12-17  2014-06-16   4517
4544    99444  2001-10-29    2001-10-29  2014-02-16   4538
4543    99444  2001-10-29    2001-10-29  2001-10-29   4538
4591    99444  2001-09-24    2001-09-24  2001-09-24   4585
4592    99444  2001-09-24    2001-09-24  2014-06-16   4585
4614    99444  2001-09-24    2001-09-24  2001-09-24   4607
4615    99444  2001-09-24    2001-09-24  2014-05-01   4607
4624    86910  2001-08-27    2001-08-27  2001-08-27   4616
4625    86910  2001-08-27    2001-08-27  2014-07-16   4616
4636    99444  2001-08-27    2001-08-27  2001-08-27   4627
4637    99444  2001-08-27    2001-08-27  2014-02-16   4627
4667    86910  2001-08-27    2001-08-27  2001-08-27   4657
4668    86910  2001-08-27    2001-08-27  2014-07-16   4657
4669    99444  2001-08-27    2001-08-27  2001-08-27   4658
4670    99444  2001-08-27    2001-08-27  2014-05-01   4658
4709    99444  2001-07-30    2001-07-30  2014-06-16   4696
4708    99444  2001-07-30    2001-07-30         NaN   4696
4729    99444  2001-07-30    2001-07-30  2001-07-30   4716
4730    99444  2001-07-30    2001-07-30  2014-05-01   4716
...       ...         ...           ...         ...    ...
11500  109278  1988-01-25    1988-01-25  1988-01-25  11278
11501  109278  1988-01-25    1988-01-25  2014-06-16  11278
11532  109278  1987-12-07    1987-12-07         NaN  11309
11533  109278  1987-12-07    1987-12-07  2014-05-01  11309
11570   91404  1987-12-07    1987-12-07         NaN  11346
11571   91404  1987-12-07    1987-12-07  1987-12-07  11346
11579   91404  1987-12-07    1987-12-07  1987-12-07  11354
11580   91404  1987-12-07    1987-12-07         NaN  11354
11682  109278  1987-03-09    1987-03-09  2014-06-16  11456
11683  109278  1987-03-09    1987-03-09         NaN  11456
11689  162012  1987-03-09    1987-03-09         NaN  11462
11690  162012  1987-03-09    1987-03-09  2014-05-01  11462
11725  102564  1995-12-04    1987-02-16         NaN  11496
11724  102564  1995-12-04    1987-02-16  2014-06-16  11496
11755  109278  1986-12-22    1986-12-22         NaN  11526
11756  109278  1986-12-22    1986-12-22  2014-05-01  11526
11804  109278  1988-06-01    1986-11-17  1988-06-01  11574
11805  109278  1988-06-01    1986-11-17  2014-06-16  11574
11877  109278  1986-10-13    1986-10-13         NaN  11646
11878  109278  1986-10-13    1986-10-13  2014-02-16  11646
12139  109278  1986-06-16    1986-06-16  1986-06-16  11907
12140  109278  1986-06-16    1986-06-16  2014-07-01  11907
12260   91404  1985-07-01    1985-07-01         NaN  12027
12261   91404  1985-07-01    1985-07-01  1985-07-01  12027
12286  109278  1987-04-13    1985-05-16         NaN  12052
12287  109278  1987-04-13    1985-05-16  2014-06-16  12052
12327   91404  1985-03-04    1985-03-04         NaN  12092
12328   91404  1985-03-04    1985-03-04  1985-03-04  12092
12372   96084  1986-06-16    1983-02-14  2014-12-01  12136
12373   96084  1986-06-16    1983-02-14  1986-06-16  12136

[476 rows x 11 columns]
['2002-07-29' '2014-06-16']
['2002-04-29' '2014-06-16']
['2001-12-17' '2014-06-16']
['2001-12-17' '2014-05-01']
['2001-12-17' '2014-06-16']
['2001-10-29' '2014-02-16']
['2001-09-24' '2014-06-16']
['2001-09-24' '2014-05-01']
['2001-08-27' '2014-07-16']
['2001-08-27' '2014-02-16']
['2001-08-27' '2014-07-16']
['2001-08-27' '2014-05-01']
['2001-07-30' '2014-06-16']
['2001-07-30' '2014-05-01']
['2001-06-25' '2014-06-16']
['2001-05-29' '2014-06-16']
['2001-05-29' '2014-05-01']
['2001-05-29' '2014-05-01']
['2001-04-30' '2014-06-16']
['2001-04-30' '2014-02-16']
['2001-04-30' '2014-02-16']
['2001-03-26' '2014-05-01']
['2001-02-05' '2014-06-16']
['2001-02-05' '2014-07-01']
['2001-02-05' '2014-06-16']
['2000-12-18' '2014-06-16']
['2000-12-18' '2014-06-16']
['2000-12-18' '2014-02-16']
['2000-12-18' '2014-07-16']
['2000-12-18' '2014-06-16']
['2000-12-18' '2014-05-01']
['2001-09-24' '2000-11-06' '2014-06-16']
['2000-10-10' '2014-05-01']
['2000-10-10' '2014-04-01']
['2000-10-10' '2014-02-16']
['2000-09-11' '2014-05-01']
['2000-09-11' '2014-06-16']
['2000-09-11' '2014-06-16']
['2000-09-11' '2014-05-01']
['2000-09-11' '2014-02-16']
['2000-09-11' '2014-02-16']
['2000-08-14' '2014-12-01']
['2000-08-14' '2014-06-16']
['2000-08-14' '2014-06-16']
['2000-08-14' '2014-06-16']
['2000-08-14' '2014-06-16']
['2000-08-14' '2014-02-16']
['2000-06-19' '2014-06-16']
['2000-06-19' '2014-06-16']
['2000-06-19' '2014-06-16']
['2000-02-28' '2014-06-16']
['2000-02-28' '2014-05-01']
['2000-02-28' '2014-06-16']
['2000-02-28' '2014-06-16']
['2000-01-24' '2014-06-16']
['2000-01-24' '2014-06-16']
['2000-01-24' '2014-05-01']
['2000-01-24' '2014-06-16']
['2000-01-24' '2014-06-16']
['1999-12-13' '2014-06-16']
['1999-12-13' '2014-07-16']
['1999-11-29' '2014-05-01']
['1999-11-15' '2014-06-16']
['1999-11-15' '2014-12-01']
['1999-11-15' '2014-05-01']
['1999-11-15' '2014-05-01']
['1999-11-15' '2014-06-16']
['1999-10-25' '2014-06-16']
['1999-10-25' '2014-05-01']
['1999-10-25' '2014-06-16']
['1999-10-25' '2014-06-16']
['1999-09-13' '2014-06-16']
['1999-09-13' '2014-05-01']
['1999-07-12' '2014-02-16']
['1999-07-12' '2014-06-16']
['1999-07-12' '2014-06-16']
['1999-06-21' '2014-05-01']
['1999-06-21' '2014-06-16']
['2002-03-25' '1999-06-21' '2014-05-01']
['1999-05-10' '2014-05-01']
['1999-05-10' '2014-06-16']
['1999-05-10' '2014-06-16']
['1999-05-10' '2014-06-16']
['1999-05-10' '2014-06-16']
['1999-05-10' '2014-05-01']
['1999-05-10' '2014-12-01']
['1999-05-10' '2014-06-16']
['1999-03-08' '2014-05-01']
['1998-12-14' '2014-05-01']
['1998-12-14' '2014-05-01']
['1998-12-14' '2014-06-16']
['1998-11-30' '2014-05-01']
['1998-11-30' '2014-06-16']
['1998-11-30' '2014-05-01']
['1998-10-26' '2014-06-16']
['1998-10-13' '2014-05-01']
['1998-10-13' '2014-06-16']
['1998-10-13' '2014-06-16']
['1998-09-28' '2014-05-01']
['1998-09-28' '2014-06-16']
['1998-09-28' '2014-06-16']
['1998-08-31' '2014-06-16']
['1998-08-31' '2014-06-16']
['1998-08-31' '2014-06-16']
['1998-08-31' '2014-06-16']
['2000-06-19' '1998-08-18' '2014-06-16']
['1998-07-27' '2014-05-01']
['1998-07-27' '2014-06-16']
['1998-07-27' '2014-06-16']
['1998-06-29' '2014-05-01']
['1998-06-29' '2014-02-16']
['1998-06-08' '2014-06-16']
['1998-06-08' '2014-06-16']
['1998-06-08' '2014-04-01']
['1998-06-08' '2014-06-16']
['1998-06-08' '2014-05-01']
['1998-06-08' '2014-05-01']
['1998-05-26' '2014-05-01']
['1998-03-16' '2014-06-16']
['1998-03-16' '2014-05-01']
['1998-03-16' '2014-06-16']
['1997-09-02' '2014-02-16']
['1997-09-02' '2014-06-16']
['1997-09-02' '2014-02-16']
['1997-09-02' '2014-06-16']
['1997-09-02' '2014-06-16']
['1998-06-08' '1997-08-18' '2014-06-16']
['1997-08-04' '2014-06-16']
['1997-08-04' '2014-06-16']
['1997-07-07' '2014-05-01']
['1997-07-07' '2014-06-16']
['1997-07-07' '2014-07-01']
['1997-07-07' '2014-06-16']
['1997-07-07' '2014-06-16']

['1997-07-07' '2014-06-16']
['2001-12-17' '1997-06-02' '2014-02-16']
['1996-12-02' '2014-06-16']
['1996-12-02' '2014-07-01']
['1996-12-02' '2014-06-16']
['1996-12-02' '2014-06-16']
['1996-12-02' '2014-06-16']
['1996-11-04' '2014-06-16']
['1996-11-04' '2014-06-16']
['1996-08-05' '2014-02-16']
['1996-08-05' '2014-06-16']
['1996-08-05' '2014-06-16']
['1996-07-08' '2014-06-16']
['1996-05-06' '2014-02-16']
['1996-05-06' '2014-05-01']
['1999-06-21' '1996-04-16' '2014-06-16']
['1996-03-18' '2014-06-16']
['1996-03-18' '2014-12-01']
['1996-03-18' '2014-07-01']
['1995-12-04' '2014-05-01']
['1995-12-04' '2014-02-16']
['1995-12-04' '2014-05-01']
['1995-10-23' '2014-02-16']
['1995-10-23' '2014-06-16']
['1995-10-23' '2014-06-16']
['1995-09-05' '2014-02-16']
['1995-09-05' '2014-04-01']
['1995-09-05' '2014-06-16']
['1995-09-05' '2014-06-16']
['1995-09-05' '2014-07-01']
['1995-09-05' '2014-05-01']
['1995-09-05' '2014-06-16']
['1995-09-05' '2014-05-01']
['1995-08-07' '2014-05-01']
['1995-08-07' '2014-05-01']
['1995-08-07' '2014-05-01']
['1995-07-10' '2014-05-01']
['1995-06-05' '2014-05-01']
['1995-06-05' '2014-05-01']
['1995-06-05' '2014-05-01']
['1998-03-16' '1995-03-01' '2014-06-16']
['1995-01-03' '2014-02-16']
['1994-12-05' '2014-06-16']
['1994-10-03' '2014-02-16']
['1994-10-03' '2014-06-16']
['1996-11-04' '1994-10-03' '2014-05-01']
['1994-10-03' '2014-06-16']
['1994-10-03' '2014-02-16']
['1994-09-06' '2014-06-16']
['1994-08-01' '2014-05-01']
['1994-08-01' '2014-06-16']
['1994-07-05' '2014-06-16']
['1994-05-31' '2014-02-16']
['1994-05-31' '2014-06-16']
['1994-05-02' '2014-02-16']
['1994-05-02' '2014-06-16']
['1994-05-02' '2014-06-16']
['1993-11-22' '2014-06-16']
['1993-11-22' '2014-06-16']
['1995-07-10' '1993-06-16' '2014-02-16']
['1993-05-17' '2014-02-16']
['1992-06-29' '2014-06-16']
['1992-01-02' '2014-05-01']
['1992-01-02' '2014-06-16']
['1991-12-16' '2014-06-16']
['1991-12-16' '2014-05-01']
['1991-12-16' '2014-05-01']
['1991-12-02' '2014-06-16']
['1991-06-19' '2014-06-16']
['1991-04-24' '2014-05-01']
['1991-04-24' '2014-05-01']
['1991-03-27' '2014-06-16']
['1991-02-27' '2014-06-16']
['1991-01-30' '2014-05-01']
['1991-01-02' '2014-06-16']
['1991-01-02' '2014-05-01']
['1991-01-02' '2014-02-16']
['1990-08-27' '2014-06-16']
['1990-08-27' '2014-06-16']
['1990-07-30' '2014-05-01']
['1990-03-26' '2014-05-01']
['1990-03-26' '2014-02-16']
['1990-03-26' '2014-06-16']
['1988-11-07' '2014-06-16']
['1991-03-27' '1988-09-12' '2014-02-16']
['1988-01-25' '2014-06-16']
['1987-12-07' '2014-05-01']
['1987-03-09' '2014-06-16']
['1987-03-09' '2014-05-01']
['1995-12-04' '1987-02-16' '2014-06-16']
['1986-12-22' '2014-05-01']
['1988-06-01' '1986-11-17' '2014-06-16']
['1986-10-13' '2014-02-16']
['1986-06-16' '2014-07-01']
['1987-04-13' '1985-05-16' '2014-06-16']
['1986-06-16' '1983-02-14' '2014-12-01']
2014
        First.Name     Last.Name Middle.Initial Suffix.Name  Gender  \
2410         BRIAN       CONLISK              J         NaN    MALE
2411         BRIAN       CONLISK              J         NaN    MALE
2660       TIFFANY      SANTIAGO              C         NaN  FEMALE
2661       TIFFANY      SANTIAGO              C         NaN  FEMALE
2703          DAWN         WHITE              M         NaN  FEMALE
2704          DAWN         WHITE              M         NaN  FEMALE
2762       RICHARD  STEINBRENNER              R         NaN    MALE
2763       RICHARD  STEINBRENNER              R         NaN    MALE
2920         NENAD  DRAGOJLOVICH            NaN         NaN    MALE
2921         NENAD  DRAGOJLOVICH            NaN         NaN    MALE
4337         PETER      KOCHANNY              R         NaN    MALE
4336         PETER      KOCHANNY              R         NaN    MALE
4617      NICHOLAS         OLSEN              A         NaN    MALE
4618      NICHOLAS         OLSEN              A         NaN    MALE
4714         KATIE    CHICZEWSKI              M         NaN  FEMALE
4715         KATIE    CHICZEWSKI              M         NaN  FEMALE
4774         JERRY       DOSKOCZ              D         NaN    MALE
4775         JERRY       DOSKOCZ              D         NaN    MALE
4804        GEORGE      HILBRING              H         NaN    MALE
4805        GEORGE      HILBRING              H         NaN    MALE
4836        EDWARD    VILLALOBOS              M         NaN    MALE
4837        EDWARD    VILLALOBOS              M         NaN    MALE
4858         JASON        VOGLER              J         NaN    MALE
4859         JASON        VOGLER              J         NaN    MALE
4900           TOM        PAPPAS            NaN         NaN    MALE
4899           TOM        PAPPAS            NaN         NaN    MALE
4912          LISA         EITEL            NaN         NaN  FEMALE
4913          LISA         EITEL            NaN         NaN  FEMALE
4922         BRIAN       RANIERE              P         NaN    MALE
4923         BRIAN       RANIERE              P         NaN    MALE
...            ...           ...            ...         ...     ...
11609       THOMAS    SCHIPPLICK              D         NaN    MALE
11642  CHRISTOPHER          WARE              D         NaN    MALE
11641  CHRISTOPHER          WARE              D         NaN    MALE
11657        EDDIE       JOHNSON              T         NaN    MALE
11658        EDDIE       JOHNSON              T         NaN    MALE
11759        MARIA          PENA              C         NaN  FEMALE
11760        MARIA          PENA              C         NaN  FEMALE
11876        KEVIN          RYAN              P         NaN    MALE
11877        KEVIN          RYAN              P         NaN    MALE
11924        JAMES         JONES              E         NaN    MALE
11925        JAMES         JONES              E         NaN    MALE
11942    CORNELIUS        DOWNEY              M         NaN    MALE
11943    CORNELIUS        DOWNEY              M         NaN    MALE
11991         ERIC    WASHINGTON              T         NaN    MALE
11990         ERIC    WASHINGTON              T         NaN    MALE
12055        EDDIE         WELCH              L         III    MALE
12056        EDDIE         WELCH              L         III    MALE
12074       EUGENE           ROY              J         NaN    MALE
12075       EUGENE           ROY              J         NaN    MALE
12076       EUGENE           ROY              J         NaN    MALE
12107         JOHN     ESCALANTE              J         NaN    MALE
12108         JOHN     ESCALANTE              J         NaN    MALE
12132      ANTHONY        RICCIO              J         NaN    MALE
12133      ANTHONY        RICCIO              J         NaN    MALE
12222         FRED        WALLER              L         NaN    MALE
12223         FRED        WALLER              L         NaN    MALE
12394       EUGENE        CARONE              F         NaN    MALE
12395       EUGENE        CARONE              F         NaN    MALE
12483        HOMER        WALTON            NaN         NaN    MALE
12484        HOMER        WALTON            NaN         NaN    MALE

       Age.at.Hire  Salary  Start.Date Org.Hire.Date    SPP.Date    TID
2410          -999   80778         NaN    2007-04-30         NaN   2411
2411          -999   80778         NaN    2007-04-30  2013-05-16   2411
2660          -999   80778         NaN    2006-10-30         NaN   2660
2661          -999   80778         NaN    2006-10-30  2013-05-16   2660
2703          -999   80778         NaN    2006-09-25         NaN   2702
2704          -999   80778         NaN    2006-09-25  2013-05-16   2702
2762          -999   97212         NaN    2006-08-28  2013-05-16   2760
2763          -999   97212         NaN    2006-08-28  2015-05-16   2760
2920          -999   80778         NaN    2006-05-22         NaN   2917
2921          -999   80778         NaN    2006-05-22  2013-05-16   2917
4337          -999  100440         NaN    2003-02-24  2015-05-16   4332
4336          -999  100440         NaN    2003-02-24  2013-05-16   4332
4617            22  100440  2002-09-30    2002-09-30  2002-09-30   4612
4618            22  100440  2002-09-30    2002-09-30  2015-05-16   4612
4714            22   87780  2002-05-28    2002-05-28  2002-05-28   4708
4715            22   87780  2002-05-28    2002-05-28  2015-08-01   4708
4774            26   87780  2002-03-25    2002-03-25  2002-03-25   4767
4775            26   87780  2002-03-25    2002-03-25  2015-08-01   4767
4804            22   87780  2002-03-25    2002-03-25  2002-03-25   4796
4805            22   87780  2002-03-25    2002-03-25  2015-08-01   4796
4836            29   90456  2002-02-25    2002-02-25  2002-02-25   4827
4837            29   90456  2002-02-25    2002-02-25  2015-11-16   4827
4858            25   90456  2002-02-25    2002-02-25  2002-02-25   4848
4859            25   90456  2002-02-25    2002-02-25  2015-11-16   4848
4900            33   90456  2001-12-17    2001-12-17  2015-04-16   4888
4899            33   90456  2001-12-17    2001-12-17  2001-12-17   4888
4912            34   90456  2001-12-17    2001-12-17  2001-12-17   4900
4913            34   90456  2001-12-17    2001-12-17  2015-04-16   4900
4922            30   87780  2001-12-17    2001-12-17         NaN   4909
4923            30   87780  2001-12-17    2001-12-17  2001-12-17   4909
...            ...     ...         ...           ...         ...    ...
11609           25   99888  1988-11-07    1988-11-07  2015-04-16  11411
11642           26   93648  1996-05-06    1988-07-01  2015-04-16  11443
11641           26   93648  1996-05-06    1988-07-01  1996-05-06  11443
11657           28  185364  1988-05-02    1988-05-02  2015-12-16  11458
11658           28  185364  1988-05-02    1988-05-02         NaN  11458
11759           24  170112  1987-12-07    1987-12-07         NaN  11559
11760           24  170112  1987-12-07    1987-12-07  2015-12-16  11559
11876           24  170112  1987-03-09    1987-03-09         NaN  11675
11877           24  170112  1987-03-09    1987-03-09  2015-12-16  11675
11924           29  170112  1986-12-22    1986-12-22         NaN  11722
11925           29  170112  1986-12-22    1986-12-22  2015-12-16  11722
11942           26   99888  1986-12-22    1986-12-22  1986-12-22  11739
11943           26   99888  1986-12-22    1986-12-22  2015-11-16  11739
11991           29  170112  1986-11-17    1986-11-17  2015-03-01  11786
11990           29  170112  1986-11-17    1986-11-17         NaN  11786
12055           22  185364  1986-10-13    1986-10-13  2015-10-16  11850
12056           22  185364  1986-10-13    1986-10-13         NaN  11850
12074           33  185364  1986-09-08    1986-09-08         NaN  11868
12075           33  185364  1986-09-08    1986-09-08  2015-12-16  11868
12076           33  185364  1986-09-08    1986-09-08  2015-03-16  11868
12107           22  197724  1986-08-11    1986-08-11  2015-10-16  11899
12108           22  197724  1986-08-11    1986-08-11         NaN  11899
12132           24  185364  1986-08-11    1986-08-11  2015-03-16  11923
12133           24  185364  1986-08-11    1986-08-11         NaN  11923
12222           25  170112  1986-06-16    1986-06-16         NaN  12012
12223           25  170112  1986-06-16    1986-06-16  2015-03-01  12012
12394           29   99888  1985-04-08    1985-04-08  1985-04-08  12183
12395           29   99888  1985-04-08    1985-04-08  2015-11-16  12183
12483           26   99888  1982-06-14    1982-06-14  1982-06-14  12271
12484           26   99888  1982-06-14    1982-06-14  2015-11-16  12271

[424 rows x 11 columns]
['2007-04-30' '2013-05-16']
['2006-10-30' '2013-05-16']
['2006-09-25' '2013-05-16']
['2006-08-28' '2013-05-16' '2015-05-16']
['2006-05-22' '2013-05-16']
['2003-02-24' '2015-05-16' '2013-05-16']
['2002-09-30' '2015-05-16']
['2002-05-28' '2015-08-01']
['2002-03-25' '2015-08-01']
['2002-03-25' '2015-08-01']
['2002-02-25' '2015-11-16']
['2002-02-25' '2015-11-16']
['2001-12-17' '2015-04-16']
['2001-12-17' '2015-04-16']
['2001-10-29' '2015-05-16']
['2001-09-24' '2015-11-16']
['2001-09-24' '2015-11-16']
['2001-09-24' '2015-05-16']
['2001-09-24' '2015-04-16']
['2001-07-30' '2015-11-16']
['2001-07-30' '2015-04-16']
['2001-06-25' '2015-11-16']
['2001-06-25' '2015-11-16']
['2001-06-25' '2015-05-16']
['2001-04-30' '2015-05-16']
['2001-04-30' '2015-08-01']
['2001-04-30' '2015-04-16']
['2001-03-26' '2015-04-16']
['2001-03-26' '2015-04-16']
['2001-03-26' '2015-08-01']
['2001-03-26' '2015-08-01']
['2001-02-05' '2015-04-16']
['2001-02-05' '2015-11-16']
['2000-12-18' '2015-04-16']
['2000-12-18' '2015-04-16']
['2000-12-18' '2015-11-16']
['2000-10-10' '2015-11-16']
['2000-10-10' '2015-11-16']
['2000-10-10' '2015-03-01']
['2000-10-10' '2015-11-16']
['2000-10-10' '2015-04-16']
['2000-09-11' '2015-05-16']
['2000-09-11' '2015-04-16']
['2000-09-11' '2015-04-16']
['2000-09-11' '2015-11-16']
['2000-09-11' '2015-04-16']
['2000-09-11' '2015-08-01']
['2000-09-11' '2015-04-16']
['2000-09-11' '2015-04-16']
['2000-08-14' '2015-04-16']
['2000-08-14' '2015-11-16']
['2000-08-14' '2015-04-16']
['2000-06-19' '2015-04-16']
['2000-02-28' '2015-04-16']
['2000-02-28' '2015-11-16']
['2000-02-28' '2015-04-16']
['2000-02-28' '2015-04-16']
['2000-01-24' '2015-04-16']
['1999-12-13' '2015-05-16']
['1999-12-13' '2015-02-01']
['1999-11-29' '2015-11-16']
['1999-11-29' '2015-04-16']
['1999-11-29' '2015-11-16']
['1999-11-29' '2015-04-16']
['1999-11-29' '2015-04-16']
['1999-11-15' '2015-04-16']
['1999-11-15' '2015-04-16']
['1999-11-15' '2015-11-16']
['1999-10-25' '2015-04-16']
['1999-10-25' '2015-04-16']
['1999-10-25' '2015-08-01']
['1999-10-04' '2015-04-16']
['1999-10-04' '2015-11-16']
['1999-08-02' '2015-04-16']
['1999-08-02' '2015-05-16']
['1999-07-12' '2015-11-16']
['1999-06-21' '2015-11-16']
['1999-06-21' '2015-05-16']
['1999-06-21' '2015-04-16']
['1999-05-10' '2015-11-16']
['1999-05-10' '2015-11-16']
['1999-05-10' '2015-04-16']
['1999-05-10' '2015-04-16']
['1999-03-08' '2015-04-16']
['1999-03-08' '2015-04-16']
['1998-12-14' '2015-08-01']
['1998-11-30' '2015-04-16']
['1998-11-30' '2015-04-16']
['1998-11-30' '2015-04-16']
['1998-11-30' '2015-04-16']
['1998-11-30' '2015-04-16']
['1998-11-30' '2015-04-16']
['1998-10-26' '2015-04-16']
['1998-10-26' '2015-11-16']
['1998-10-26' '2015-04-16']
['1998-10-13' '2015-04-16']
['1998-10-13' '2015-04-16']
['1998-10-13' '2015-11-16']
['1998-09-28' '2015-04-16']
['1998-09-28' '2015-05-16']
['1998-08-31' '2015-04-16']
['1998-08-31' '2015-04-16']
['1998-08-31' '2015-04-16']
['1998-08-31' '2015-04-16']
['1998-08-31' '2015-05-01']
['1998-08-17' '2007-08-16']
['2000-01-24' '1998-06-17' '2015-11-16']
['1998-06-08' '2015-11-16']
['1998-05-26' '2015-11-16']

['1998-05-26' '2015-11-16']
['2000-02-28' '1998-05-11' '2015-08-01']
['1998-03-16' '2015-11-16']
['1998-03-16' '2015-11-16']
['1999-06-21' '1997-09-08' '2015-04-16']
['1997-09-02' '2015-04-16']
['1997-09-02' '2015-04-16']
['1997-09-02' '2015-04-16']
['1997-08-04' '2015-04-16']
['1997-08-04' '2015-08-01']
['1999-06-21' '1997-07-07' '2015-04-16']
['2000-08-14' '1997-06-30' '2015-04-16']
['1997-05-05' '2015-11-16' '2015-03-01']
['1996-12-02' '2015-11-16']
['1999-07-12' '1996-10-28' '2015-04-16']
['1996-08-05' '2015-04-16']
['1996-05-06' '2015-11-16']
['1996-05-06' '2015-08-01']
['1999-10-25' '1996-04-01' '2015-11-16']
['1996-03-18' '2015-11-16']
['1996-03-18' '2015-04-16']
['1996-03-18' '2015-08-01']
['1995-12-04' '2015-11-16']
['1995-10-23' '2015-04-16']
['1995-09-05' '2015-11-16']
['1995-08-07' '2015-04-16']
['1995-08-07' '2015-04-16']
['1995-08-07' '2015-04-16']
['1995-08-07' '2015-05-16']
['1995-07-10' '2015-04-16']
['1995-07-10' '2015-04-16']
['1995-06-05' '2015-11-16']
['1995-06-05' '2015-04-16']
['1998-06-29' '1995-05-16']
['1995-02-06' '2015-04-16']
['1995-01-03' '2015-04-16']
['1995-01-03' '2015-04-16']
['1995-01-03' '2015-04-16']
['1995-01-03' '2015-11-16']
['1994-12-05' '2015-03-01']
['1994-09-06' '2015-04-16']
['1994-08-01' '2015-12-16']
['1994-08-01' '2015-08-01']
['1994-07-05' '2015-04-16']
['1994-07-05' '2015-05-16']
['1994-07-05' '2015-09-01']
['1994-07-05' '2015-04-16']
['2000-06-19' '1994-06-16' '2015-05-16']
['1994-05-02' '2015-04-16']
['1994-05-02' '2015-04-16']
['1994-01-18' '2015-04-16']
['1994-01-18' '2015-04-16']
['1994-01-18' '2015-04-16']
['1994-01-18' '2015-04-16']
['1993-12-13' '2015-04-16']
['1993-11-22' '2015-04-16']
['1993-11-22' '2015-11-16']
['1993-05-17' '2015-04-16']
['1992-09-28' '2015-04-16']
['1992-01-02' '2015-04-16']
['1992-01-02' '2015-04-16']
['1992-01-02' '2015-11-16']
['1991-12-16' '2015-11-16']
['1991-12-02' '2015-12-16']
['1991-12-02' '2015-08-01']
['1991-12-02' '2015-04-16']
['1991-12-02' '2015-04-16']
['1991-12-02' '2015-03-01']
['1991-11-18' '2015-04-16']
['1991-06-19' '2015-04-16']
['1991-05-22' '2015-04-16']
['1991-03-27' '2015-04-16']
['1991-03-27' '2015-04-16']
['1991-01-30' '2015-04-16']
['1991-01-30' '2015-11-16']
['1990-07-30' '2015-10-16']
['1990-03-26' '2015-04-16']
['1989-12-26' '2015-03-01']
['1989-12-26' '2015-11-16']
['1998-11-30' '1989-06-19' '2015-11-16']
['1988-12-05' '2015-11-16']
['1988-11-07' '2015-04-16']
['1996-05-06' '1988-07-01' '2015-04-16']
['1988-05-02' '2015-12-16']
['1987-12-07' '2015-12-16']
['1987-03-09' '2015-12-16']
['1986-12-22' '2015-12-16']
['1986-12-22' '2015-11-16']
['1986-11-17' '2015-03-01']
['1986-10-13' '2015-10-16']
['1986-09-08' '2015-12-16' '2015-03-16']
['1986-08-11' '2015-10-16']
['1986-08-11' '2015-03-16']
['1986-06-16' '2015-03-01']
['1985-04-08' '2015-11-16']
['1982-06-14' '2015-11-16']
2015
      First.Name  Last.Name Middle.Initial Suffix.Name  Gender  Age.at.Hire  \
13        EMMERT   GAUTHIER            NaN         NaN    MALE           32
14        EMMERT   GAUTHIER            NaN         NaN    MALE           32
248         MARK      LEMUS              A         NaN    MALE           23
249         MARK      LEMUS              A         NaN    MALE           23
265     RANDOLPH    NICHOLS              J         NaN    MALE           24
266     RANDOLPH    NICHOLS              J         NaN    MALE           24
270      MELISSA    STAPLES              A         NaN  FEMALE           25
271      MELISSA    STAPLES              A         NaN  FEMALE           25
329       ROBERT      WOODS              L         NaN    MALE           27
330       ROBERT      WOODS              L         NaN    MALE           27
369       JOSEPH      QUINN              F         III    MALE         -999
368       JOSEPH      QUINN              F         III    MALE         -999
427      WILLIAM    MORALES            NaN         NaN    MALE           27
428      WILLIAM    MORALES            NaN         NaN    MALE           27
620       DANIEL   SCHAEDEL              F         NaN    MALE           24
621       DANIEL   SCHAEDEL              F         NaN    MALE           24
771         MARK     POKUTA              S         NaN    MALE           27
772         MARK     POKUTA              S         NaN    MALE           27
870       DANIEL  GOOSHERST              P         NaN    MALE           24
871       DANIEL  GOOSHERST              P         NaN    MALE           24
908        JAMES    BERLAGE              J         NaN    MALE         -999
907        JAMES    BERLAGE              J         NaN    MALE         -999
1021        JOEL     KELLER              T         NaN    MALE           23
1022        JOEL     KELLER              T         NaN    MALE           23
1043     MICHAEL  COSENTINO              J         NaN    MALE           24
1044     MICHAEL  COSENTINO              J         NaN    MALE           24
1147      ROBERT      GARZA            NaN         NaN    MALE           29
1148      ROBERT      GARZA            NaN         NaN    MALE           29
1247     VINCENT   CERVENKA              J         NaN    MALE           24
1248     VINCENT   CERVENKA              J         NaN    MALE           24
...          ...        ...            ...         ...     ...          ...
11732   AQUARIUS    LEONARD              M         NaN  FEMALE           25
11731   AQUARIUS    LEONARD              M         NaN  FEMALE           25
11773       ENID   SANTIAGO              J         NaN  FEMALE           27
11774       ENID   SANTIAGO              J         NaN  FEMALE           27
11802      DELON     FREUND              D         NaN    MALE         -999
11803      DELON     FREUND              D         NaN    MALE         -999
11895     KESHIA   FRIERSON            NaN         NaN  FEMALE           34
11896     KESHIA   FRIERSON            NaN         NaN  FEMALE           34
11921    WILLIAM      LOHSE              A         NaN    MALE         -999
11920    WILLIAM      LOHSE              A         NaN    MALE         -999
12006      JAMES   ODONNELL              C         NaN    MALE           21
12007      JAMES   ODONNELL              C         NaN    MALE           21
12089     STEVEN   COMPOSTO              J         NaN    MALE           29
12090     STEVEN   COMPOSTO              J         NaN    MALE           29
12099   TREMAYNE       HALL              R         NaN    MALE           23
12100   TREMAYNE       HALL              R         NaN    MALE           23
12312       JOHN       GRIB              R         NaN    MALE           24
12313       JOHN       GRIB              R         NaN    MALE           24
12319   JENNIFER    COLLINS              M         NaN  FEMALE         -999
12318   JENNIFER    COLLINS              M         NaN  FEMALE         -999
12386    SHANNON     MARTIN              M         NaN    MALE           24
12387    SHANNON     MARTIN              M         NaN    MALE           24
12438     DEIDRA      WELLS              L         NaN  FEMALE         -999
12439     DEIDRA      WELLS              L         NaN  FEMALE         -999
12449    GREGORY    STACKER              A         NaN    MALE           32
12450    GREGORY    STACKER              A         NaN    MALE           32
12596       NEIL  SHELTONEL              T         NaN    MALE           31
12597       NEIL  SHELTONEL              T         NaN    MALE           31
12698       CHAU        NGO              T         NaN    MALE           30
12699       CHAU        NGO              T         NaN    MALE           30

       Salary  Start.Date Org.Hire.Date    SPP.Date    TID
13      86142  1999-11-29    1999-11-29  1999-11-29     14
14      86142  1999-11-29    1999-11-29         NaN     14
248    104628  1998-08-31    1998-08-31  1998-08-31    248
249    104628  1998-08-31    1998-08-31  2016-06-01    248
265    107988  1995-06-05    1995-06-05  1995-06-05    264
266    107988  1995-06-05    1995-06-05  2016-06-01    264
270    185364  1991-12-02    1991-12-02  2016-09-16    268
271    185364  1991-12-02    1991-12-02         NaN    268
329    107988  1995-12-04    1995-12-04  1995-12-04    326
330    107988  1995-12-04    1995-12-04  2016-02-01    326
369     90432         NaN    2002-10-28  2016-04-08    364
368     90432         NaN    2002-10-28         NaN    364
427    104628  1998-10-26    1998-10-26  1998-10-26    422
428    104628  1998-10-26    1998-10-26  2016-02-01    422
620    107988  1994-07-05    1994-07-05         NaN    614
621    107988  1994-07-05    1994-07-05  2016-02-01    614
771    104628  2001-02-05    2001-02-05         NaN    764
772    104628  2001-02-05    2001-02-05  2016-06-01    764
870    104628  1998-07-27    1998-07-27  1998-07-27    862
871    104628  1998-07-27    1998-07-27  2016-02-01    862
908     90432         NaN    2002-10-28         NaN    898
907     90432         NaN    2002-10-28  2016-05-01    898
1021   104628  1999-07-12    1999-07-12         NaN   1011
1022   104628  1999-07-12    1999-07-12  2016-02-01   1011
1043    97080  1996-07-08    1996-07-08  1996-07-08   1032
1044    97080  1996-07-08    1996-07-08  2016-10-16   1032
1147   104628  1999-11-29    1999-11-29         NaN   1135
1148   104628  1999-11-29    1999-11-29  2016-02-01   1135
1247    93588  1999-03-08    1999-03-08  1999-03-08   1234
1248    93588  1999-03-08    1999-03-08  2016-07-16   1234
...       ...         ...           ...         ...    ...
11732  104628  2000-01-24    2000-01-24  2016-06-01  11580
11731  104628  2000-01-24    2000-01-24         NaN  11580
11773  104628  1997-05-05    1997-05-05  1997-05-05  11621
11774  104628  1997-05-05    1997-05-05  2016-06-01  11621
11802  101442         NaN    2003-08-25         NaN  11649
11803  101442         NaN    2003-08-25  2016-06-01  11649
11895  101442  2002-09-30    2002-09-30  2002-09-30  11740
11896  101442  2002-09-30    2002-09-30  2016-06-01  11740
11921  101442         NaN    2006-11-27  2016-02-01  11764
11920  101442         NaN    2006-11-27  2013-05-16  11764
12006  170112  1986-06-16    1986-06-16         NaN  11849
12007  170112  1986-06-16    1986-06-16  2016-09-01  11849
12089  107988  1994-05-31    1994-05-31         NaN  11931
12090  107988  1994-05-31    1994-05-31  2016-06-01  11931
12099   93588  2001-09-24    2001-09-24  2001-09-24  11940
12100   93588  2001-09-24    2001-09-24  2016-04-08  11940
12312  104628  2000-08-14    2000-08-14  2000-08-14  12152
12313  104628  2000-08-14    2000-08-14  2016-02-01  12152
12319   90432         NaN    2004-09-27  2016-09-01  12157
12318   90432         NaN    2004-09-27  2016-04-08  12157
12386  104628  2001-02-05    2001-02-05  2001-02-05  12224
12387  104628  2001-02-05    2001-02-05  2016-02-01  12224
12438  101442         NaN    2004-01-26  2016-02-01  12275
12439  101442         NaN    2004-01-26  2015-08-01  12275
12449  107988  1996-05-06    1996-05-06  1996-05-06  12285
12450  107988  1996-05-06    1996-05-06  2016-06-01  12285
12596   90432  2002-08-26    2002-08-26  2002-08-26  12431
12597   90432  2002-08-26    2002-08-26  2016-07-01  12431
12698  104628  1997-05-05    1997-05-05  1997-05-05  12532
12699  104628  1997-05-05    1997-05-05  2016-02-01  12532

[333 rows x 11 columns]
['1998-08-31' '2016-06-01']
['1995-06-05' '2016-06-01']
['1991-12-02' '2016-09-16']
['1995-12-04' '2016-02-01']
['2002-10-28' '2016-04-08']
['1998-10-26' '2016-02-01']
['1994-07-05' '2016-02-01']
['2001-02-05' '2016-06-01']
['1998-07-27' '2016-02-01']
['2002-10-28' '2016-05-01']
['1999-07-12' '2016-02-01']
['1996-07-08' '2016-10-16']
['1999-11-29' '2016-02-01']
['1999-03-08' '2016-07-16']
['1999-10-25' '2016-02-01']
['1998-03-16' '2016-02-01']
['2001-03-26' '2016-06-01']
['1990-08-27' '2016-06-01']
['2000-01-24' '2016-02-01']
['1990-08-27' '2016-06-01']
['2002-10-28' '2016-06-01']
['1991-05-22' '2016-05-01']
['2006-07-31' '2013-05-16']
['2001-04-30' '2016-02-01']
['1999-07-12' '2016-06-01']
['2002-02-25' '2016-07-01']
['2002-12-02' '2013-05-16' '2016-06-01']
['1986-06-16' '2016-04-01']
['1998-12-14' '2016-06-01']
['2000-06-19' '2016-06-01']
['2004-11-29' '2016-05-01' '2012-06-01']
['1981-06-08' '2016-09-01']
['1999-10-25' '2016-06-01']
['1999-03-08' '2016-02-01']
['2002-03-25' '2016-06-01']
['1998-11-30' '2016-06-01']
['2001-08-27' '2016-02-01']
['1996-12-02' '2016-06-01']
['1991-06-19' '2016-06-01']
['1991-12-02' '2016-06-01']
['2001-09-24' '2016-06-01']
['2001-08-27' '2016-02-01']
['2002-04-29' '2016-10-01']
['1985-12-16' '2016-09-16']
['1997-07-07' '2016-02-01']
['2000-08-14' '2016-02-01']
['2000-08-14' '2016-05-01']
['2000-12-18' '2016-06-01']
['1995-10-23' '2016-02-01']
['2006-02-21' '2013-05-16']
['1998-09-28' '2016-06-01']
['2004-09-27' '2013-06-16' '2016-02-01']
['1992-06-29' '2016-02-01']
['1994-05-31' '2016-02-01']
['2002-09-30' '2016-04-08']
['1999-11-29' '2016-07-16']
['2007-04-30' '2016-02-01']
['1999-10-04' '2016-02-01']
['1998-11-30' '2016-06-01']
['2002-10-28' '2016-10-01']
['1995-08-01' '1994-08-01' '2016-02-01']
['1999-05-10' '2016-02-01']
['1986-10-13' '2016-09-16']
['1994-05-02' '2016-10-16']
['2000-10-10' '2016-06-01']
['1999-03-08' '2016-06-01']
['2001-09-24' '2016-02-01']
['1999-05-10' '2016-02-01']
['2001-02-05' '2016-04-08']
['1998-10-13' '2016-02-01']
['1996-12-02' '2016-05-01']
['1997-09-02' '2016-02-01']
['1999-06-21' '2016-02-01']
['2000-02-28' '2016-06-01']
['1998-03-16' '2016-02-01']
['1998-09-28' '2016-07-16']
['1999-11-15' '2016-04-08']
['2007-04-02' '2014-07-16' '2016-02-01']
['1999-10-04' '2016-06-01']
['2002-08-26' '2016-06-01']
['2000-02-28' '2016-06-01']
['1999-07-12' '2016-02-01']
['1994-08-01' '2016-06-16']
['1993-11-22' '2016-04-08']
['1997-05-05' '2016-05-01']
['1991-11-18' '2016-02-01']
['2000-12-18' '2016-02-01']
['1999-12-13' '2016-10-16']
['2002-03-25' '2016-02-01']
['1999-11-15' '2016-06-01']

['2000-09-11' '2016-04-08']
['2000-12-18' '2016-02-01']
['1999-03-08' '2016-02-01']
['1999-06-21' '2016-06-01']
['2006-10-30' '2016-06-01']
['1995-12-04' '2016-06-01']
['2002-04-29' '2016-06-01']
['1996-08-05' '2016-06-01']
['1994-09-06' '1993-05-03' '2016-07-16']
['2002-09-30' '2016-02-01']
['1997-03-17' '2016-06-01']
['1993-05-17' '1988-09-12' '2016-02-01']
['1988-12-05' '2016-06-16']
['1992-01-02' '2016-09-01']
['2002-02-25' '2016-06-01']
['2002-09-30' '1986-06-23' '2016-07-16']
['2002-10-28' '2016-02-01']
['1998-08-31' '2016-06-01']
['2001-04-30' '2016-06-01']
['1994-07-05' '2016-07-16']
['2001-04-30' '1998-11-30']
['1997-07-07' '2016-10-16']
['2000-09-11' '2016-06-01']
['1992-01-02' '2016-07-16']
['1986-06-16' '2016-04-01' '2016-09-16']
['1990-08-27' '2016-02-01']
['2001-12-17' '2016-06-01']
['2000-12-18' '2016-02-01']
['1996-05-06' '2016-02-01']
['1996-11-04' '2016-02-01']
['2000-12-18' '2016-07-01']
['1995-08-07' '2016-06-01']
['2001-10-29' '2016-02-01']
['1999-11-29' '2016-09-01']
['1999-08-02' '2016-02-01']
['1999-09-13' '2016-06-01']
['2000-09-11' '2016-02-01']
['2001-04-30' '2016-02-01']
['1997-09-02' '2016-02-01']
['1999-06-21' '1997-07-07' '2016-02-01']
['1999-06-21' '2016-06-01']
['1998-06-08' '2016-06-01']
['2002-07-29' '2016-07-16']
['2001-09-24' '2016-06-01']
['1991-06-19' '2016-02-01']
['2002-03-25' '2016-06-01']
['2000-08-14' '2016-07-16']
['2000-01-24' '2016-05-01']
['2001-10-29' '2016-07-01']
['2005-12-05' '2013-05-16']
['1994-09-06' '2016-02-01']
['2000-12-18' '2016-06-01']
['2003-10-27' '2016-02-01' '2015-08-01']
['2001-03-26' '2016-02-01']
['2000-01-24' '2016-06-01']
['1997-05-05' '2016-06-01']
['2003-08-25' '2016-06-01']
['2002-09-30' '2016-06-01']
['2006-11-27' '2016-02-01' '2013-05-16']
['1986-06-16' '2016-09-01']
['1994-05-31' '2016-06-01']
['2001-09-24' '2016-04-08']
['2000-08-14' '2016-02-01']
['2004-09-27' '2016-09-01' '2016-04-08']
['2001-02-05' '2016-02-01']
['2004-01-26' '2016-02-01' '2015-08-01']
['1996-05-06' '2016-06-01']
['2002-08-26' '2016-07-01']
['1997-05-05' '2016-02-01']
2016
      First.Name       Last.Name Middle.Initial Suffix.Name  Gender  \
26       GERARDO         GUEVARA              A         NaN    MALE
27       GERARDO         GUEVARA              A         NaN    MALE
191        SCOTT         SHEPARD              D         NaN    MALE
192        SCOTT         SHEPARD              D         NaN    MALE
248       ROBERT          HESKIN              S         NaN    MALE
249       ROBERT          HESKIN              S         NaN    MALE
375      MELISSA         ULDRYCH              M         NaN  FEMALE
376      MELISSA         ULDRYCH              M         NaN  FEMALE
456      MAUREEN  BRESNAHANGILBE            NaN         NaN  FEMALE
455      MAUREEN  BRESNAHANGILBE            NaN         NaN  FEMALE
562        FRANK           PONCE              P         NaN    MALE
563        FRANK           PONCE              P         NaN    MALE
665      MATTHEW          KERLIN              D         NaN    MALE
666      MATTHEW          KERLIN              D         NaN    MALE
675      MICHAEL           BAKER              N         NaN    MALE
676      MICHAEL           BAKER              N         NaN    MALE
701        LOUIS         SZUBERT              K         NaN    MALE
700        LOUIS         SZUBERT              K         NaN    MALE
765        TAKIA      WASHINGTON              D         NaN  FEMALE
766        TAKIA      WASHINGTON              D         NaN  FEMALE
782        BILOS          THOMAS              M         NaN    MALE
783        BILOS          THOMAS              M         NaN    MALE
1159       DAVID       GREENWOOD              P         NaN    MALE
1160       DAVID       GREENWOOD              P         NaN    MALE
1271       FIONA         EICHTEN              T         NaN  FEMALE
1272       FIONA         EICHTEN              T         NaN  FEMALE
1614      DARREN          DEHAAN              W         NaN    MALE
1615      DARREN          DEHAAN              W         NaN    MALE
1652     MATTHEW          CANNON              Z         NaN    MALE
1653     MATTHEW          CANNON              Z         NaN    MALE
...          ...             ...            ...         ...     ...
10060    REBECCA        WEATHERS              L         NaN  FEMALE
10061    REBECCA        WEATHERS              L         NaN  FEMALE
10350    GREGORY           PEREK              R         NaN    MALE
10351    GREGORY           PEREK              R         NaN    MALE
10568     JOSEPH          WAGNER              A         NaN    MALE
10569     JOSEPH          WAGNER              A         NaN    MALE
10572      KATIE      CHICZEWSKI              M         NaN  FEMALE
10573      KATIE      CHICZEWSKI              M         NaN  FEMALE
10595       SEAN           DAVIS              L         NaN    MALE
10596       SEAN           DAVIS              L         NaN    MALE
10711      JOSUE           ORTIZ              A         NaN    MALE
10710      JOSUE           ORTIZ              A         NaN    MALE
10831      DAVID          FIETKO              R         NaN    MALE
10832      DAVID          FIETKO              R         NaN    MALE
10930    ABDALLA        ABUZANAT              H         NaN    MALE
10931    ABDALLA        ABUZANAT              H         NaN    MALE
11031     VICTOR        SANDOVAL              M         NaN    MALE
11032     VICTOR        SANDOVAL              M         NaN    MALE
11056   THEODORE       LAZAUSKAS              V         NaN    MALE
11057   THEODORE       LAZAUSKAS              V         NaN    MALE
11123   MARGARET        WOLANSKI              M         NaN  FEMALE
11124   MARGARET        WOLANSKI              M         NaN  FEMALE
11163    MATTHEW            GRAF              B         NaN    MALE
11164    MATTHEW            GRAF              B         NaN    MALE
11362     TURNER         GOODWIN              L         NaN    MALE
11363     TURNER         GOODWIN              L         NaN    MALE
11943      CRAIG           DAVIS              W         NaN    MALE
11944      CRAIG           DAVIS              W         NaN    MALE
12165     SAMUEL            SOTO            NaN         NaN    MALE
12166     SAMUEL            SOTO            NaN         NaN    MALE

       Age.at.Hire  Salary  Start.Date Org.Hire.Date    SPP.Date    TID
26              26   97440  2001-02-05    2001-02-05  2001-02-05     27
27              26   97440  2001-02-05    2001-02-05  2017-03-01     27
191             25   97440  2001-03-26    2001-03-26  2001-03-26    191
192             25   97440  2001-03-26    2001-03-26  2017-03-01    191
248             22  100980  1995-06-05    1995-06-05  1995-06-05    247
249             22  100980  1995-06-05    1995-06-05  2017-03-01    247
375             28   94122  2002-05-28    2002-05-28  2002-05-28    373
376             28   94122  2002-05-28    2002-05-28  2017-03-01    373
456           -999   94122         NaN    1988-05-09  2016-07-16    452
455           -999   94122         NaN    1988-05-09  2017-03-01    452
562             24   98052  1995-12-04    1995-12-04  1995-12-04    558
563             24   98052  1995-12-04    1995-12-04  2017-02-01    558
665             26   97440  1999-07-12    1999-07-12  1999-07-12    660
666             26   97440  1999-07-12    1999-07-12  2017-03-01    660
675             28   94122  2002-04-29    2002-04-29  2002-04-29    669
676             28   94122  2002-04-29    2002-04-29  2017-03-01    669
701             23   94524  1999-10-04    1999-10-04  2017-01-16    693
700             23   94524  1999-10-04    1999-10-04  1999-10-04    693
765           -999   94122         NaN    2004-09-27  2013-05-16    757
766           -999   94122         NaN    2004-09-27  2017-03-01    757
782             24   97440  2000-01-24    2000-01-24  2000-01-24    773
783             24   97440  2000-01-24    2000-01-24  2017-03-01    773
1159            25   97440  1999-09-13    1999-09-13  1999-09-13   1149
1160            25   97440  1999-09-13    1999-09-13  2017-03-01   1149
1271            30   97440  2000-01-24    2000-01-24  2000-01-24   1260
1272            30   97440  2000-01-24    2000-01-24  2017-03-01   1260
1614            27   97440  1998-06-29    1998-06-29  1998-06-29   1602
1615            27   97440  1998-06-29    1998-06-29  2017-03-01   1602
1652            31   97440  1999-12-13    1999-12-13  1999-12-13   1639
1653            31   97440  1999-12-13    1999-12-13  2017-03-01   1639
...            ...     ...         ...           ...         ...    ...
10060           24   97440  1998-06-29    1998-06-29  1998-06-29  10003
10061           24   97440  1998-06-29    1998-06-29  2017-03-01  10003
10350           24   97440  1999-12-13    1999-12-13  1999-12-13  10292
10351           24   97440  1999-12-13    1999-12-13  2017-03-01  10292
10568           22   97440  2001-07-30    2001-07-30  2001-07-30  10509
10569           22   97440  2001-07-30    2001-07-30  2017-03-01  10509
10572           22   94122  2002-05-28    2002-05-28  2017-03-01  10512
10573           22   94122  2002-05-28    2002-05-28         NaN  10512
10595           27  100980  1996-12-02    1996-12-02  1996-12-02  10534
10596           27  100980  1996-12-02    1996-12-02  2017-03-01  10534
10711           35   94524  1998-02-17    1988-09-12  2017-02-01  10648
10710           35   94524  1998-02-17    1988-09-12  1998-02-17  10648
10831           22   94122  2002-04-29    2002-04-29  2002-04-29  10768
10832           22   94122  2002-04-29    2002-04-29  2017-03-01  10768
10930           27   97440  1998-06-29    1998-06-29  2017-03-01  10866
10931           27   97440  1998-06-29    1998-06-29         NaN  10866
11031           24   97440  1998-07-27    1998-07-27  1998-07-27  10966
11032           24   97440  1998-07-27    1998-07-27  2017-03-01  10966
11056           25   94122  2002-08-26    2002-08-26  2002-08-26  10990
11057           25   94122  2002-08-26    2002-08-26  2017-03-01  10990
11123           25   94122  2002-05-28    2002-05-28  2002-05-28  11056
11124           25   94122  2002-05-28    2002-05-28  2017-03-01  11056
11163           24   97440  2001-08-27    2001-08-27  2001-08-27  11095
11164           24   97440  2001-08-27    2001-08-27  2017-03-01  11095
11362           32   97440  1998-03-16    1998-03-16  1998-03-16  11293
11363           32   97440  1998-03-16    1998-03-16  2017-03-01  11293
11943           29   94524  2000-08-14    2000-08-14  2000-08-14  11872
11944           29   94524  2000-08-14    2000-08-14  2017-02-01  11872
12165         -999   91080         NaN    2008-04-28  2013-06-16  12093
12166         -999   91080         NaN    2008-04-28  2017-03-01  12093

[148 rows x 11 columns]
['2001-02-05' '2017-03-01']
['2001-03-26' '2017-03-01']
['1995-06-05' '2017-03-01']
['2002-05-28' '2017-03-01']
['1988-05-09' '2016-07-16' '2017-03-01']
['1995-12-04' '2017-02-01']
['1999-07-12' '2017-03-01']
['2002-04-29' '2017-03-01']
['1999-10-04' '2017-01-16']
['2004-09-27' '2013-05-16' '2017-03-01']
['2000-01-24' '2017-03-01']
['1999-09-13' '2017-03-01']
['2000-01-24' '2017-03-01']
['1998-06-29' '2017-03-01']
['1999-12-13' '2017-03-01']
['2000-12-18' '2017-03-01']
['2006-07-31' '2013-05-16' '2017-03-01']
['1998-09-28' '2017-02-01']
['1986-07-14' '2017-02-01']
['1998-10-13' '2017-02-01']
['2000-08-14' '2017-02-01']
['2001-09-24' '2017-02-01']
['1995-02-06' '2017-02-01']
['2000-02-28' '2017-03-01']
['2000-10-10' '2017-03-01']
['2002-05-28' '2000-12-05' '2017-03-01']
['1998-05-26' '2017-03-01']
['2001-04-30' '1990-11-26' '2017-02-01']
['2000-12-18' '2000-04-03' '2017-01-16']
['2007-07-09' '2013-05-16' '2017-03-01']
['2006-03-27' '2017-03-01']
['2001-05-29' '2017-03-01']
['1995-09-05' '2017-02-01']
['2001-05-29' '2017-02-01']
['1997-07-07' '2017-03-01']
['2000-09-11' '2017-03-01']
['2002-09-30' '2017-03-01']
['1991-12-02' '2005-12-07' '2017-02-01']
['2002-10-28' '2017-03-01']
['2002-09-30' '2017-03-01']
['1997-05-05' '2017-03-01']
['1992-01-02' '2017-02-01']
['2001-08-27' '2017-03-01']
['2000-09-11' '2017-02-01']
['2001-04-30' '2017-03-01']
['2002-09-30' '2017-03-01']
['1998-08-31' '2017-01-16']
['2003-10-27' '2014-12-01' '2017-03-01']
['1999-05-10' '2017-03-01']
['2001-06-25' '2017-03-01']
['1997-07-07' '2017-03-01']
['1998-12-14' '2017-03-01']
['2001-04-30' '1998-11-30']
['2006-11-27' '2013-05-16']
['2000-01-24' '2017-03-01']
['1999-06-21' '2017-02-01']
['1995-08-07' '2017-03-01']
['1998-10-13' '2017-03-01']
['1998-08-31' '2017-03-01']
['1998-06-29' '2017-03-01']
['1999-12-13' '2017-03-01']
['2001-07-30' '2017-03-01']
['2002-05-28' '2017-03-01']
['1996-12-02' '2017-03-01']
['1998-02-17' '1988-09-12' '2017-02-01']
['2002-04-29' '2017-03-01']
['1998-06-29' '2017-03-01']
['1998-07-27' '2017-03-01']
['2002-08-26' '2017-03-01']
['2002-05-28' '2017-03-01']
['2001-08-27' '2017-03-01']
['1998-03-16' '2017-03-01']
['2000-08-14' '2017-02-01']
['2008-04-28' '2013-06-16' '2017-03-01']
2017