In [40]:
import pandas as pd
import os
from assign_unique_ids_functions import *

In [41]:
df = pd.read_csv("../input/unit-history.csv.gz")

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
df.loc[df['Unit'] == -999]

,Current.Age,Star2,Star10,Star3,Appointed.Date,Star7,Star6,Star4,Gender,End.Date,...,Effective.Date,Star8,Unit,Star9,Race,Star5,Last.Name,Suffix.Name,First.Name,Middle.Initial
461,63,-999,-999,-999,1980-09-29,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,ADAMS,NaN,JOHN,NaN
692,94,-999,-999,-999,1954-06-16,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AEHLERT,NaN,HENRY,NaN
976,67,-999,-999,-999,1971-10-25,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AHRENS,NaN,JOHN,NaN
977,92,-999,-999,-999,1952-09-29,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AHRENS,NaN,JOSEPH,NaN
986,64,-999,-999,-999,1977-11-01,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AIELLO,NaN,ANTHONY,NaN
1273,70,-999,-999,-999,1967-01-23,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ALESI,NaN,DANIEL,NaN
1370,75,-999,-999,-999,1980-06-23,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,ALEXANDER,NaN,LEROY,NaN
1512,96,-999,-999,-999,1954-10-05,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,ALI,NaN,WILLIAM,NaN
1763,64,-999,-999,-999,1973-06-04,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ALLISON,NaN,THOMAS,NaN
2287,88,-999,-999,-999,1955-02-08,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AMICI,NaN,ANTHONY,NaN
2455,98,-999,-999,-999,1951-07-30,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ANDERSON,NaN,ANDREW,NaN
2587,93,-999,-999,-999,1954-10-01,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,ANDERSON,NaN,HARRY,NaN
2886,98,-999,-999,-999,1946-04-08,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ANDERSON,NaN,WALTER,NaN
3111,84,-999,-999,-999,1957-03-16,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ANDRY,NaN,DONALD,NaN
3481,58,-999,-999,-999,1999-09-13,-999,-999,-999,FEMALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ARAGER,NaN,JOY,NaN
3606,92,-999,-999,-999,1953-10-10,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ARGENTINE,NaN,FRANK,NaN
4137,91,-999,-999,-999,1955-05-01,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AUBIN,NaN,F,NaN
4138,97,-999,-999,-999,1954-02-16,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,AUBIN,JR,EDWARD,NaN
5089,88,-999,-999,-999,1957-07-01,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BAKER,NaN,ROBERT,NaN
5185,85,-999,-999,-999,1957-07-01,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BALCER,NaN,EDMUND,NaN
5229,68,-999,-999,-999,1972-04-03,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BALDASSANO,NaN,ANTHONY,NaN
5305,75,-999,-999,-999,1966-01-24,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BALL,NaN,JAMES,NaN
5407,94,-999,-999,-999,1954-05-03,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BALSKUS,NaN,PETER,NaN
5445,73,-999,-999,-999,1964-06-08,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BANAHAN,NaN,BERNARD,NaN
5777,99,-999,-999,-999,1946-02-18,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BARAN,NaN,JOHN,NaN
5869,89,-999,-999,-999,1955-08-22,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BARANY,NaN,DONALD,NaN
5921,99,-999,-999,-999,1946-02-25,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BARGANSKI,NaN,RALPH,NaN
6285,68,-999,-999,-999,1971-10-25,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BARNHART,NaN,WILLIAM,NaN
6545,90,-999,-999,-999,1957-03-01,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BARRY,NaN,CHARLES,NaN
7297,67,-999,-999,-999,1973-06-04,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,BAXTROM,NaN,CHARLES,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109762,79,-999,-999,-999,1970-03-02,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WESOLEK,NaN,RALPH,NaN
110045,94,-999,-999,-999,1950-04-03,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WHEELER,NaN,JOHN,NaN
110271,88,-999,-999,-999,1953-09-23,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WHITE,NaN,MARTIN,NaN
110326,94,-999,-999,-999,1950-04-03,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WHITE,NaN,ROBT,NaN
110525,67,-999,-999,-999,1971-02-22,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WIEDEMAN,NaN,CARY,NaN
110540,65,-999,-999,-999,1973-06-04,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WIELGUS,NaN,ROBERT,NaN
110578,70,-999,-999,-999,1980-06-23,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WIJTYK,NaN,BOHDAN,NaN
110587,93,-999,-999,-999,1956-10-16,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILBON,NaN,SIDNEY,NaN
110785,69,-999,-999,-999,1980-02-11,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILLIAMS,NaN,BOBBY,NaN
111172,48,-999,-999,-999,2002-04-29,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILLIAMS,NaN,PATRICK,NaN
111179,91,-999,-999,-999,1952-04-14,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILLIAMS,NaN,RAMON,NaN
111648,45,-999,-999,-999,2000-10-10,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILSON,NaN,BRUCE,NaN
111652,97,-999,-999,-999,1953-09-21,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILSON,NaN,CHARLES,NaN
111738,89,-999,-999,-999,1952-12-08,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,WILSON,NaN,LAWRENCE,NaN
112012,96,-999,-999,-999,1955-05-03,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WISNIEWSKI,NaN,ANTHONY,NaN
112034,78,-999,-999,-999,1967-10-23,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WISNIEWSKI,NaN,R,NaN
112231,79,-999,-999,-999,1966-07-11,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WOJCIECHOWSKI,NaN,JOSEPH,NaN
112605,73,-999,-999,-999,1970-05-11,-999,-999,-999,FEMALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WOODS,NaN,LILLIAN,NaN
112922,93,-999,-999,-999,1946-03-25,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WRIGHT,NaN,EDWARD,NaN
112949,68,-999,-999,-999,1968-03-25,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,WRIGHT,NaN,JOHN,NaN
113205,65,-999,-999,-999,1980-01-28,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,YAMICH,JR,JOHN,NaN
113245,95,-999,-999,-999,1946-02-25,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,YANZ,NaN,STANLEY,NaN
113337,66,-999,-999,-999,1972-11-20,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,YOCUM,NaN,BARRY,NaN
113507,92,-999,-999,-999,1959-12-16,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,BLACK,-999,YOUNG,NaN,WALLACE,NaN
113577,90,-999,-999,-999,1953-03-02,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ZABLOTOWICZ,NaN,STANLEY,NaN
113762,90,-999,-999,-999,1954-10-16,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ZALKUS,NaN,ROBERT,NaN
113765,91,-999,-999,-999,1953-07-20,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ZAMB,NaN,CHARLES,NaN
113921,99,-999,-999,-999,1946-04-08,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ZAUG,NaN,LESLIE,NaN
114012,66,-999,-999,-999,1973-02-19,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ZAZZARA,NaN,MICHAEL,NaN
114598,99,-999,-999,-999,1946-03-11,-999,-999,-999,MALE,NaN,...,NaN,-999,-999,-999,WHITE,-999,ZYCH,NaN,ADAM,NaN

In [43]:
stars = ["Star" + str(i) for i in range(1,11)]
dfu = df[["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Race", "Gender", "Current.Age", "Appointed.Date"] + stars].drop_duplicates()

In [44]:
id_cols = ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Appointed.Date", "Current.Age"]

In [48]:
kd = keep_duplicates(dfu, id_cols)[id_cols]
kd['Test'] = 1
td = df.merge(kd, on=id_cols, how='left')
no_unit = td.loc[(td['Test'].isnull()) & (td['Unit'] == -999)][id_cols].drop_duplicates()

In [49]:
no_unit

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Current.Age
461,JOHN,ADAMS,NaN,NaN,1980-09-29,63
692,HENRY,AEHLERT,NaN,NaN,1954-06-16,94
976,JOHN,AHRENS,NaN,NaN,1971-10-25,67
977,JOSEPH,AHRENS,NaN,NaN,1952-09-29,92
986,ANTHONY,AIELLO,NaN,NaN,1977-11-01,64
1273,DANIEL,ALESI,NaN,NaN,1967-01-23,70
1370,LEROY,ALEXANDER,NaN,NaN,1980-06-23,75
1512,WILLIAM,ALI,NaN,NaN,1954-10-05,96
1763,THOMAS,ALLISON,NaN,NaN,1973-06-04,64
2287,ANTHONY,AMICI,NaN,NaN,1955-02-08,88
2455,ANDREW,ANDERSON,NaN,NaN,1951-07-30,98
2587,HARRY,ANDERSON,NaN,NaN,1954-10-01,93
2886,WALTER,ANDERSON,NaN,NaN,1946-04-08,98
3111,DONALD,ANDRY,NaN,NaN,1957-03-16,84
3481,JOY,ARAGER,NaN,NaN,1999-09-13,58
3606,FRANK,ARGENTINE,NaN,NaN,1953-10-10,92
4137,F,AUBIN,NaN,NaN,1955-05-01,91
4138,EDWARD,AUBIN,NaN,JR,1954-02-16,97
5089,ROBERT,BAKER,NaN,NaN,1957-07-01,88
5185,EDMUND,BALCER,NaN,NaN,1957-07-01,85
5229,ANTHONY,BALDASSANO,NaN,NaN,1972-04-03,68
5305,JAMES,BALL,NaN,NaN,1966-01-24,75
5407,PETER,BALSKUS,NaN,NaN,1954-05-03,94
5445,BERNARD,BANAHAN,NaN,NaN,1964-06-08,73
5777,JOHN,BARAN,NaN,NaN,1946-02-18,99
5869,DONALD,BARANY,NaN,NaN,1955-08-22,89
5921,RALPH,BARGANSKI,NaN,NaN,1946-02-25,99
6285,WILLIAM,BARNHART,NaN,NaN,1971-10-25,68
6545,CHARLES,BARRY,NaN,NaN,1957-03-01,90
7297,CHARLES,BAXTROM,NaN,NaN,1973-06-04,67
...,...,...,...,...,...,...
109800,RALPH,WESOLEK,NaN,NaN,1970-03-02,79
110083,JOHN,WHEELER,NaN,NaN,1950-04-03,94
110309,MARTIN,WHITE,NaN,NaN,1953-09-23,88
110364,ROBT,WHITE,NaN,NaN,1950-04-03,94
110563,CARY,WIEDEMAN,NaN,NaN,1971-02-22,67
110578,ROBERT,WIELGUS,NaN,NaN,1973-06-04,65
110616,BOHDAN,WIJTYK,NaN,NaN,1980-06-23,70
110625,SIDNEY,WILBON,NaN,NaN,1956-10-16,93
110823,BOBBY,WILLIAMS,NaN,NaN,1980-02-11,69
111210,PATRICK,WILLIAMS,NaN,NaN,2002-04-29,48
111217,RAMON,WILLIAMS,NaN,NaN,1952-04-14,91
111686,BRUCE,WILSON,NaN,NaN,2000-10-10,45
111690,CHARLES,WILSON,NaN,NaN,1953-09-21,97
111776,LAWRENCE,WILSON,NaN,NaN,1952-12-08,89
112050,ANTHONY,WISNIEWSKI,NaN,NaN,1955-05-03,96
112072,R,WISNIEWSKI,NaN,NaN,1967-10-23,78
112269,JOSEPH,WOJCIECHOWSKI,NaN,NaN,1966-07-11,79
112643,LILLIAN,WOODS,NaN,NaN,1970-05-11,73
112960,EDWARD,WRIGHT,NaN,NaN,1946-03-25,93
112987,JOHN,WRIGHT,NaN,NaN,1968-03-25,68
113243,JOHN,YAMICH,NaN,JR,1980-01-28,65
113283,STANLEY,YANZ,NaN,NaN,1946-02-25,95
113375,BARRY,YOCUM,NaN,NaN,1972-11-20,66
113545,WALLACE,YOUNG,NaN,NaN,1959-12-16,92
113615,STANLEY,ZABLOTOWICZ,NaN,NaN,1953-03-02,90
113800,ROBERT,ZALKUS,NaN,NaN,1954-10-16,90
113803,CHARLES,ZAMB,NaN,NaN,1953-07-20,91
113959,LESLIE,ZAUG,NaN,NaN,1946-04-08,99
114050,MICHAEL,ZAZZARA,NaN,NaN,1973-02-19,66
114636,ADAM,ZYCH,NaN,NaN,1946-03-11,99

In [32]:
td[id_cols + ['Unit', 'Effective.Date','End.Date'] + stars[:4]]

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Current.Age,Unit,Effective.Date,End.Date,Star1,Star2,Star3,Star4
0,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,22,2000-10-12,2000-10-11,13297,-999,-999,-999
1,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,22,2000-10-12,2000-10-11,13297,-999,-999,-999
2,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,22,2000-10-12,2010-02-03,13297,-999,-999,-999
3,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,22,2000-10-12,2010-02-03,13297,-999,-999,-999
4,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,312,2010-02-04,NaN,13297,-999,-999,-999
5,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,312,2010-02-04,NaN,13297,-999,-999,-999
6,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,-999,NaN,NaN,-999,-999,-999,-999
7,JOEL,BENTLEY,NaN,NaN,1999-10-25,39,-999,NaN,NaN,-999,-999,-999,-999
8,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,2,2012-03-04,NaN,4955,-999,-999,-999
9,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,2,2012-03-04,NaN,4955,-999,-999,-999
10,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,4,2001-01-04,2002-12-04,4955,-999,-999,-999
11,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,4,2001-01-04,2002-12-04,4955,-999,-999,-999
12,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,21,2002-12-05,2012-03-03,4955,-999,-999,-999
13,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,21,2002-12-05,2012-03-03,4955,-999,-999,-999
14,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,44,2000-01-24,2001-01-03,4955,-999,-999,-999
15,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,44,2000-01-24,2001-01-03,4955,-999,-999,-999
16,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,-999,NaN,NaN,-999,-999,-999,-999
17,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,-999,NaN,NaN,-999,-999,-999,-999
18,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,-999,NaN,NaN,-999,-999,-999,-999
19,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,-999,NaN,NaN,-999,-999,-999,-999
20,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,20,2000-04-27,2000-04-26,8280,-999,-999,-999
21,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,20,2000-04-27,2000-04-26,8280,-999,-999,-999
22,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,20,2000-04-27,NaN,8280,-999,-999,-999
23,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,20,2000-04-27,NaN,8280,-999,-999,-999
24,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,15,2005-03-03,2005-03-02,15609,15607,-999,-999
25,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,15,2005-03-03,2005-03-02,15609,15607,-999,-999
26,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,15,2005-03-03,2015-01-03,15609,15607,-999,-999
27,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,15,2005-03-03,2015-01-03,15609,15607,-999,-999
28,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,189,2015-01-04,NaN,15609,15607,-999,-999
29,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,189,2015-01-04,NaN,15609,15607,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,JORGE,ROMO,NaN,NaN,1999-06-21,47,12,2012-12-19,2014-01-04,11786,7838,-999,-999
47,JORGE,ROMO,NaN,NaN,1999-06-21,47,12,2012-12-19,2014-01-04,11786,7838,-999,-999
48,JORGE,ROMO,NaN,NaN,1999-06-21,47,13,2005-05-26,2012-12-18,11786,7838,-999,-999
49,JORGE,ROMO,NaN,NaN,1999-06-21,47,13,2005-05-26,2012-12-18,11786,7838,-999,-999
50,JORGE,ROMO,NaN,NaN,1999-06-21,47,17,2014-01-05,NaN,11786,7838,-999,-999
51,JORGE,ROMO,NaN,NaN,1999-06-21,47,17,2014-01-05,NaN,11786,7838,-999,-999
52,JORGE,ROMO,NaN,NaN,1999-06-21,47,44,1999-06-21,2000-05-24,11786,7838,-999,-999
53,JORGE,ROMO,NaN,NaN,1999-06-21,47,44,1999-06-21,2000-05-24,11786,7838,-999,-999
54,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,7,2007-05-24,2015-01-31,10331,-999,-999,-999
55,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,7,2007-05-24,2015-01-31,10331,-999,-999,-999
56,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,44,2005-12-05,2007-05-23,10331,-999,-999,-999
57,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,44,2005-12-05,2007-05-23,10331,-999,-999,-999
58,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,44,2005-12-05,NaN,-999,-999,-999,-999
59,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,44,2005-12-05,NaN,-999,-999,-999,-999
60,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,606,2015-02-01,NaN,10331,-999,-999,-999
61,THOMAS,VARGAS,NaN,NaN,2005-12-05,34,606,2015-02-01,NaN,10331,-999,-999,-999
62,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,-999,NaN,NaN,-999,-999,-999,-999
63,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,-999,NaN,NaN,-999,-999,-999,-999
64,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,11,2013-03-31,NaN,9647,5693,-999,-999
65,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,11,2013-03-31,NaN,9647,5693,-999,-999
66,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,13,2000-04-27,2003-09-17,9647,5693,-999,-999
67,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,13,2000-04-27,2003-09-17,9647,5693,-999,-999
68,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,15,2013-02-03,2013-03-30,9647,5693,-999,-999
69,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,15,2013-02-03,2013-03-30,9647,5693,-999,-999
70,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,44,1999-05-10,2000-04-26,9647,5693,-999,-999
71,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,44,1999-05-10,2000-04-26,9647,5693,-999,-999
72,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,153,2003-09-18,2011-01-05,9647,5693,-999,-999
73,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,153,2003-09-18,2011-01-05,9647,5693,-999,-999
74,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,353,2011-01-06,2013-02-02,9647,5693,-999,-999
75,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,353,2011-01-06,2013-02-02,9647,5693,-999,-999

In [81]:
dfu = AssignUniqueIDs(dfu,id_cols)

In [82]:
tids = KeepDuplicates(dfu, id_cols)['TID'].tolist()

In [83]:
max_cols = stars; uid_col = ['TID']

In [84]:
dfa = dfu[uid_col + max_cols].groupby(uid_col, as_index=False).agg(max)

In [85]:
dfa[dfa['TID'].isin(tids)]

,TID,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Star10
1780,1781,13297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4322,4323,4955.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13862,13863,8280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15454,15455,15609.0,15607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20077,20078,12719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24455,24456,11786.0,7838.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29200,29201,10331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29524,29525,9647.0,5693.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
AggregateData(df, "TID", id_cols,max_cols = stars)

NameError: name 'AggregateData' is not defined

In [87]:
help(AUIDFunctions)

NameError: name 'AUIDFunctions' is not defined