In [8]:
import pandas as pd
from assign_unique_ids_functions import *

In [9]:
df = pd.read_csv('../input/cpd-employees.csv.gz')

In [10]:
df.columns

Index(['Star2', 'Unit.Description', 'Current.Unit', 'Rank', 'Race', 'Star8',
       'Appointed.Date', 'Star10', 'Star3', 'Star7', 'Star4', 'Star9',
       'Gender', 'Current.Status', 'Resignation.Date', 'Birth.Year', 'Star1',
       'Star6', 'Star5', 'Rank.Code', 'Current.Age', 'First.Name', 'Last.Name',
       'Middle.Initial', 'Middle.Initial2', 'Suffix.Name'],
      dtype='object')

In [11]:
df.shape

(32446, 26)

In [14]:
df['First.Name'].value_counts()

JOHN         1516
JAMES        1244
ROBERT       1180
MICHAEL      1111
WILLIAM       834
THOMAS        823
JOSEPH        757
POLICE        649
RICHARD       590
DANIEL        463
DAVID         463
EDWARD        433
ANTHONY       397
CHARLES       361
PATRICK       335
GEORGE        322
RONALD        311
DONALD        294
FRANK         279
KENNETH       261
RAYMOND       228
PAUL          227
KEVIN         226
BRIAN         217
MARK          212
DENNIS        187
TIMOTHY       185
LAWRENCE      182
STEVEN        179
MATTHEW       170
             ...
MAZYAR          1
WILHELMIN       1
MELVILLE        1
BRIEANN         1
JARREDD         1
SUMNER          1
PHYLISS         1
EDNALYN         1
ADMIRA          1
KAVORK          1
MILLIE          1
THERON          1
TAMMRA          1
EVELYNNA        1
KRYSTYNA        1
CONRAY          1
ADOLPHO         1
NIHAL           1
CHUCK           1
OSBIEL          1
WENDEL          1
VENDETTA        1
NIAL            1
ALFIE           1
TEELY           1
TAMAR           1
TRUMAN          1
SOCRATES        1
JAMESA          1
WILFORD         1
Name: First.Name, Length: 3682, dtype: int64

In [13]:
keep_duplicates(df, 
                ['First.Name', 'Last.Name', 'Appointed.Date', 'Birth.Year', 'Gender', 'Race', 'Resignation.Date'])[
    ['First.Name', 'Last.Name','Middle.Initial', 'Suffix.Name',
                 'Middle.Initial2', 'Appointed.Date', 'Birth.Year',
     'Current.Age', 'Resignation.Date', 'Current.Unit', 'Star1', 'Star2']]

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Middle.Initial2,Appointed.Date,Birth.Year,Current.Age,Resignation.Date,Current.Unit,Star1,Star2
13947,AUDREY,JURCZYKOWSKI,A,NaN,NaN,1999-05-10,1970.0,47.0,NaN,20.0,8280.0,NaN
13948,AUDREY,JURCZYKOWSKI,NaN,NaN,NaN,1999-05-10,1970.0,47.0,NaN,NaN,NaN,NaN
30367,ERICK,VONKONDRAT,M,NaN,NaN,1999-05-10,1976.0,41.0,NaN,11.0,9647.0,5693.0
30368,ERICK,VONKONDRAT,NaN,NaN,NaN,1999-05-10,1976.0,41.0,NaN,NaN,NaN,NaN
1261,JAMES,BANSLEY,A,NaN,NaN,2009-12-16,1983.0,33.0,NaN,5.0,10927.0,NaN
1262,JAMES,BANSLEY,H,NaN,NaN,2009-12-16,1983.0,34.0,NaN,4.0,8791.0,NaN
25259,JORGE,ROMO,NaN,NaN,NaN,1999-06-21,1968.0,48.0,NaN,17.0,11786.0,7838.0
25262,JORGE,ROMO,NaN,NaN,NaN,1999-06-21,1968.0,48.0,NaN,NaN,NaN,NaN
4386,JOSE,CHAMBERS,A,NaN,NaN,2000-01-24,1972.0,44.0,NaN,2.0,4955.0,NaN
4387,JOSE,CHAMBERS,A,NaN,NaN,2000-01-24,1972.0,44.0,NaN,NaN,NaN,NaN
21814,POLICE,OFFICER,NaN,NaN,NaN,1990-03-26,1963.0,53.0,NaN,189.0,NaN,NaN
21840,POLICE,OFFICER,NaN,NaN,NaN,1990-03-26,1963.0,53.0,NaN,189.0,NaN,NaN
21420,POLICE,OFFICER,NaN,NaN,NaN,1990-03-26,1965.0,52.0,NaN,192.0,NaN,NaN
21574,POLICE,OFFICER,NaN,NaN,NaN,1990-03-26,1965.0,51.0,NaN,189.0,NaN,NaN
21197,POLICE,OFFICER,G,NaN,NaN,1990-03-26,1967.0,50.0,NaN,542.0,NaN,NaN
21640,POLICE,OFFICER,NaN,NaN,NaN,1990-03-26,1967.0,50.0,NaN,189.0,NaN,NaN
21240,POLICE,OFFICER,NaN,NaN,NaN,1991-11-18,1964.0,52.0,NaN,193.0,NaN,NaN
21682,POLICE,OFFICER,NaN,NaN,NaN,1991-11-18,1964.0,53.0,NaN,189.0,NaN,NaN
21581,POLICE,OFFICER,NaN,NaN,NaN,1991-12-16,1970.0,47.0,NaN,189.0,NaN,NaN
21826,POLICE,OFFICER,NaN,NaN,NaN,1991-12-16,1970.0,46.0,NaN,189.0,NaN,NaN
21395,POLICE,OFFICER,NaN,NaN,NaN,1993-11-22,1967.0,49.0,NaN,193.0,NaN,NaN
21665,POLICE,OFFICER,NaN,NaN,NaN,1993-11-22,1967.0,49.0,NaN,189.0,NaN,NaN
21456,POLICE,OFFICER,NaN,NaN,NaN,1993-12-13,1963.0,53.0,NaN,192.0,NaN,NaN
21719,POLICE,OFFICER,NaN,NaN,NaN,1993-12-13,1963.0,53.0,NaN,189.0,NaN,NaN
21425,POLICE,OFFICER,NaN,NaN,NaN,1994-05-02,1969.0,47.0,NaN,192.0,NaN,NaN
21701,POLICE,OFFICER,NaN,NaN,NaN,1994-05-02,1969.0,47.0,NaN,189.0,NaN,NaN
21302,POLICE,OFFICER,NaN,NaN,NaN,1994-08-01,1969.0,48.0,NaN,193.0,NaN,NaN
21330,POLICE,OFFICER,NaN,NaN,NaN,1994-08-01,1969.0,47.0,NaN,193.0,NaN,NaN
21386,POLICE,OFFICER,NaN,NaN,NaN,1994-08-01,1969.0,47.0,NaN,193.0,NaN,NaN
21276,POLICE,OFFICER,NaN,NaN,NaN,1994-09-06,1967.0,49.0,NaN,193.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21687,POLICE,OFFICER,NaN,NaN,NaN,2003-09-29,1976.0,41.0,NaN,189.0,NaN,NaN
21808,POLICE,OFFICER,NaN,NaN,NaN,2003-09-29,1976.0,40.0,NaN,189.0,NaN,NaN
21317,POLICE,OFFICER,NaN,NaN,NaN,2003-09-29,1978.0,38.0,NaN,193.0,NaN,NaN
21471,POLICE,OFFICER,NaN,NaN,NaN,2003-09-29,1978.0,39.0,NaN,192.0,NaN,NaN
21272,POLICE,OFFICER,NaN,NaN,NaN,2003-10-27,1979.0,37.0,NaN,193.0,NaN,NaN
21372,POLICE,OFFICER,NaN,NaN,NaN,2003-10-27,1979.0,37.0,NaN,193.0,NaN,NaN
21607,POLICE,OFFICER,NaN,NaN,NaN,2004-09-27,1979.0,37.0,NaN,189.0,NaN,NaN
21637,POLICE,OFFICER,NaN,NaN,NaN,2004-09-27,1979.0,37.0,NaN,189.0,NaN,NaN
21260,POLICE,OFFICER,NaN,NaN,NaN,2004-10-25,1979.0,37.0,NaN,193.0,NaN,NaN
21454,POLICE,OFFICER,NaN,NaN,NaN,2004-10-25,1979.0,38.0,NaN,192.0,NaN,NaN
21284,POLICE,OFFICER,NaN,NaN,NaN,2004-10-25,1981.0,35.0,NaN,193.0,NaN,NaN
21506,POLICE,OFFICER,NaN,NaN,NaN,2004-10-25,1981.0,36.0,NaN,191.0,NaN,NaN
21236,POLICE,OFFICER,NaN,NaN,NaN,2005-01-03,1976.0,40.0,NaN,193.0,NaN,NaN
21798,POLICE,OFFICER,NaN,NaN,NaN,2005-01-03,1976.0,40.0,NaN,189.0,NaN,NaN
21382,POLICE,OFFICER,NaN,NaN,NaN,2005-10-31,1981.0,36.0,NaN,193.0,NaN,NaN
21621,POLICE,OFFICER,NaN,NaN,NaN,2005-10-31,1981.0,36.0,NaN,189.0,NaN,NaN
21232,POLICE,OFFICER,NaN,NaN,NaN,2006-11-27,1978.0,38.0,NaN,193.0,NaN,NaN
21836,POLICE,OFFICER,NaN,NaN,NaN,2006-11-27,1978.0,38.0,NaN,189.0,NaN,NaN
21566,POLICE,OFFICER,NaN,NaN,NaN,2006-11-27,1983.0,34.0,NaN,189.0,NaN,NaN
21620,POLICE,OFFICER,NaN,NaN,NaN,2006-11-27,1983.0,33.0,NaN,189.0,NaN,NaN
21340,POLICE,OFFICER,NaN,NaN,NaN,2007-08-27,1983.0,33.0,NaN,193.0,NaN,NaN
21760,POLICE,OFFICER,NaN,NaN,NaN,2007-08-27,1983.0,33.0,NaN,189.0,NaN,NaN
21371,POLICE,OFFICER,NaN,NaN,NaN,2008-04-28,1984.0,32.0,NaN,193.0,NaN,NaN
21394,POLICE,OFFICER,NaN,NaN,NaN,2008-04-28,1984.0,32.0,NaN,193.0,NaN,NaN
20185,STEPHEN,MYTHEN,C,NaN,NaN,2000-09-11,1962.0,54.0,NaN,18.0,12719.0,NaN
20186,STEPHEN,MYTHEN,NaN,NaN,NaN,2000-09-11,1962.0,54.0,NaN,NaN,NaN,NaN
30016,THOMAS,VARGAS,NaN,NaN,NaN,2005-12-05,1981.0,35.0,NaN,606.0,10331.0,NaN
30021,THOMAS,VARGAS,NaN,NaN,NaN,2005-12-05,1981.0,35.0,NaN,44.0,NaN,NaN
20769,TIMOTHY,OBRIEN,P,NaN,NaN,1995-01-03,1967.0,49.0,NaN,630.0,20899.0,8893.0
20771,TIMOTHY,OBRIEN,J,NaN,NaN,1995-01-03,1967.0,49.0,NaN,630.0,21797.0,20380.0